.a-button {
    cursor: pointer;
    padding: rem(12) rem(30);
    font-size: rem(16);
    display: inline-block;
    transition: background .1s linear;
    @extend .ff-DaimlerCS-Demi;
    &:hover {
        background: rgba(color(black),.05);
    }

    &--azure {
        color: color(white);
        background: color(azure);
        &:hover {
            background: lighten(color(azure), 5);
        }
    }
    &--transparent {
        color: color(azure);
        border: 1px solid color(azure);
        &:hover {
            border: 1px solid lighten(color(azure), 5);
        }
    }
    &--file {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: color(white);
        font-size: rem(18);
        padding: rem(21);
        width: 100%;
        box-shadow: 0 2px 20px 0 rgba(color(black), 0.06);
        &:hover {
            background: color(white);
            box-shadow: 0 7px 20px 0 rgba(color(black), 0.1);
        }
        svg {
            position: absolute;
            top: 50%;
            right: rem(21);
            height: rem(34);
            width: rem(34);
            transform: translateY(-50%) rotate(-90deg);
            fill: color(azure);
        }
    }
    &--file-active {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: color(white);
        font-size: rem(18);
        padding: rem(21);
        width: 100%;
        box-shadow: 0 2px 20px 0 rgba(color(black), 0.06);
        opacity: .5;
        &:hover {
            background: color(white);
            box-shadow: 0 7px 20px 0 rgba(color(black), 0.1);
        }
        svg {
            position: absolute;
            top: 50%;
            right: rem(21);
            height: rem(34);
            width: rem(34);
            transform: translateY(-50%);
            fill: color(azure);
        }
    }
    &--name {
        display: flex;
        align-items: center;
        position: relative;
        svg {
            position: relative;
            fill: color(black2);
            top: rem(0);
            left: rem(0);
            margin-right: rem(30);
            transform: none;
        }
    }
}