<div class="l-main-wrapper  l-margin-top--normal">
    <div class="m-accordion-trigger" [ngClass]="{
  'm-accordion-trigger--active': accordionOpen}">

        <div class="m-accordion-trigger__label">
            {{ 'ACCESSORIES' | translate}}
        </div>
        <div class="a-tag">
            <span>
		{{(!!optionalList) ? optionalList.length : ''}}
	</span>
        </div>
        <a (click)="accordionOpen = !accordionOpen">
            <app-svg-icon [icon]="'arrow-down'"></app-svg-icon>
        </a>

    </div>
    <div class="l-white-container" *ngIf="accordionOpen">

        <!-- OPTIONAL SELEZIONATI -->
        <div class="l-main-wrapper">
            <table class="m-table-list">

                <!-- HEADER -->
                <thead class="m-table-list__header">
                <tr class="m-table-list__row">
                    <td class="m-table-list__col  m-table-list__col--empty">
                    </td>
                    <td class="m-table-list__col  m-table-list__col--label">
                        {{ 'CODE' | translate }}
                    </td>
                    <td class="m-table-list__col  m-table-list__col--label">
                        {{ 'DESCRIPTION' | translate }}
                    </td>
                    <td class="m-table-list__col  m-table-list__col--label">
                        {{ 'PRICE_NO_IVA' | translate }}
                    </td>
                    <td class="m-table-list__col  m-table-list__col--label">
                        {{ 'PRICE_IVA' | translate }}
                    </td>
                    <td class="m-table-list__col  m-table-list__col--checkbox">
                        {{ 'DISCOUNT' | translate }}
                    </td>
                    <td class="m-table-list__col  m-table-list__col--empty">
                    </td>
                </tr>
                </thead>

                <!-- BODY -->
                <tbody class="m-table-list__data">
                <tr class="m-table-list__row" *ngFor="let optional of optionalList, let id = index">

                    <td class="m-table-list__col  m-table-list__col--icon" >
                        <label class="a-checkbox" for="sel-{{id}}" *ngIf="isEditing">
                            <input type="checkbox" id="sel-{{id}}" [(ngModel)]="optional.selected" >
                            <span></span>
                        </label>
                    </td>

                    <td class="m-table-list__col  m-table-list__col--label">
                        <div class="h-ellipsis" title="">
                            {{optional.code}}
                        </div>
                    </td>

                    <td class="m-table-list__col  m-table-list__col--label">
                        <div class="h-ellipsis" title="">
                            {{optional.description}}
                        </div>
                    </td>

                    <td class="m-table-list__col  m-table-list__col--label">
                        <div class="h-ellipsis" title="">
                            {{optional.price | currency:'EUR' | currencyFormatter}}
                        </div>
                    </td>

                    <td class="m-table-list__col  m-table-list__col--label">
                        <div class="h-ellipsis" title="">
                            {{priceWithIVA(optional.price) | currency:'EUR' | currencyFormatter}}
                        </div>
                    </td>

                    <!--          <td class="m-table-list__col  m-table-list__col--checkbox">
                    <label class="a-checkbox"> for="field-id-9408">
                      <input type="checkbox" id="{{optional.code}}" >
                    </label>
                  </td> -->

                    <td class="m-table-list__col  m-table-list__col--checkbox">

                        <label class="a-checkbox" for="op-{{id}}" [ngStyle]="{'cursor': isEditing ? 'pointer' : 'default' }">
                            <input type="checkbox" id="op-{{id}}" [(ngModel)]="optional.discount" [disabled]="!isEditing">
                            <span></span>
                        </label>

                    </td>

                    <td class="m-table-list__col  m-table-list__col--icon" *ngIf="isEditing">
                        <a (click)="removeOptional(id)" title="Cestino">
                            <app-svg-icon [icon]="'delete'"></app-svg-icon>
                        </a>
                    </td>

                </tr>
                </tbody>
            </table>
        </div>

        <!-- TAB SELEZIONE MODALITA INSERIMENTO ACCESSORIO -->
        <div *ngIf="isEditing">
            <div class="l-main-wrapper  l-margin-top--normal">
                <div class="m-underline-nav">
                    <a (click)="newOptional = false" class="m-underline-nav__child " style="cursor:pointer;" [ngClass]="{
        'm-underline-nav__child--active':!newOptional}">
                        {{ 'SEARCH_ACCESSORY' | translate }}
                    </a>
                    <a (click)="newOptional = true" class="m-underline-nav__child" style="cursor:pointer;" [ngClass]="{
        'm-underline-nav__child--active':newOptional}">
                        {{ 'INSERT_MANUALLY' | translate }}
                    </a>
                </div>
            </div>

            <div *ngIf="!newOptional">
                <form [formGroup]="searchOptionalForm">
                    <div class="l-main-wrapper  l-margin-top--small">

                        <div class="row l-start l-bottom">
                            <div class="col-4">
                                <div class="a-input">
                                    <div class="a-input__label">
                                        {{ 'Description' | translate }}
                                    </div>
                                    <input type="text" formControlName='description'>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="a-input  a-input--text  ">
                                    <div class="a-input__label">
                                        {{ 'Code' | translate }}
                                    </div>
                                    <input type="text" formControlName='code'>
                                </div>
                            </div>
                            <div class="col-4">
                                <br>
                                <label class="a-checkbox">
                                    <div class="l-main-wrapper  l-margin-top--small">
                                        <div class="l-end">
                                            <div class="a-button  a-button--azure" (click)="searchOptional()">
                                                {{ 'SEARCH' | translate }}
                                            </div>
                                        </div>
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div>
                </form>


            </div>
            <div *ngIf="search && !newOptional">
                <app-infinite-scroll [id]="'mbz-components-scroll__id'" [wrapperHeight]="'200px'"
                                     (throwEvent)="findNextOptionalList()">
                    <div class="l-main-wrapper  l-margin-top--small">
                        <table class="m-table-list  m-table-list--row-hover">

                            <thead class="m-table-list__header">
                            <tr class="m-table-list__row">
                                <td class="m-table-list__col  m-table-list__col--label">
                                    CODICE
                                </td>
                                <td class="m-table-list__col  m-table-list__col--label">
                                    DESCRIZIONE
                                </td>
                                <td class="m-table-list__col  m-table-list__col--label">
                                    IMPORTO (IVA ESCLUSA)
                                </td>
                                <td class="m-table-list__col  m-table-list__col--label">
                                    IMPORTO
                                </td>
                            </tr>
                            </thead>

                            <tbody class="m-table-list__data" *ngFor='let opt of foundOptionalList'>
                            <tr class="m-table-list__row" (click)="addOptional(opt)">
                                <td class="m-table-list__col  m-table-list__col--label">
                                    <div class="h-ellipsis" title={{opt.code}}>
                                        {{opt.code}}
                                    </div>
                                </td>
                                <td class="m-table-list__col  m-table-list__col--label">
                                    <div class="h-ellipsis" title={{opt.description}}>
                                        {{opt.description}}
                                    </div>
                                </td>
                                <td class="m-table-list__col  m-table-list__col--label">
                                    <div class="h-ellipsis" title={{opt.price}}>
                                        {{opt.price | currency:'EUR' | currencyFormatter }}
                                    </div>

                                </td>
                                <td class="m-table-list__col  m-table-list__col--label">
                                    <div class="h-ellipsis" title={{opt.priceWithIVA}} style="align: right">
                                        {{opt.priceWithIVA | currency:'EUR' | currencyFormatter}}
                                    </div>

                                </td>
                            </tr>
                            </tbody>

                        </table>
                    </div>
                </app-infinite-scroll>
            </div>

            <div *ngIf="newOptional">
                <form [formGroup]="customOptionalForm">
                    <div class="l-main-wrapper  l-margin-top--small">

                        <div class="row l-start l-bottom">
                            <div class="col-4">
                                <div class="a-input  a-input--select  ">
                                    <div class="a-input__label">
                                        {{ 'Description' | translate }}
                                    </div>
                                    <input type="text" formControlName='description'>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="a-input  a-input--text  ">
                                    <div class="a-input__label">
                                        {{ 'PRICE' | translate }}
                                    </div>
                                    <input type="text" formControlName='price' currencyMask>
                                </div>
                            </div>
                            <div class="col-1">
                                <br>
                                <label class="a-checkbox" for="customOptionalDiscount">
                                    <input type="checkbox" id="customOptionalDiscount" formControlName="discount">
                                    <span></span>
                                    <div class="ty-body">
                                        {{ 'DISCOUNT' | translate }}
                                    </div>

                                </label>
                            </div>
                            <div class="col-3">
                                <label class="a-checkbox">
                                    <div class="l-main-wrapper  l-margin-top--normal">
                                        <div class="l-end">
                                            <div class="a-button  a-button--azure" (click)="addOptional()">
                                                {{ 'INSERT' | translate}}
                                            </div>
                                        </div>
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
