
  <div class="m-filter-container__wrapper">
    <div class="m-filter-container__col">
      <div class="m-filter-container__child m-filter-container__child-title">
        {{subtitleLabel | translate}}
      </div>
      <div class="m-filter-container__child">
        <app-datepicker-popup [label]="'DATE' | translate" [(strDate)]="endDate" (strDateChange)="dateValue.emit($event)"></app-datepicker-popup>
      </div>
      <div class="m-filter-container__child" *ngIf="!!textLabel">
        <div class="a-input  a-input--text">
          <div class="a-input__label">
            {{textLabel | translate}}
          </div>
          <input type="text" [(ngModel)]="inputText" maxlength="60" placeholder="{{textLabel | translate}}" (change)="textValue.emit(inputText)">
        </div>
      </div>
    </div>
  </div>
