<div class="row">
  <div class="col-12">
    <div class="m-underline-nav ">
      <a style="cursor: pointer;" class="m-underline-nav__child" [ngClass]="{'m-underline-nav__child--active' : selectedTabKey == tab.key}"
      *ngFor="let tab of possibleTabs" (click)="setTab(tab.key); enlargeSection()">
       <span [ngClass]="{'color-label' : selectedTabKey != tab.key, 'color-label_active': selectedTabKey == tab.key}">{{tab.label | translate}}</span>
     </a>
    </div>
  </div>
</div>

<div class="row l-margin-top--small">
    <div class="col-10">
      <div class="ty-primary">
        {{tabLabel | translate}}
      </div>
    </div>
    <div class="col-2 l-end" (click)="enlargeSection()" *ngIf="isStrict">
      <div class="a-button a-button--icon">
        <app-svg-icon [icon]="'move_column'" class="icon iconLarge"></app-svg-icon>
      </div>
    </div>
    <div class="col-2 l-end" (click)="restrictSection()" *ngIf="isSubjectsTabSelected() && !isStrict">
      <div class="a-button a-button--icon">
        <app-svg-icon [icon]="'column'" class="icon iconLarge"></app-svg-icon>
      </div>
    </div>
  </div>