$topnav-background-color: linear-gradient(black, gray);
//$topnav-background-color: black;

:host {
    .navbar {
        background-image: $topnav-background-color;
        //background-color: $topnav-background-color;
        .navbar-brand {
            color: #fff;
        }
        .nav-item > a {
            color: #fff;
            &:hover {
                color: #999;
            }
        }
    }
    .messages {
        width: 300px;
        .media {
            border-bottom: 1px solid #ddd;
            padding: 5px 10px;
            &:last-child {
                border-bottom: none;
            }
        }
        .media-body {
            h5 {
                font-size: 13px;
                font-weight: 600;
            }
            .small {
                margin: 0;
            }
            .last {
                font-size: 12px;
                margin: 0;
            }
        }
    }
}

.center_counter{
    text-align: center;
}

.tool-header {
    justify-content: flex-end;
    text-align: right;
}
.tool-link {
    cursor: pointer;
    margin-right: 10rem;
    color: #00adef;
}