<header class="m-header" *ngIf="headerCondition" id="bigHeader">
    <a class="m-header__logo" (click)="go2(label2link.Home)" style="cursor: pointer">
        <img src="assets/images/mercedesbenz_toe.png" alt="">
    </a>

    <div class="m-header__nav">
        <div class="m-header__links">

            <a class="m-header__link " *ngIf="hasCorporateAndRetailFunc()" (click)="clickOnQueueLink()"
                [ngClass]="{'m-header__link--active': cHeaderLink == label2link.WorkQueue}" style="cursor: pointer">
                {{ 'WORK_QUEUE' | translate }}
            </a>

            <a class="m-header__link " (click)="go2(label2link.Home)"
                [ngClass]="{'m-header__link--active': cHeaderLink == label2link.Home}" style="cursor: pointer">
                {{ 'HOME' | translate }}
            </a>
            <a class="m-header__link " (click)="go2(label2link.Statistics)"
                [ngClass]="{'m-header__link--active': cHeaderLink == label2link.Statistics}" style="cursor: pointer">
                {{ 'STATISTICS' | translate }}
            </a>
            <a class="m-header__link " (click)="clickOnToolsLink()"
                [ngClass]="{'m-header__link--active': cHeaderLink == label2link.Tools}" style="cursor: pointer">
                {{ 'TOOLS' | translate }}
            </a>
            <a class="m-header__link " (click)="go2(label2link.UserManual)"
                [ngClass]="{'m-header__link--active': cHeaderLink == label2link.UserManual}" style="cursor: pointer">
                {{ 'USER_MANUAL' | translate }}
            </a>

            <!--IMPERSONATE -->
            <a class="m-header__link " *ngIf="isAuth2Impersonate()" (click)="openImpersonateContent()"
               [ngClass]="{'m-header__link--active': cHeaderLink == label2link.WorkQueue}" style="cursor: pointer">
                {{ 'IMPERSONATE' | translate }}
            </a>
            <!--            <a class="m-header__link ">

                <app-svg-icon [icon]="'chat'"></app-svg-icon>

            </a>
            <a class="m-header__link">
                <app-svg-icon [icon]="'grid'"></app-svg-icon>
                <div class="a-notification">
                    {{notifications}}
                </div>

            </a>-->
            <a class="m-header__link" *ngIf="!isImpersonating" (click)="variableToUserAndLayout()">
                <app-svg-icon [icon]="'user'"></app-svg-icon>
            </a>
            
            <app-svg-icon *ngIf="isImpersonating" (click)="variableToUserAndLayout()"  class="impersonate_user" [icon]="'user'"></app-svg-icon>
            
        </div>
    </div>
</header>


<div class="m-sub-header" *ngIf="headerCondition">
    <header class="m-header  m-header--small tool-header" [hidden]="!onOverTools" style="top: 9.7rem">
        <div class="m-header__nav">
            <div class="m-header__links">
                <a class="m-header__link tool-link" (click)="goToTool(labelToolsTolink.Subjects)"
                [ngClass]="{'m-header__link--active': toolSubLinkClicked == labelToolsTolink.Subjects}">
                    {{ 'SUBJECTS' | translate }}
                </a>
                <a class="m-header__link tool-link" (click)="goToTool(labelToolsTolink.ConsultProps)"
                [ngClass]="{'m-header__link--active': toolSubLinkClicked == labelToolsTolink.ConsultProps}"
                *ngIf="true">
                    {{ 'CONSULT_PROPS' | translate }}
                </a>
                <a class="m-header__link tool-link" (click)="goToTool(labelToolsTolink.CreditScreen)"
                [ngClass]="{'m-header__link--active': toolSubLinkClicked == labelToolsTolink.CreditScreen}">
                    {{ 'CREDIT_SCREEN' | translate }}
                </a>
                <a class="m-header__link tool-link" (click)="goToTool(labelToolsTolink.Cas)"
                [ngClass]="{'m-header__link--active': toolSubLinkClicked == labelToolsTolink.Cas}">
                    {{ 'CAS' | translate }}
                </a>

            </div>
        </div>
    </header>
    <header class="m-header  m-header--small tool-header" [hidden]="!onOverQueue" style="top: 9.7rem">
        <div class="m-header__nav">
            <div class="m-header__links">
                <a class="m-header__link tool-link" (click)="goToQueue(labelQueueToLink.Retail)"
                [ngClass]="{'m-header__link--active': queueSubLinkClicked == labelQueueToLink.Retail}">
                    {{ 'RETAIL' | translate }}
                </a>
                <a class="m-header__link tool-link" (click)="goToQueue(labelQueueToLink.Corporate)"
                [ngClass]="{'m-header__link--active': queueSubLinkClicked == labelQueueToLink.Corporate}">
                    {{ 'CORPORATE' | translate }}
                </a>
            </div>
        </div>
    </header>
    <div class="m-sub-header__img">
        <img src="assets/images/sub-header-bg.jpeg" alt="">
    </div>

    <div class="m-sub-header__data-box" *ngIf="headerRecap">
        
        <div class="center_counter" *ngIf="checkIfExist(headerRecap.countAttive)">
            <span>
                {{ headerRecap.countAttive | void}}
            </span> {{ 'TO_WORK' | translate }}
        </div>

        <div class="center_counter" *ngIf="checkIfExist(headerRecap.countLavorabili)">
            <span>
                {{ headerRecap.countLavorabili | void}}
            </span> {{ 'WORKABLE' | translate }}
        </div>

        <div class="center_counter" *ngIf="checkIfExist(headerRecap.countSospese)">
            <span>
                {{ headerRecap.countSospese | void}}
            </span> {{ 'SUSPENDED' | translate }}
        </div>

        <div class="center_counter" *ngIf="checkIfExist(headerRecap.countInControlloDocumentale)">
            <span>
                {{ headerRecap.countInControlloDocumentale | void}}
            </span> {{ 'CHECK_DOC' | translate }}
        </div>

        <div class="center_counter" *ngIf="checkIfExist(headerRecap.countInIstruttoria)">
            <span>
                {{ headerRecap.countInIstruttoria | void}}
            </span> {{ 'PRELIMINARY' | translate }}
        </div>
        <div class="center_counter" *ngIf="checkIfExist(headerRecap.countAttivateOggi)">
            <span>
                {{ headerRecap.countAttivateOggi | void}}
            </span> {{ 'ACTIVE_TODAY' | translate }}
        </div>

        <div class="center_counter" *ngIf="checkIfExist(headerRecap.countTouchAndGo)">
            <span>
                {{ headerRecap.countTouchAndGo | void}}
            </span> {{ 'TOUCH_AND_GO' | translate }}
        </div>

        <div class="center_counter" *ngIf="checkIfExist(headerRecap.countUrgenti)">
            <span>
                {{ headerRecap.countUrgenti | void}}
            </span> {{ 'URGENT' | translate }}
        </div>



    </div>

    <div class="m-sub-header__date">{{currentDateString}}</div>
    <!--    <a class="m-sub-header__cta" href="#">{{ 'SEE_STATISTICS' | translate }}</a>-->
</div>


<header class="m-header  m-header--small" *ngIf="!headerCondition" id="smallHeader">
    <a class="m-header__logo" (click)="go2(label2link.Home)" style="cursor: pointer">
        <img src="assets/images/m-logo.png" alt="">
    </a>

    <div class="m-header__nav">
        <div class="m-header__links">
            <a class="m-header__link " *ngIf="hasCorporateAndRetailFunc()" (click)="clickOnQueueLink()"
                [ngClass]="{'m-header__link--active': cHeaderLink == label2link.WorkQueue}" style="cursor: pointer">
                {{ 'WORK_QUEUE' | translate }}
            </a>

            <a class="m-header__link " (click)="go2(label2link.Home)"
                [ngClass]="{'m-header__link--active': cHeaderLink == label2link.Home}" style="cursor: pointer">
                {{ 'HOME' | translate }}
            </a>
            <a class="m-header__link " (click)="go2(label2link.Statistics)"
                [ngClass]="{'m-header__link--active': cHeaderLink == label2link.Statistics}" style="cursor: pointer">
                {{ 'STATISTICS' | translate }}
            </a>
            <a class="m-header__link " (click)="onOverTools = !onOverTools; cHeaderLink = label2link.Tools"
                [ngClass]="{'m-header__link--active': cHeaderLink == label2link.Tools}" style="cursor: pointer">
                {{ 'TOOLS' | translate }}
            </a>
            <a class="m-header__link " (click)="go2(label2link.UserManual)"
                [ngClass]="{'m-header__link--active': cHeaderLink == label2link.UserManual}" style="cursor: pointer">
                {{ 'USER_MANUAL' | translate }}
            </a>

            <!-- IMPERSONATE -->
            <a class="m-header__link " *ngIf="isAuth2Impersonate()" (click)="openImpersonateContent()"
               [ngClass]="{'m-header__link--active': cHeaderLink == label2link.WorkQueue}" style="cursor: pointer">
                {{ 'IMPERSONATE' | translate }}
            </a>
            <!--            <a class="m-header__link ">
                <app-svg-icon [icon]="'chat'"></app-svg-icon>
            </a>
            <a  class="m-header__link">
                <app-svg-icon [icon]="'grid'"></app-svg-icon>
                <div class="a-notification">
                    {{notifications}}
                </div>

            </a>-->
            <a class="m-header__link" *ngIf="!isImpersonating" (click)="variableToUserAndLayout()">
                <app-svg-icon [icon]="'user'"></app-svg-icon>
            </a>
            
            <app-svg-icon *ngIf="isImpersonating"  class="impersonate_user" (click)="variableToUserAndLayout()" [icon]="'user'"></app-svg-icon>
        </div>
    </div>
</header>
<header class="m-header  m-header--small tool-header" *ngIf="!headerCondition" [hidden]="!onOverTools">
    <div class="m-header__nav">
        <div class="m-header__links">
            <a class="m-header__link tool-link" (click)="goToTool(labelToolsTolink.Subjects)"
            [ngClass]="{'m-header__link--active': toolSubLinkClicked == labelToolsTolink.Subjects}">
                {{ 'SUBJECTS' | translate }}
            </a>
            <a class="m-header__link tool-link" (click)="goToTool(labelToolsTolink.ConsultProps)"
            [ngClass]="{'m-header__link--active': toolSubLinkClicked == labelToolsTolink.ConsultProps}"
            *ngIf="true">
                {{ 'CONSULT_PROPS' | translate }}
            </a>
            <a class="m-header__link tool-link" (click)="goToTool(labelToolsTolink.CreditScreen)"
            [ngClass]="{'m-header__link--active': toolSubLinkClicked == labelToolsTolink.CreditScreen}">
                {{ 'CREDIT_SCREEN' | translate }}
            </a>
            <a class="m-header__link tool-link" (click)="goToTool(labelToolsTolink.Cas)"
            [ngClass]="{'m-header__link--active': toolSubLinkClicked == labelToolsTolink.Cas}">
                {{ 'CAS' | translate }}
            </a>
            <a class="m-header__link " *ngIf="isAuth2Impersonate()" (click)="openImpersonateContent()"
               [ngClass]="{'m-header__link--active': cHeaderLink == label2link.WorkQueue}" style="cursor: pointer">
                {{ 'IMPERSONATE' | translate }}
            </a>
        </div>
    </div>
</header>
<header class="m-header  m-header--small tool-header" *ngIf="!headerCondition" [hidden]="!onOverQueue">
    <div class="m-header__nav">
        <div class="m-header__links">
            <a class="m-header__link tool-link" (click)="goToQueue(labelQueueToLink.Retail)"
            [ngClass]="{'m-header__link--active': queueSubLinkClicked == labelQueueToLink.Retail}">
                {{ 'RETAIL' | translate }}
            </a>
            <a class="m-header__link tool-link" (click)="goToQueue(labelQueueToLink.Corporate)"
            [ngClass]="{'m-header__link--active': queueSubLinkClicked == labelQueueToLink.Corporate}">
                {{ 'CORPORATE' | translate }}
            </a>
        </div>
    </div>
</header>
<header class="m-header  m-header--small" *ngIf="!headerCondition" [hidden]="!isInsideConsultation()">
    <div style="color: white" [hidden]="isEditing">
        {{'CONSULTATION_MODE' | translate}}
    </div>
    <div class="m-header__nav" style="right: 4rem; position: absolute"> 
        <a class="m-header__link tool-link" style="margin-right: 0px" (click)="toggleEditConsultation()">
            <app-svg-icon [icon]="'pencil'" class="icon iconXSmall" style="display: inline-block"></app-svg-icon>
            <span style="display: inline-block">{{ (isEditing ? 'DEACTIVE_EDIT_MODE' : 'ACTIVE_EDIT_MODE') | translate }}</span>
        </a>
    </div>
</header>

<!--
<nav class="navbar navbar-expand-lg fixed-top">
    <a class="navbar-brand" href="#"><img src="assets/images/mercedesbenz_toe.png" width="190px" height="45px"/> </a>

    &lt;!&ndash;<a class="navbar-brand" href="#"><img src="assets/images/mercedesbenz_toe.png" /> </a>&ndash;&gt;

    <button class="navbar-toggler" type="button" (click)="toggleSidebar()">
        &lt;!&ndash; <span class="navbar-toggler-icon"></span> &ndash;&gt;
        <i class="fa fa-bars text-muted" aria-hidden="true"></i>
    </button>
    <div class="collapse navbar-collapse">

&lt;!&ndash;
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="{{ 'Search' | translate }}" >
        </form>
 &ndash;&gt;

        <ul class="navbar-nav ml-auto">

&lt;!&ndash;            <li class="nav-item d-none d-xl-block">
                <a
                    href="https://github.com/start-angular/SB-Admin-BS4-Angular-7/archive/master.zip"
                    class="nav-link btn mt-1" role="button"
                    style="padding: .375rem 1rem !important;border-color: #999;"
                >
                    {{ 'DOWNLOAD_NOW' | translate }}
                </a>
            </li> &nbsp;&ndash;&gt;


            <li class="nav-item">
                <a href="javascript:void(0)" class="nav-link mt-1"
                   style="padding: 0.375rem 1rem !important; border-color: #999;"
                   (click)="toggleSidebar()"
                >
                    Menu
                </a>
            </li> &nbsp;



            <li class="nav-item">
                <a href="javascript:void(0)" class="nav-link mt-1"
                    style="padding: 0.375rem 1rem !important; border-color: #999;"
                    (click)="rltAndLtr()"
                >
                    RTL/LTR
                </a>
            </li> &nbsp;


            <li class="nav-item dropdown" ngbDropdown>
                <a class="nav-link" href="javascript:void(0)" ngbDropdownToggle>
                    <i class="fa fa-envelope"></i> <b class="caret"></b><span class="sr-only">(current)</span>
                </a>
                <ul class="dropdown-menu-right messages" ngbDropdownMenu>
                    <li class="media">
                        <img class="d-flex align-self-center mr-3"
                            src="http://i.huffpost.com/gadgets/slideshows/461162/slide_461162_6224974_sq50.jpg" alt="Generic placeholder image"
                        >
                        <div class="media-body">
                            <h5 class="mt-0 mb-1">Paolo Merfina</h5>
                            <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                            <p class="last"> Lorem ipsum dolor sit amet, consectetur...</p>
                        </div>
                    </li>
                    <li class="media">
                        <img class="d-flex align-self-center mr-3"
                            src="http://i.huffpost.com/gadgets/slideshows/461162/slide_461162_6224974_sq50.jpg"
                            alt="Generic placeholder image"
                        >
                        <div class="media-body">
                            <h5 class="mt-0 mb-1">Paolo Merfina</h5>
                            <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                            <p class="last"> Lorem ipsum dolor sit amet, consectetur...</p>
                        </div>
                    </li>
                    <li class="media">
                        <img class="d-flex align-self-center mr-3"
                            src="http://i.huffpost.com/gadgets/slideshows/461162/slide_461162_6224974_sq50.jpg"
                            alt="Generic placeholder image"
                        />
                        <div class="media-body">
                            <h5 class="mt-0 mb-1">Paolo Merfina</h5>
                            <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                            <p class="last"> Lorem ipsum dolor sit amet, consectetur...</p>
                        </div>
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown" ngbDropdown>
                <a href="javascript:void(0)" class="nav-link" ngbDropdownToggle>
                    <i class="fa fa-bell"></i> <b class="caret"></b><span class="sr-only">(current)</span>
                </a>
                <div class="dropdown-menu-right" ngbDropdownMenu>
                    <a href="javascript:void(0)" class="dropdown-item">
                        {{ 'PENDING_TASK' | translate }} <span class="badge badge-info">6</span>
                    </a>
                    <a href="javascript:void(0)" class="dropdown-item">
                        {{ 'IN_QUEUE' | translate }} <span class="badge badge-info"> 13</span>
                    </a>
                    <a href="javascript:void(0)" class="dropdown-item">
                        {{ 'MAIL' | translate }} <span class="badge badge-info"> 45</span>
                    </a>
                    <li class="dropdown-divider"></li>
                    <a href="javascript:void(0)" class="dropdown-item">
                        {{ 'VIEW_ALL' | translate }}
                    </a>
                </div>
            </li>
            <li class="nav-item dropdown" ngbDropdown>
                <a href="javascript:void(0)" class="nav-link" ngbDropdownToggle>
                    <i class="fa fa-language"></i> {{ 'LANGUAGE' | translate }} <b class="caret"></b>
                </a>
                <div class="dropdown-menu-right" ngbDropdownMenu>
                    <a class="dropdown-item" href="javascript:void(0)" (click)="changeLang('en')">
                        {{ 'ENGLISH' | translate }}
                    </a>
                    <a class="dropdown-item" href="javascript:void(0)" (click)="changeLang('fr')">
                        {{ 'FRENCH' | translate }}
                    </a>
                    <a class="dropdown-item" href="javascript:void(0)" (click)="changeLang('es')">
                        {{ 'SPANISH' | translate }}
                    </a>
                    <a class="dropdown-item" href="javascript:void(0)" (click)="changeLang('it')">
                        {{ 'ITALIAN' | translate }}
                    </a>
                    <a class="dropdown-item" href="javascript:void(0)" (click)="changeLang('de')">
                        {{ 'GERMAN' | translate }}
                    </a>
                </div>
            </li>
            <li class="nav-item dropdown" ngbDropdown>
                <a href="javascript:void(0)" class="nav-link" ngbDropdownToggle>
                    <i class="fa fa-user"></i> Paolo Merfina <b class="caret"></b>
                </a>
                <div class="dropdown-menu-right" ngbDropdownMenu>
                    <a class="dropdown-item" href="javascript:void(0)">
                        <i class="fa fa-fw fa-user"></i> {{ 'PROFILE' | translate }}
                    </a>
                    <a class="dropdown-item" href="javascript:void(0)">
                        <i class="fa fa-fw fa-envelope"></i> {{ 'INBOX' | translate }}
                    </a>
                    <a class="dropdown-item" href="javascript:void(0)">
                        <i class="fa fa-fw fa-gear"></i> {{ 'SETTINGS' | translate }}
                    </a>
                    <a class="dropdown-item" [routerLink]="['/login']" (click)="onLoggedout()">
                        <i class="fa fa-fw fa-power-off"></i> {{ 'LOG_OUT' | translate }}
                    </a>
                </div>
            </li>
        </ul>
    </div>
</nav>
-->