<div class="row l-margin-top--small" *ngFor="let subject of subjectsList">
  <div class="col-12">
    <div class="m-accordion-trigger">
      <div class="m-accordion-trigger__label">
        {{subject.ragioneSociale}}
        <div class="m-accordion-trigger__sublabel">{{getSubjectRole(subject.codRuoloSoggetto)}}</div>
      </div>
      <div class="m-accordion-trigger__icons">
        <div class="a-indicator  danger  ">
          F.S.
        </div>
        <div class="a-indicator  active   a-indicator__outline ">
          SCIP.
        </div>
        <div class="a-indicator  active   a-indicator__outline ">
          I.F.
        </div>
        <app-svg-icon [icon]="'arrow-down'"></app-svg-icon>
      </div>
    </div>
    <div class="l-white-container">
      <div class="l-main-wrapper" style="padding-left: 3rem; padding-right: 3rem;">
        <div class="row">
          <div class="col-12">
            <label class="a-checkbox" for="field-id-1241" 
            [ngClass]="{'a-checkbox--disabled' : !isEditing}">
              <input type="checkbox" [(ngModel)]="subject.pep" [disabled]="!isEditing" id="field-id-1241">
              <span></span>
              <div class="ty-body">
                {{'PEP' | translate}}
              </div>
            </label>
          </div>
        </div>
        <div class="row l-margin-top--small">
          <div class="col-4">
            <div class="a-input  a-input--text" [ngClass]="{'a-input--disabled' : !isEditing}">
              <div class="a-input__label">
                {{'SURNAME' | translate}}
              </div>
              <input type="text" value="{{subject.surname}}" [disabled]="!isEditing">
            </div>
          </div>
          <div class="col-4">
            <div class="a-input  a-input--text" [ngClass]="{'a-input--disabled' : !isEditing}">
              <div class="a-input__label">
                {{'NAME' | translate}}
              </div>
              <input type="text"  value="{{subject.name}}" [disabled]="!isEditing">
            </div>
          </div>
          <div class="col-4">
            <div class="a-input  a-input--text" [ngClass]="{'a-input--disabled' : !isEditing}">
              <div class="a-input__label">
                {{'FISCAL_CODE' | translate}}
              </div>
              <input type="text"  value="{{subject.fiscalCode}}" [disabled]="!isEditing">
            </div>
          </div>
        </div>
        <div class="row l-margin-top--small">
          <div class="col-4">
            <div class="a-input  a-input--radio-circle" [ngClass]="{'a-input--disabled' : !isEditing}">
              <div class="a-input__label">
              </div>
              <label class="a-input--radio-tab">
                <input type="radio" name="gender" [checked]="isMale(subject.genderCode)" [disabled]="!isEditing">
                <span>
                  <span></span>
                </span>
                {{'MALE' | translate}}
              </label>
              <label class="a-input--radio-tab">
                <input type="radio" name="gender" [checked]="!isMale(subject.genderCode)" [disabled]="!isEditing">
                <span>
                  <span></span>
                </span>
                {{'FEMALE' | translate}}
              </label>
            </div>
          </div>
          <div class="col-4">
            <div class="a-input  a-input--text" [ngClass]="{'a-input--disabled' : !isEditing}">
              <div class="a-input__label">
                {{'ID_CODE' | translate}}
              </div>
              <input type="text"  value="{{subject.subjectCode}}" [disabled]="!isEditing">
            </div>
          </div>
          <div class="col-4">
            <div class="a-input  a-input--text" [ngClass]="{'a-input--disabled' : !isEditing}">
              <div class="a-input__label">
                {{'BIRTH_DATE' | translate}}
              </div>
              <input type="text"  value="{{subject.birthDate}}" [disabled]="!isEditing">
              <div class="a-input__icon">
                <app-svg-icon [icon]="'calendar'"></app-svg-icon>
              </div>
            </div>
          </div>
        </div>
        <div class="row l-margin-top--small">
          <div class="col-4">
            <div class="a-input  a-input--text" [ngClass]="{'a-input--disabled' : !isEditing}">
              <div class="a-input__label">
                {{'BIRTH_PLACE' | translate}}
              </div>
              <input type="text"  value="{{subject.birthPlace}}" [disabled]="!isEditing">
            </div>
          </div>
          <div class="col-4">
            <div class="a-input  a-input--select" [ngClass]="{'a-input--disabled' : !isEditing}">
              <div class="a-input__label">
                {{'PROVINCE_NATION' | translate}}
              </div>
              <select name="" id="" [disabled]="!isEditing">
                <option value=""></option>
              </select>
              <app-svg-icon [icon]="'arrow-down'"></app-svg-icon>
            </div>
          </div>
          <div class="col-4 l-spacing--v-margin-small-auto">
            <label class="a-checkbox" for="field-id-9775"
            [ngClass]="{'a-checkbox--disabled' : !isEditing}">
              <input type="checkbox" [(ngModel)]="subject.italianCitizen" [disabled]="!isEditing" id="field-id-9775">
              <span></span>
              <div class="ty-body">
                {{'ITALIAN_CITIZENSHIP' | translate}}
              </div>
            </label>
          </div>
        </div>
        <div class="row l-margin-top--small">
          <div class="col-4">
            <div class="a-input  a-input--text" [ngClass]="{'a-input--disabled' : !isEditing}">
              <div class="a-input__label">
                {{'ID_CODE' | translate}}
              </div>
              <input type="text"  value="{{subject.subjectCode}}" [disabled]="!isEditing">
            </div>
          </div>
          <div class="col-8">
            <div class="a-input  a-input--text" [ngClass]="{'a-input--disabled' : !isEditing}">
              <div class="a-input__label">
                {{'ADDRESS' | translate}}
              </div>
              <input type="text"  value="{{subject.legalAddress.address}}" [disabled]="!isEditing">
            </div>
          </div>
        </div>
        <div class="row l-margin-top--small">
          <div class="col-4">
            <div class="a-input  a-input--text" [ngClass]="{'a-input--disabled' : !isEditing}">
              <div class="a-input__label">
                {{'HOUSE_NUMBER' | translate}}
              </div>
              <input type="text"  value="{{subject.legalAddress.houseNumber}}" [disabled]="!isEditing">
            </div>
          </div>
          <div class="col-4">
            <div class="a-input  a-input--text" [ngClass]="{'a-input--disabled' : !isEditing}">
              <div class="a-input__label">
                {{'CITY' | translate}}
              </div>
              <input type="text"  value="{{subject.legalAddress.place}}" [disabled]="!isEditing">
            </div>
          </div>
          <div class="col-4">
            <div class="a-input  a-input--select" [ngClass]="{'a-input--disabled' : !isEditing}">
              <div class="a-input__label">
                {{'PROVINCE_NATION' | translate}}
              </div>
              <select name="" id="" [disabled]="!isEditing">
                <option value="{{subject.legalAddress.province}}">{{subject.legalAddress.province}}</option>
              </select>
              <app-svg-icon [icon]="'arrow-down'"></app-svg-icon>
            </div>
          </div>
        </div>
        <div class="row l-margin-top--small">
          <div class="col-4">
            <div class="a-input  a-input--text" [ngClass]="{'a-input--disabled' : !isEditing}">
              <div class="a-input__label">
                {{'CAP' | translate}}
              </div>
              <input type="text"  value="{{subject.legalAddress.cap}}" [disabled]="!isEditing">
            </div>
          </div>
          <div class="col-4">
            <div class="a-input  a-input--text" [ngClass]="{'a-input--disabled' : !isEditing}">
              <div class="a-input__label">
                {{'PHONE_NUMBER' | translate}}
              </div>
              <input type="text"  value="" [disabled]="!isEditing">
            </div>
          </div>
          <div class="col-4">
            <div class="a-input  a-input--text" [ngClass]="{'a-input--disabled' : !isEditing}">
              <div class="a-input__label">
                {{'MOBILE_PHONE' | translate}}
              </div>
              <input type="text"  value="" [disabled]="!isEditing">
            </div>
          </div>
        </div>
        <div class="row l-margin-top--small">
          <div class="col-5">
            <div class="a-input  a-input--text" [ngClass]="{'a-input--disabled' : !isEditing}">
              <div class="a-input__label">
                {{'FAX' | translate}}
              </div>
              <input type="text"  value="" [disabled]="!isEditing">
            </div>
          </div>
          <div class="col-6  col-offset-1">
            <div class="a-input  a-input--text" [ngClass]="{'a-input--disabled' : !isEditing}">
              <div class="a-input__label">
                {{'E_MAIL' | translate}}
              </div>
              <input type="text"  value="" [disabled]="!isEditing">
            </div>
          </div>
        </div>
        <div class="row l-margin-top--small">
          <div class="col-5">
            <div class="a-input  a-input--select" [ngClass]="{'a-input--disabled' : !isEditing}">
              <div class="a-input__label">
                {{'JOB' | translate}}
              </div>
              <select name="" id="" [disabled]="!isEditing">
                <option value=""></option>
              </select>
              <app-svg-icon [icon]="'arrow-down'"></app-svg-icon>
            </div>
          </div>
          <div class="col-6 col-offset-1">
            <div class="a-input  a-input--text" [ngClass]="{'a-input--disabled' : !isEditing}">
              <div class="a-input__label">
                {{'YEARLY_SALARY' | translate}}
              </div>
              <input type="text"  value="{{subject.redditoAnnuo | currency: 'EUR' | currencyFormatter}}" [disabled]="!isEditing">
            </div>
          </div>
        </div>
        <div class="row l-margin-top--small">
          <div class="col-8">
            <div class="a-input  a-input--text" [ngClass]="{'a-input--disabled' : !isEditing}">
              <div class="a-input__label">
                {{'IBAN' | translate}}
              </div>
              <input type="text"  value="{{subject.banks[0].iban}}" [disabled]="!isEditing">
            </div>
          </div>
        </div>
        <div class="row l-margin-top--small">
          <div class="col-8">
            <div class="a-input  a-input--text" [ngClass]="{'a-input--disabled' : !isEditing}">
              <div class="a-input__label">
                {{'BANK' | translate}}
              </div>
              <input type="text"  value="{{subject.banks[0].descrBanca}}" [disabled]="!isEditing">
            </div>
          </div>
        </div>  
        <div class="row l-margin-top--small">  
          <div class="col-6">
            <div class="a-input  a-input--select" [ngClass]="{'a-input--disabled' : !isEditing}">
              <div class="a-input__label">
                {{'SAE' | translate}}
              </div>
              <select name="" id="" [disabled]="!isEditing">
                <option value="{{subject.codSae}}"> {{subject.codSae}}</option>
              </select>
              <app-svg-icon [icon]="'arrow-down'"></app-svg-icon>
            </div>
          </div>
        </div>
        <div class="row l-margin-top--small">
          <div class="col-12 l-end">
            <div class="a-button  a-button--azure aligned_right" *ngIf="isEditing">
                {{'SAVE' | translate}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row l-margin-top--small">
  <div class="col-12">
    <div class="a-button-round">
      <app-svg-icon [icon]="'more'" class="icon iconSmall"></app-svg-icon>
    </div>
  </div>
</div>