.m-recap-header {
	background: color(white);
	display: flex;
	justify-content: space-between;
	box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.03);
	&__info {
		padding: rem(15) rem(30);
		display: flex;
		align-items: center;
	}
	&__data{
		display: flex;
		align-items: center;
		line-height: 1.5;
		> div {
			height: 100%;
			padding: rem(15) rem(30);
			border-left: 1px solid #ececec;
			display: flex;
			flex-direction: column;
			justify-content: center;
			&:first-of-type {
				border-left: 0;
			}
		}
		strong, span {
			display: block;
		}
		strong {
			text-transform: uppercase;
			@extend .ff-DaimlerCS-ExtraBold;
		}
		span {
			color: rgba(#000, .5);
		}
	}
}