<div class="row l-margin-top--small">
    <div class="col-12">
        <div class="m-accordion-trigger" [ngClass]="{'m-accordion-trigger--active': showContent}">
            <div class="m-accordion-trigger__label">
                {{'PAYMENT_METHODS' | translate}}
            </div>
            <div class="m-accordion-trigger__icons" (click)="showContent = !showContent">
                <app-svg-icon [icon]="'arrow-down'"></app-svg-icon>
            </div>
        </div>
    </div>
</div>

<div class="l-white-container" [hidden]="!showContent">
    <div class="l-white-container" [hidden]="!showContent">
        <div class="l-main-wrapper p-0">
            <div class="row l-margin-top--small">
                <div class="col-6">

                    <div class="a-input a-input--select">
                        <div class="a-input__label">
                            {{'FEE' | translate}}
                        </div>
                        <select [disabled]="!isEditing">
                            <option value="Bonifico" selected>Bonifico bancario</option>
                        </select>
                        <app-svg-icon [icon]="'arrow-down'"></app-svg-icon>
                    </div>
                </div>
                <div class="col-6">
                    <div class="a-input" [ngClass]="isEditing ? 'no-border':''">
                        <div class="a-input__label">
                            Spese
                        </div>
                        <input type="text" currencyMask [ngModel]="spese" [disabled]="!isEditing"/>
                        <!--   <div class="ty-medium black pt-4">Spese <span class="text-muted">{{0 | currency:'EUR'|currencyFormatter}}</span></div>-->
                    </div>
                </div>
            </div>
            <div class="row l-margin-top--small">
                <div class="col-6">
                    <div class="a-input a-input--select">
                        <div class="a-input__label">
                            {{'FEE' | translate}}
                        </div>
                        <select [disabled]="!isEditing">
                            <option value="RID" selected>RID</option>
                        </select>
                        <app-svg-icon [icon]="'arrow-down'"></app-svg-icon>
                    </div>
                </div>
                <div class="col-6">
                    <div class="a-input" [ngClass]="isEditing ? 'no-border':''">
                        <div class="a-input__label">
                            Spese
                        </div>
                        <input type="text" currencyMask [ngModel]="spese" [disabled]="!isEditing"/>
                    </div>
                    <!--  <div class="ty-medium black pt-4">Spese <span class="text-muted">{{0 | currency:'EUR'|currencyFormatter}}</span></div>-->
                </div>
            </div>
        </div>
    </div>
</div>