<div class="l-main-wrapper  l-margin-top--normal"> <!--*ngIf="isAuthorizedToThirdParts()">-->
  <div class="m-accordion-trigger" [ngClass]="{'m-accordion-trigger--active': thirdPardAccordionOpen}">

    <div class="m-accordion-trigger__label">
      {{ 'THIRD_PARTS' | translate }}
    </div>
    <div class="a-tag">
      <span>
		{{(thirdPartList)?thirdPartList.length:''}}
	  </span>
    </div>
    <a (click)="thirdPardAccordionOpen = !thirdPardAccordionOpen">
      <app-svg-icon [icon]="'arrow-down'"></app-svg-icon>
    </a>

  </div>
  <div class="l-white-container" *ngIf="thirdPardAccordionOpen">

    <!-- OPTIONAL SELEZIONATI -->
    <div class="l-main-wrapper">
      <table class="m-table-list">

        <!-- HEADER -->
        <thead class="m-table-list__header">
        <tr class="m-table-list__row">
          <td class="m-table-list__col  m-table-list__col--empty">
          </td>
          <td class="m-table-list__col  m-table-list__col--label">
            {{ 'CODE' | translate }}
          </td>
          <td class="m-table-list__col  m-table-list__col--label">
            {{ 'DESCRIPTION' | translate }}
          </td>
          <td class="m-table-list__col  m-table-list__col--label">
            {{ 'SUPPLIER' | translate }}
          </td>
          <td class="m-table-list__col  m-table-list__col--label">
            {{ 'PRICE_NO_IVA' | translate }}
          </td>
          <td class="m-table-list__col  m-table-list__col--label">
            {{ 'PRICE_IVA' | translate }}
          </td>
          <td class="m-table-list__col  m-table-list__col--label">
            {{ 'IVA' | translate }}
          </td>
          <td class="m-table-list__col  m-table-list__col--empty">
          </td>
        </tr>
        </thead>

        <!-- BODY -->
        <tbody class="m-table-list__data">
        <tr class="m-table-list__row" *ngFor="let tp of thirdPartList, let id = index">

          <td class="m-table-list__col  m-table-list__col--icon">
            <label class="a-checkbox" for="tp-sel-{{id}}" *ngIf="isEditing">
              <input type="checkbox" id="tp-sel-{{id}}" [(ngModel)]="tp.optional.selected">
              <span></span>
            </label>
          </td>

          <td class="m-table-list__col  m-table-list__col--label">
            <div class="h-ellipsis" title="">
              {{tp.optional.code}}
            </div>
          </td>

          <td class="m-table-list__col  m-table-list__col--label">
            <div class="h-ellipsis" title="">
              {{tp.optional.description}}
            </div>
          </td>

          <td class="m-table-list__col  m-table-list__col--label">
            <div class="h-ellipsis" title="">
              {{tp.supplier.code}}
            </div>
          </td>

          <td class="m-table-list__col  m-table-list__col--label">
            <div class="h-ellipsis" title="">
              {{tp.optional.price| currency:'EUR' | currencyFormatter}}
            </div>
          </td>
          <td class="m-table-list__col  m-table-list__col--label">
            <div class="h-ellipsis" title="">
              {{tp.optional.priceWithIVA| currency:'EUR' | currencyFormatter}}
            </div>
          </td>
          <td class="m-table-list__col  m-table-list__col--label">
            <div class="h-ellipsis" title="">
              {{tp.iva.value | percent:'2.2-5'}}
            </div>
          </td>

          <!--          <td class="m-table-list__col  m-table-list__col&#45;&#45;checkbox">
                      <label class="a-checkbox" >&lt;!&ndash;for="field-id-9408"&ndash;&gt;
                        <input type="checkbox" id="{{optional.code}}" >
                      </label>
                    </td>-->

          <td class="m-table-list__col  m-table-list__col--icon" *ngIf="isEditing">
            <a (click)="editTpOptional(id,tp)" title="edit">
              <app-svg-icon [icon]="'pencil'" style="cursor: pointer"></app-svg-icon>
            </a>
          </td>
          <td class="m-table-list__col  m-table-list__col--icon" *ngIf="isEditing">
            <a (click)="removeTPOptional(id)" title="Cestino">
              <app-svg-icon [icon]="'delete'"></app-svg-icon>
            </a>
          </td>

        </tr>
        </tbody>
      </table>
    </div>

    <form [formGroup]="tpOptionalForm" *ngIf="isEditing">
      <div class="l-main-wrapper  l-margin-top--normal">

        <div class="row l-start l-bottom">
          <div class="col-4">
            <div class="row  l-margin-top--normal">
              <div class="col">
                <div class="a-input">
                  <div class="a-input__label" style="text-transform: lowercase">
                    {{ 'DESCRIPTION' | translate }}
                  </div>
                  <input type="text" formControlName='description'>
                </div>
              </div>
            </div>
            <div class="row  l-margin-top--normal">
              <div class="col">
                <div class="a-input  a-input--select  ">
                  <div class="a-input__label">
                    {{ 'SUPPLIER' | translate }}
                  </div>
                  <select formControlName='supplier' id="optionalSuplier">
                    <option *ngFor="let supplier of suppliersList" [ngValue]="supplier">
                      {{supplier.label}}
                    </option>
                  </select>

                  <app-svg-icon [icon]="'arrow-down'"></app-svg-icon>

                </div>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="row  l-margin-top--normal">
              <div class="col">
                <div class="a-input">
                  <div class="a-input__label" style="text-transform: lowercase">
                    {{ 'CODE' | translate }}
                  </div>
                  <input type="text" formControlName='code'>
                </div>
              </div>
            </div>
            <div class="row  l-margin-top--normal">
              <div class="col-6">
                <div class="a-input  a-input--select  ">
                  <div class="a-input__label">
                    {{ 'IVA' | translate }}
                  </div>
                  <select id="tp-iva" formControlName='iva'>
                    <option *ngFor="let iva of ivaList" [ngValue]="iva"> {{iva.label}}</option>
                  </select>
                  <app-svg-icon [icon]="'arrow-down'"></app-svg-icon>
                </div>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="row  l-margin-top--normal">
              <div class="col-6">
                <div class="a-input  a-input--select  ">
                  <div class="a-input__label">
                    {{ 'PRICE' | translate }} <span>{{ 'PRICE_NO_IVA' | translate }}</span>
                  </div>
                  <input type="text" formControlName='price' currencyMask>

                  <!--
                                      <select id="iva" formControlName='iva'>
                                        <option *ngFor="let iva of ivaList"  value="{{iva.value}}"> {{iva.lable}}</option>
                                      </select>
                  <app-svg-icon [icon]="'arrow-down'"></app-svg-icon>
                  -->
                </div>
              </div>
              <div class="col-6">
                <div class="a-input  a-input--select  ">
                  <div class="a-input__label">
                    {{ 'FINAL_PRICE' | translate }}
                  </div>
                  <!--                  <input type="text" [value]="tpPriceWithIVA | currency:'EUR'|currencyFormatter"  currencyMask disabled>-->
                  <input type="text" [value]="totalTpPriceWithIVA" currencyMask disabled>
                </div>
              </div>
            </div>
            <label class="a-checkbox">
              <div class="l-main-wrapper  l-margin-top--normal" *ngIf="!tpEditMode">
                <div class="l-end">
                  <div class="a-button  a-button--azure" (click)="addTpOptional()">
                    {{ 'INSERT' | translate }}
                  </div>
                </div>
              </div>
              <div class="l-main-wrapper  l-margin-top--normal" *ngIf="tpEditMode">
                <div class="l-end">
                  <div class="a-button  a-button--white" (click)="undoTpChange()">
                    Annulla
                  </div>
                </div>
              </div>
              <div class="l-main-wrapper  l-margin-top--normal" *ngIf="tpEditMode">
                <div class="l-end">
                  <div class="a-button  a-button--azure" (click)="saveTpChange()">
                    Salva
                  </div>
                </div>
              </div>

            </label>
          </div>
        </div>
      </div>
    </form>

  </div>
</div>
