<div class="row l-margin-top--small">
    <div class="col-12">
        <div class="m-accordion-trigger" [ngClass]="{'m-accordion-trigger--active': showContent}">
            <div class="m-accordion-trigger__label">
                {{'CONFIGURATION_OF_SERVICES_AND_PROPOSAL' | translate}}
            </div>
            <div class="m-accordion-trigger__icons" (click)="toggleAccordionFinancial()">
                <app-svg-icon [icon]="'arrow-down'"></app-svg-icon>
            </div>
        </div>
    </div>
</div>

<div class="l-white-container" [hidden]="!showContent">
    <div class="l-main-wrapper">
        <!--        <div class="row l-margin-top&#45;&#45;small">
                    <div class="col-6">
                        <div class="a-input  a-input&#45;&#45;text  ">
                            <div class="a-input__label">
                                &nbsp;
                            </div>
                            <input type="text" [disabled]="!isEditing" value="Voucher">
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="a-input a-input&#45;&#45;select">
                            <div class="a-input__label">
                                {{'LEASING_CLASSIFICATION' | translate }}
                            </div>
                            <select [disabled]="!isEditing">
                                <option value="Bonifico" selected>Bonifico bancario</option>
                            </select>
                            <app-svg-icon [icon]="'arrow-down'"></app-svg-icon>
                        </div>
                    </div>
                </div>-->

        <app-financial-campaign></app-financial-campaign> <!--[selectedProposal]="financialQueue"-->
        <app-financial-services [selectedFinancialQueue]="financialQueue"
                [isEditing]="isEditing"></app-financial-services>
        <app-financial-configuration [selectedFinancialQueue]="financialQueue" [optionsValue]="enhancedValuesList"
                [isEditing]="isEditing"></app-financial-configuration>
        <app-financial-rate [paymentSchedule]="paymentSchedule"></app-financial-rate>
        <!--        <app-financial-payment-method [isEditing]="isEditing"></app-financial-payment-method>-->
        <app-financial-details [isEditing]="isEditing" [selectedFinancialQueue]="financialQueue"></app-financial-details>
    </div>
</div>
