.a-service-card-small {
	background: #fff;
	padding: rem(15) rem(18);
	line-height: rem(10);
	font-size: rem(14);
	color: color(black);
	display: flex;
	justify-content: space-between;
	margin-top: rem(15);
	box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.06);
	&:first-of-type {
		margin-top: 0;
	}
	@extend .ff-DaimlerCS-Bold;
	
	&--close {
		color: color(azure);
	}
	&--active {
		color: #fff;
		background: color(blue);
		svg {
			fill: #fff !important;
		}
	}
	&__name {
		display: flex;
		align-items: center;
		svg {
			fill: color(azure);
			display: block;
			width: rem(22);
			height: rem(22);
			margin-right: rem(5);
		}
	}

	&__price {
		color: #bdbdbd;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		svg {
			fill: color(azure);
			display: block;
			width: rem(22);
			height: rem(22);
			margin: 0 rem(5);
		}
	}
}