.l-start {
  justify-content: flex-start;
  text-align: start;
}

.l-center {
  justify-content: center;
  text-align: center;
}

.l-end {
  justify-content: flex-end;
  text-align: end;
}

.l-top {
  align-items: flex-start;
}

.l-middle {
  align-items: center;
}

.l-bottom {
  align-items: flex-end;
}

.l-around {
  justify-content: space-around;
}

.l-between {
  justify-content: space-between;
}

.l-first {
  order: -1;
}

.l-last {
  order: 1;
}