.l-align-left {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.l-align-right {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.l-align-center {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}

.l-align-bottom {
    align-items: flex-end;
}