.l-main-wrapper {
    max-width: rem(1300);
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding-left: rem(40);
    padding-right: rem(40);
}


.l-table-container {
    display: flex;
    min-height: rem(150);
}

.l-table-sidebar {
    padding-left: rem(60);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.l-pr-100 {
    padding-right: rem(100);
}