.l-spacing {

  &--v-padding-normal-0 {
    padding-top: rem(40);
    padding-bottom: rem(40);
  }

  &--v-margin-normal-auto {
    margin: rem(40) auto;
  }
  &--v-margin-normal-auto-0 {
    margin: rem(40) auto 0;
  }

  &--v-margin-small-auto {
    margin: rem(20) auto;
  }
  &--v-margin-xs {
    margin-top: rem(10);
    padding-bottom: rem(1)!important;
  }
  &--v-margin-small-auto-0 {
    margin: rem(20) auto 0;
  }
}

.l-white-container {
  padding-top: rem(15);
  padding-bottom: rem(15);
  background: color(white);
}


.l-margin-top {
  &--xsmall {
    margin-top: rem(10);
  }
  &--small {
    margin-top: rem(20);
  }
  &--normal {
    margin-top: rem(40);
  }
  &--big {
    margin-top: rem(80);
  }
}

.l-margin-bottom {
  &--small {
    margin-bottom: rem(20);
  }
  &--normal {
    margin-bottom: rem(40);
  }
  &--big {
    margin-bottom: rem(80);
  }
}

.l-margin-right {
  &--xsmall {
    margin-right: rem(10);
  }
  &--small {
    margin-right: rem(20);
  }
  &--normal {
    margin-right: rem(40);
  }
  &--big {
    margin-right: rem(80);
  }
}