<!--<app-filter-bar [list]=proposalsList
                [placeholder]=filterPlaceholder
                [filterKeys]="filterKeys"
                [filterOption]="filterOption"
                [(returningList)]="printList" ></app-filter-bar>-->

<app-proposal-filter-bar></app-proposal-filter-bar>


<!--test AC dynamic table-->
<!--<div class="l-main-wrapper ">
    <app-dynamic-table [wrapperHeight]="'450px'" (scrollEvent)="getNextProposalsList()" [elems]="printList">
    </app-dynamic-table>
</div>-->
<!--fine test-->

<!--originale-->
<!--
<div class="l-main-wrapper  l-spacing&#45;&#45;v-margin-small-auto">
    <table class="m-table-list">

        <thead class="m-table-list__header">
        <tr class="m-table-list__row">

            <td class="m-table-list__col  m-table-list__col&#45;&#45;label">

                asset

            </td>

            <td class="m-table-list__col  m-table-list__col&#45;&#45;label">

                proposta

            </td>

            <td class="m-table-list__col  m-table-list__col&#45;&#45;label">

                contratto

            </td>

            <td class="m-table-list__col  m-table-list__col&#45;&#45;label">

                soggetto

            </td>

            <td class="m-table-list__col  m-table-list__col&#45;&#45;label">

                <div class="m-table-list__trigger">

                    stato

                </div>

            </td>

            <td class="m-table-list__col  m-table-list__col&#45;&#45;label">

                data

            </td>

            <td class="m-table-list__col  m-table-list__col&#45;&#45;label">

                scadenza

            </td>

            <td class="m-table-list__col  m-table-list__col&#45;&#45;label">

                priorità

            </td>

            <td class="m-table-list__col  m-table-list__col&#45;&#45;label">

                venditore

            </td>

        </tr>
        </thead>

        <tbody class="m-table-list__data">

        <tr class="m-table-list__row">

            <td class="m-table-list__col  m-table-list__col&#45;&#45;label">

                <div class="h-ellipsis" title="1">
                    1
                </div>

            </td>

            <td class="m-table-list__col  m-table-list__col&#45;&#45;label">

                <div class="h-ellipsis" title="1002007462">
                    1002007462
                </div>

            </td>

            <td class="m-table-list__col  m-table-list__col&#45;&#45;label">

                <div class="h-ellipsis" title="&#45;&#45;">
                    &#45;&#45;
                </div>

            </td>

            <td class="m-table-list__col  m-table-list__col&#45;&#45;label">

                <div class="h-ellipsis" title="Henry Richardson Henry Richardson">
                    Henry Richardson Henry Richardson
                </div>

            </td>

            <td class="m-table-list__col  m-table-list__col&#45;&#45;label">

                <div class="h-ellipsis" title="0">
                    0
                </div>

            </td>

            <td class="m-table-list__col  m-table-list__col&#45;&#45;label">

                <div class="h-ellipsis" title="01-12-2016">
                    01-12-2016
                </div>

            </td>

            <td class="m-table-list__col  m-table-list__col&#45;&#45;label">

                <div class="h-ellipsis" title="01-12-2016">
                    01-12-2016
                </div>

            </td>

            <td class="m-table-list__col  m-table-list__col&#45;&#45;label">

                <div class="h-ellipsis" title="C">
                    C
                </div>

            </td>

            <td class="m-table-list__col  m-table-list__col&#45;&#45;label">

                <div class="h-ellipsis" title="Alfie Wood">
                    Alfie Wood
                </div>

            </td>

        </tr>

        </tbody>

    </table>
</div>
-->



<!--
<div class="l-main-wrapper  l-margin-top&#45;&#45;normal">
    <table class="m-table-list  m-table-list&#45;&#45;row-hover">

        <thead class="m-table-list__header" >
        <tr class="m-table-list__row">
            <td class="m-table-list__col  m-table-list__col&#45;&#45;label">
                {{ 'PROPOSAL'| translate }}
            </td>
            <td class="m-table-list__col  m-table-list__col&#45;&#45;label">
                {{ 'CONTRACT'| translate }}
            </td>
            <td class="m-table-list__col  m-table-list__col&#45;&#45;label">
                {{ 'PETITIONER'| translate }}
            </td>
            <td class="m-table-list__col  m-table-list__col&#45;&#45;label">
                {{ 'STATE'| translate }}
            </td>
            &lt;!&ndash; <td class="m-table-list__col  m-table-list__col&#45;&#45;label">
        {{ 'QUANTITY'| translate }}
    </td> &ndash;&gt;
            <td class="m-table-list__col  m-table-list__col&#45;&#45;label">
                {{ 'DATE'| translate }}
            </td>
            <td class="m-table-list__col  m-table-list__col&#45;&#45;label">
                {{ 'DEADLINE'| translate }}
            </td>
            &lt;!&ndash; <td class="m-table-list__col  m-table-list__col&#45;&#45;label">
        {{ 'PRIORITY'| translate }}
    </td> &ndash;&gt;
            <td class="m-table-list__col  m-table-list__col&#45;&#45;label">
                {{ 'SELLER'| translate }}
            </td>
        </tr>
        </thead>
    </table>
</div>
-->

<app-infinite-scroll [id]="'mbz-components-scroll__id'" [wrapperHeight]="'450px'" (throwEvent)="getNextProposalsList()">
  <div class="l-main-wrapper ">
    <table class="m-table-list  m-table-list--row-hover">

      <!-- <thead class="m-table-list__header">
&lt;!&ndash;
           <tr class="m-table-list__row">
               <td class="m-table-list__col  m-table-list__col--label">
               </td>
               <td class="m-table-list__col  m-table-list__col--label">
               </td>
               <td class="m-table-list__col  m-table-list__col--label">
               </td>
               <td class="m-table-list__col  m-table-list__col--label">
               </td>
               <td class="m-table-list__col  m-table-list__col--label">
               </td>
               <td class="m-table-list__col  m-table-list__col--label">
               </td>
               &lt;!&ndash; <td class="m-table-list__col  m-table-list__col--label">
           {{ 'PRIORITY'| translate }}
       </td> &ndash;&gt;
               <td class="m-table-list__col  m-table-list__col--label">
               </td>
           </tr>
&ndash;&gt;
       </thead>-->

      <!--style="visibility: collapse;"-->
      <thead>
      <tr class="m-table-list__header" style="position: fixed; width: 100%;">
        <td class="m-table-list__col  m-table-list__col--label">
          {{ 'PROPOSAL'| translate }}
        </td>
        <td class="m-table-list__col  m-table-list__col--label">
          {{ 'CONTRACT'| translate }}
        </td>
        <td class="m-table-list__col  m-table-list__col--label">
          {{ 'PETITIONER'| translate }}
        </td>
        <td class="m-table-list__col  m-table-list__col--label">
          {{ 'STATE'| translate }}
        </td>
        <!-- <td class="m-table-list__col  m-table-list__col--label">
    {{ 'QUANTITY'| translate }}
</td> -->
        <td class="m-table-list__col  m-table-list__col--label">
          {{ 'DATE'| translate }}
        </td>
        <td class="m-table-list__col  m-table-list__col--label">
          {{ 'DEADLINE'| translate }}
        </td>
        <!-- <td class="m-table-list__col  m-table-list__col--label">
    {{ 'PRIORITY'| translate }}
</td> -->
        <td class="m-table-list__col  m-table-list__col--label">
          {{ 'SELLER'| translate }}
        </td>
      </tr>
      </thead>


      <tbody class="m-table-list__data">
      <tr class="m-table-list__row" *ngFor='let v of printList'>
        <td class="m-table-list__col  m-table-list__col--label">
          <div class="h-ellipsis" title={{v.proposal}}>
            {{v.proposal | void}}
          </div>

        </td>

        <td class="m-table-list__col  m-table-list__col--label">
          <div class="h-ellipsis" title={{v.contract}}>
            {{v.contract | void}}
          </div>

        </td>

        <td class="m-table-list__col  m-table-list__col--label">
          <div class="h-ellipsis" title={{v.subject}}>
            {{v.subject | void}}
          </div>

        </td>

        <td class="m-table-list__col  m-table-list__col--label">
          <div class="h-ellipsis" title={{v.state}}>
            {{v.state | void}}
          </div>

        </td>

        <!-- <td class="m-table-list__col  m-table-list__col--label">
    <div class="h-ellipsis" title={{v.asset}}>
        {{v.asset}}
    </div>

</td> -->

        <td class="m-table-list__col  m-table-list__col--label">
          <div class="h-ellipsis" title={{v.date}}>
            {{v.date | void}}
          </div>

        </td>

        <td class="m-table-list__col  m-table-list__col--label">
          <div class="h-ellipsis" title={{v.deadline}}>
            {{v.deadline | void}}
          </div>

        </td>

        <!-- <td class="m-table-list__col  m-table-list__col--label">
    <div class="h-ellipsis" title={{v.priority}}>
        {{v.priority}}
    </div>

</td> -->

        <td class="m-table-list__col  m-table-list__col--label">
          <div class="h-ellipsis" title={{v.seller}}>
            {{v.seller | void}}
          </div>

        </td>


      </tr>

      </tbody>

    </table>
  </div>
</app-infinite-scroll>
<div class="col-1">
  <button class="a-button--azure" style="height: 40px;width: 40px; border-radius:50%; border-width: 0" [ngStyle]="{'position': 'fixed', 'top': newProposalButtonPosition, 'right': spaceFromBar}" (click)="goToNewProposal()">
    <span style="font-size: 20px; font-weight: bold; color: white"> + </span>
  </button>
</div>
<!--
<div class="l-main-wrapper  l-margin-top&#45;&#45;normal">
    <div class="m-footer-controls">

        <div class="m-footer-controls__child">

            <div class="a-button  a-button&#45;&#45;transparent">
                {{ 'GO_OUT'| translate }}
            </div>

        </div>

    </div>
</div>-->
