<div class="row l-margin-top--small">
    <div class="col-12">
        <div class="m-accordion-trigger" [ngClass]="{'m-accordion-trigger--active': showContent}">
            <div class="m-accordion-trigger__label">
                {{'COMMECIAL_DATA' | translate}}
            </div>
            <div class="m-accordion-trigger__icons" (click)="showContent = !showContent">
                <app-svg-icon [icon]="'arrow-down'"></app-svg-icon>
            </div>
        </div>
    </div>
</div>

<div class="l-white-container" [hidden]="!showContent">
    <div class="l-main-wrapper">
        <form [formGroup]="commercialDataForm">
            <!-- Versione con prezzo sbarrato -->
            <!--

            <div class="row col-12">
                <div class="col-8" style="min-height: 20px">
                </div>
                <div class="col-4">
                    <div class="row">
                        <div class="col-12">
                            <div class="a-digit-box  a-digit-box--small discount-text">
                                <div class="a-digit-box__main " title="sconto">
                                    <span *ngIf="discount>0 && isVisibleDiscount" class="discount-text input-currency">
                                        {{totalAmountWithoutDiscount | currency:'EUR'| currencyFormatter}}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            -->

            <!--    NOTA post-ristrutturazione:
                Due colonne, uno per la form (divisa in 4 righe) e uno con i totali (3 righe).
                Per righe con numero diverso (minore?) di campi, se non appaiono allineati con le altre righe,
                 usare classi "pl-0" nell'elemento più a sx e "pr-0" nell'elem più a dx per gestire il padding.

                 Indice: Riga.Colonna
            -->
            <div class="row col-12">
                <!-- FORM -->
                <div class="col-8">
                    <!-- 1: listino, marca, IPT, MSS-->
                    <div class="row col-12">
                        <!--1.1 Listino-->
                        <div class="col-3 pl-0">
                            <app-currency-input *ngIf="!isOtherBrand" label="AMOUNT_PRICE_LIST" formControlName='price' ></app-currency-input>
                            <app-currency-input *ngIf="isOtherBrand" label="AMOUNT_CAR" formControlName='price' ></app-currency-input>
                            <!--
                            <div class="a-input  a-input&#45;&#45;text  a-input&#45;&#45;disabled">
                                <div class="a-input__label" *ngIf="!isOtherBrand">
                                    {{ 'AMOUNT_PRICE_LIST' | translate }}
                                </div>
                                <div class="a-input__label" *ngIf="isOtherBrand">
                                    {{ 'AMOUNT_CAR' | translate }}
                                </div>
                                <input type="text" class="input-currency" formControlName='price' currencyMask>
                            </div>
    -->
                        </div>
                        <!--1.2 Marca -->
                        <div class="col-3">
                            <div class="a-input a-input--select" *ngIf="!isOtherBrand">
                                <div class="a-input__label">
                                    {{ 'BRAND' | translate }}
                                </div>
                                <input type='text' class="a-input a-input--text a-input--disabled" formControlName='brand'
                                       [value]="franchisedBrand.value">
                            </div>
                            <div class="a-input a-input--select" *ngIf="isOtherBrand">
                                <div class="a-input__label">
                                    {{ 'BRAND' | translate }}
                                </div>
                                <select formControlName='brand'>
                                    <option disabled hidden [ngValue]="null">{{'SELECT_BRAND'|translate}}</option>
                                    <option> brand
                                    </option>
                                </select>
                                <app-svg-icon [icon]="'arrow-down'"></app-svg-icon>
                            </div>
                        </div>
                        <!--1.3 MSS/Importo Esente-->
                        <div class="col-3">
                            <app-currency-input *ngIf="isNew" formControlName='entry'
                                                [label]="'PUT_ON_ROAD'"></app-currency-input>
                            <app-currency-input formControlName='exemptAmount' *ngIf="!isNew"
                                                [label]="'EXEMPT_AMOUNT'"></app-currency-input>
                        </div>
                        <!--1.4-->
                        <div class="col-3 pr-0">
                            <app-currency-input *ngIf="isNew" formControlName='ipt'
                                                [label]="'IPT_NO_IVA'"></app-currency-input>

                            <div class="a-input  a-input--text a-input--disabled"
                                 *ngIf="!isNew">
                                <app-currency-input *ngIf="isNew" formControlName='marketValue'
                                                    [label]="'MARKET_VALUE'"></app-currency-input>
                            </div>
                        </div>
                    </div>
                    <!-- 2: fornitore, IVA -->
                    <div class="row col-12 l-margin-top--normal">
                        <!--2.1-->
                        <div class="col-6 pl-0">
                            <div class="a-input a-input--select">
                                <div class="a-input__label"> <!--style="text-transform: lowercase">-->
                                    {{ 'SUPPLIER' | translate }}
                                </div>
                                <select formControlName='supplier' id="fornitore">
                                    <option *ngFor="let supplier of suppliersList" [ngValue]="supplier">
                                        {{supplier.label}}
                                    </option>
                                </select>

                                <app-svg-icon [icon]="'arrow-down'"></app-svg-icon>

                            </div>
                        </div>
                        <!--2.2-->
                        <div class="col-6 pr-0">
                            <div class="a-input  a-input--select  ">
                                <div class="a-input__label">
                                    {{ 'IVA' | translate }}
                                </div>
                                <select id="iva" formControlName='iva'>
                                    <option> 15 </option>
                                </select>
                                <app-svg-icon [icon]="'arrow-down'"></app-svg-icon>
                            </div>
                        </div>
                    </div>
                    <!-- 3: optionals-->
                    <div class="row col-12 l-margin-top--normal">
                        <!--3.1-->
                        <div class="col-4" [hidden]="isOtherBrand">
                            <div class="a-input  a-input--text">
                                <div class="a-input__label">
                                    {{ 'AMOUNT_ACCESSORIES' | translate }}
                                </div>
                                <input type="text" class="input-currency"
                                       [value]="12 | currency:'EUR'| currencyFormatter " disabled>
                            </div>
                        </div>

                        <div class="col-4" [hidden]="!isOtherBrand || !isNew">
                            <app-currency-input [label]="'AMOUNT_ACCESSORIES'" formControlName="otherBrandOptional"></app-currency-input>
                        </div>

                        <!--3.2-->
                        <div class="col-4" *ngIf="!isOtherBrand">
                            <div class="a-input  a-input--text  a-input--disabled">
                                <div class="a-input__label">
                                    {{ 'AMOUNT_ACCESSORIES_PREMIUM' | translate }}
                                </div>
                                <input type="text" class="input-currency"
                                       [value]="12 | currency:'EUR'| currencyFormatter " disabled>
                            </div>
                        </div>
                        <!--3.3-->
                        <div class="col-4" *ngIf="!isOtherBrand"> <!--*ngIf="thirdPartList.length>0"-->
                            <div class="a-input  a-input--text  a-input--disabled">
                                <div class="a-input__label">
                                    {{ 'AMOUNT_OPTIONALS' | translate}}
                                </div>
                                <input type="text" [value]="12 | currency:'EUR'|currencyFormatter "
                                       class="input-currency" disabled>
                            </div>
                        </div>
                    </div>
                    <!-- 4: descrizione (solo NON-franchised) -->
                    <div *ngIf="isOtherBrand" class="row col-8 l-margin-top--normal pr-0">
                        <div class="a-input a-input--text">
                            <div class="a-input__label">
                                <label for="commercial-desc">{{ 'DESCRIPTION' | translate }}</label>
                            </div>
                            <input id='commercial-desc' type="text" maxlength="50" formControlName='description'>
                        </div>
                    </div>
                    <!-- 5: telaio, sconto -->
                    <div class="row col-12 l-margin-top--normal">
                        <!--4.1-->
                        <div class="col-6 pl-0">
                            <div id="commercial-input-chassis" class="a-input a-input--text">
                                <div class="a-input__label">
                                    {{ 'CHASSIS' | translate}}
                                </div>
                                <input type="text" formControlName='chassis' [maxlength]="INPUT_SIZES.chassis"
                                       [value]="commercialDataForm.value.chassis | uppercase" spellcheck="false">
                                <!--In caso di form in errore-->
                                <span class="a-input__alert d-none">
                                {{'CHASSIS_NOT_FOUND' | translate}}
                            </span>

                            </div>
                        </div>
                        <!--4.2-->
                        <div class="col-6 pr-0">
                            <!--sconto-->
                            <div class="row" *ngIf="discount>0 && isVisibleDiscount">
                                <!-- VALORE sconto -->
                                <div class="col-6">
                                    <div class="a-input  a-input--text  a-input--disabled">
                                        <div class="a-input__label">
                                            {{'DISCOUNT' | translate}}
                                        </div>
                                        <input disabled name="Discount" type="text" class="input-currency"
                                               [value]="discount | currency:'EUR'| currencyFormatter">
                                    </div>
                                </div>
                                <!-- % sconto-->
                                <div class="col-6 mt-auto">
                                    <div class="a-input  a-input--text  a-input--disabled">

                                        <input disabled name="DiscountPercent" type="text" class="input-currency"
                                               [value]="discountPercent">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <!-- TOTALI -->
                <div class="col-4">
                    <!--1 FINAL PRICE-->
                    <div class="row">
                        <div class="col">
                            <div class="a-digit-box">
                                <div class="a-digit-box__main inline-style">
                                    {{12 | currency:'EUR'|currencyFormatter}}
                                </div>
                                <div class="a-digit-box__secondary">
                                    {{ 'TOTAL_AMOUNT' | translate }} <span>{{ 'IVA_INCLUDED' | translate }}</span>
                                </div>
                            </div>

                        </div>
                        <!--<div class="col-9">-->
                            <!--<div class="a-digit-box a-digit-box&#45;&#45;big">-->

                                <!--<div class="a-digit-box__main">-->
                                    <!--<app-currency-input [inputCss]="'input-currency-3'" formControlName='finalPrice' ></app-currency-input>-->
                                    <!--&lt;!&ndash;<input type="text" class="input-custom" formControlName='finalPrice'&ndash;&gt;-->
                                           <!--&lt;!&ndash;currencyMask id="finalPrice">&ndash;&gt;-->
                                    <!--&lt;!&ndash;-->
                                     <!--<input class=" input-custom"   clazz="text" (blur)="editingMode = !editingMode"-->
                                     <!--[value]="finalPrice | currency:'EUR'| currencyFormatter ">-->
                                     <!--&ndash;&gt;-->
                                <!--</div>-->
                                <!--&lt;!&ndash;-->
                                                            <!--<div class="input-custom-disabled a-digit-box__main " title="sconto"*ngIf="!editingMode">-->
                                                                <!--<span class="input-currency" style="cursor: pointer" (click)=""editingMode = !editingMode" >-->
                                                                <!--{{totalAmmount | currency:'EUR'|currencyFormatter}}-->
                                                                <!--</span>-->
                                                                <!--&lt;!&ndash;<app-svg-icon class="iconSmall " style="cursor: pointer"-->
                                                                              <!--(click)="editingMode = !editingMode"-->
                                                                              <!--[icon]="'pencil'"></app-svg-icon>&ndash;&gt;-->
                                                                <!--&lt;!&ndash;-->
                                                                                                <!--<span class="a-digit-box  a-digit-box&#45;&#45;big" >-->
                                                                <!--&ndash;&gt;-->

                                                                <!--&lt;!&ndash;                                </span>&ndash;&gt;-->
                                                            <!--</div>-->
                                                            <!--<div class="a-digit-box__main"  *ngIf="editingMode">-->
                                                                <!--&lt;!&ndash;<app-svg-icon class="iconMedium" style="cursor: pointer"-->
                                                                              <!--(click)="editingMode = !editingMode"-->
                                                                              <!--[icon]="'pencil'"></app-svg-icon>&ndash;&gt;-->
                                                                <!--<input class=" input-custom"   clazz="text" (blur)="editingMode = !editingMode"-->
                                                                       <!--[value]="price | currency:'EUR'| currencyFormatter ">-->
                                                            <!--</div>-->
                                <!--&ndash;&gt;-->
                                <!--<div class="a-digit-box__secondary">-->
                                    <!--{{ 'TOTAL_AMOUNT' | translate }} <span>{{ 'IVA_INCLUDED' | translate }}</span>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->

                        <!--
                                  <div class="col-5">
                                    <div class="a-digit-box  a-digit-box--big">
                                      <app-svg-icon class="iconLarge" style="fill : #00adef; float: left; cursor: pointer" [icon]="'discount-simple'"></app-svg-icon>

                                    </div>
                                  </div>
                        -->

                    </div>
                    <!-- 2 fornitura -->
                    <div class="row l-margin-top--normal">
                        <div class="col">
                            <div class="a-digit-box">
                                <div class="a-digit-box__main inline-style">
                                    {{12 | currency:'EUR'|currencyFormatter}}
                                </div>
                                <div class="a-digit-box__secondary">
                                    {{ 'PROVISION_AMOUNT' | translate }}
                                </div>
                            </div>

                        </div>
                    </div>
                    <!--3 quota IVA-->
                    <div class="row l-margin-top--normal">
                        <div class="col">
                            <div class="a-digit-box">
                                <div class="a-digit-box__main">
                                    {{12 | currency:'EUR'|currencyFormatter}}
                                </div>
                                <div class="a-digit-box__secondary">
                                    {{ 'IVA' | translate }}
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </form>

        <!--sezione dati usato-->
        <div class="l-main-wrapper  l-margin-top--normal" *ngIf="!isNew">
            <div class="m-accordion-trigger" [ngClass]="{'m-accordion-trigger--active': secondHandAccordionOpen}">

                <div class="m-accordion-trigger__label">
                    {{ 'SECONDHAND' | translate}}
                </div>
                <a (click)="secondHandAccordionOpen = !secondHandAccordionOpen">
                    <app-svg-icon [icon]="'arrow-down'"></app-svg-icon>
                </a>

            </div>
            <div class="l-white-container pb-5" *ngIf="secondHandAccordionOpen">
                <div class="l-main-wrapper l-margin-top--normal">
                    <form [formGroup]="secondhandProductForm">
                        <div class="row">
                            <!-- TARGA -->
                            <div class="col-3" [ngClass]="{'border border-danger':false}">
                                <div id="commercial-input-plate" class="a-input a-input--text">
                                    <div class="a-input__label">
                                        {{ 'PLATE' | translate}}
                                    </div>
                                    <input type="text" formControlName='licensePlate' [maxlength]="INPUT_SIZES.licensePlate"
                                           [value]="secondhandProductForm.value.licensePlate | uppercase">
                                    <!-- Messaggio di errore -->
                                    <span class="a-input__alert d-none">
                                {{'REQUIRED' | translate}}
                            </span>
                                </div>
                            </div>
                            <!-- KM ATTUALI -->
                            <div class="col-3">
                                <div id="commercial-input-km" class="a-input  a-input--text">
                                    <div class="a-input__label">
                                        {{ 'ACTUAL_KM' | translate}}
                                    </div>
                                    <input type="text" formControlName='km'>
                                    <span class="a-input__alert d-none">
                                {{'REQUIRED' | translate}}
                            </span>
                                </div>
                            </div>
                            <!-- TELAIO spostato-->
                            <!--                    <div class="col-3">
                                                                            <div id="commercial-input-chassis" class="a-input a-input&#45;&#45;text">
                                                                                <div class="a-input__label">
                                                                                    {{ 'CHASSIS' | translate}}
                                                                                </div>
                                                                                <input clazz="text" formControlName='frame'
                                                                                       (blur)="checkChassis()" (keyup.enter)="checkChassis()"
                                                                                       [value]="secondhandProductForm.value.frame | uppercase">
                                                                                &lt;!&ndash;In caso di form in errore&ndash;&gt;
                                                                                <span class="a-input__alert d-none">
                                                                                    {{'CHASSIS_NOT_FOUND' | translate}}
                                                                                </span>

                                                                            </div>
                                                </div>
                            -->
                            <!--DROPDOWN IMMATRICOLAZIONE-->
                            <div class="col-6">
                                <div class="row">
                                    <!-- ANNO IMMATRICOLAZIONE -->
                                    <div class="col-6">
                                        <div id="commercial-input-year" class="a-input  a-input--select">
                                            <div class="a-input__label">
                                                {{ 'MATRICULATION' | translate}}
                                            </div>
                                            <select id="year" formControlName='registrationYear'>
                                                <option hidden [value]="null" selected>{{ 'YEAR' | translate }}</option>
                                                <option *ngFor="let y of years" [value]="y"> {{y}}</option>
                                            </select>
                                            <app-svg-icon [icon]="'arrow-down'"></app-svg-icon>
                                            <span class="a-input__alert d-none">
                                    {{'REQUIRED' | translate}}
                                    </span>
                                        </div>

                                    </div>
                                    <!-- MESE -->
                                    <div class="col-6 mt-auto">
                                        <div id="commercial-input-month" class="a-input  a-input--select  ">
                                            <select id="month" formControlName='registrationMonth'>
                                                <option hidden [value]="null" selected>{{ 'MONTH' | translate }}</option>
                                                <option *ngFor="let m of months, let i = index" [value]="i + 1"> {{m}}</option>
                                            </select>
                                            <app-svg-icon [icon]="'arrow-down'"></app-svg-icon>
                                            <span class="a-input__alert d-none">
                                    {{'REQUIRED' | translate}}
                                    </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </form>

                    <label class="a-checkbox l-margin-top--normal" for="assetConfirm">
                        <input type="checkbox" id="assetConfirm" [(ngModel)]="secondHandCondition">
                        <span></span>
                        <div class="ty-body">
                            {{'SECOND_HAND_CONFIRM_ASSET' | translate}}
                        </div>
                    </label>
                    <div id="commercial-checkbox-flag" class="a-input__alert flag-error">
                        <span class="d-none"> {{'NO_FLAG_SELECTED' | translate}}</span>
                    </div>

                </div>

            </div>
        </div>
        <!-- OPTIONAL -->
        <app-commercial-optional [(optionalList)]="selectedOptionalList" [iva]="ivaValue" [isEditing]="false">
        </app-commercial-optional>
        <!-- Fine Optional -->

        <!-- TERZE PARTI -->
        <app-commercial-third-part [thirdPartList]="thirdPartList" [isEditing]="false" >
        </app-commercial-third-part>
        <!-- Fine Terze Parti -->
    </div>
</div>
<!-- Fine Dati Commerciali -->

