<div [ngClass]="cssClasses">
    <div class="modal_message"> {{message | translate}} </div>

  <div class="modal_button_container mt-2">
    <div class="a-button a-button--azure modal_button" (click)="confirm()">
      {{ 'CONFIRM' | translate }}
    </div>
      <div class="a-button a-button--grey modal_button" (click)="undo()">
          {{ 'UNDO' | translate }}
      </div>
  </div>

</div>