//stile utilizzato se non sono passate classi css tramite modalParameters
.default{
  height: 30vh;
  .modal_message {
    font-size: large;
    font-weight: bold;
    text-align: center;
    margin: 3rem;
  }
  .modal_button {
    margin: 1rem;
  }
  .modal_button_container {
    justify-content: flex-end;
    text-align: center;
    margin: 3rem;
  }
}




