@import "../../../tabs.scss";

thead, tbody, tr{
  display:table;
  width:100%;
  table-layout:fixed;/* even columns width , fix width of table too*/
}

.a-button--azure {
  border: 1px solid #00adef;
}