<div class="l-main-wrapper  l-margin-top--normal ">
  <table class="m-table-list  m-table-list--row-hover">
    <thead class="m-table-list__header">
      <tr class="m-table-list__row">
        <th *ngFor="let key of headers; let i=index" id="{{'h'+i}}" [style.width]="getWidth(key)"
          class="m-table-list__col  m-table-list__col--label order-none">
          <a class='hoverable' (click)="sortByField('h'+i);">
            {{ key | uppercase | translate }}
          </a>
          <!--"i" per info stati proposta-->
          <!--<a *ngIf="i==3" class='hoverable' (click)="openStatePopup()">-->
          <!--<app-svg-icon [icon]="'info'" class="iconInfo"></app-svg-icon>-->
          <!--</a>-->
          <!--freccia ordinamento-->
          <a class='hoverable' (click)="sortByField('h'+i);">
            <!--discendente-->
            <span class="down">
              <app-svg-icon [icon]="'arrow-down'" class="sorting-arrow ">
              </app-svg-icon>
            </span>
            <!--ascendente -->
            <span class="up">
              <app-svg-icon [icon]="'arrow-down'" class="sorting-arrow sorting-arrow--up">
              </app-svg-icon>
            </span>
          </a>
        </th>
      </tr>
    </thead>
  </table>

  <div malihu-scrollbar id="{{id}}" class="mCustomScrollbar scrollable__element" [style.maxHeight]="__wrapperHeight">
    <table class="m-table-list  m-table-list--row-hover">
      <tbody class="m-table-list__data" *ngFor='let v of proposalsList; let i = index'>
        <tr id="row{{i}}" class="m-table-list__row">
          <!--NEW-->
          <td *ngFor="let key of objectKeys; let j=index" class="m-table-list__col" [style.width]="getWidth(key)"
            [ngClass]="{'m-table-list__col--label': key != 'causaleSospensione', 'm-table-list__col--score': key == 'causaleSospensione'}">
            <ng-container [ngSwitch]="key">
              <div *ngSwitchCase="'contract'" class="h-ellipsis" title={{v[key]}}>
                {{v[key] | contractCodeFormatter | void}}
              </div>
              <div *ngSwitchCase="'causaleSospensione'" class="l-center" title={{v[key]}}>
                  <span class="h-score">
                    {{v[key] | void}}
                  </span>
              </div>
              <div *ngSwitchDefault class="h-ellipsis" title={{v[key]}}>
                {{v[key] | void}}
              </div>
            </ng-container>
          </td>
          <td style="padding-top: 19px; padding-bottom: 19px">
            <div style="margin: auto; display: table;">
              <div class="m-action-controls">
                <div class="m-action-controls__child" [hidden]="!v.blocked">
                  <app-svg-icon style="padding-right: 5px" class="icon iconMedium stop" [icon]="'stop'">
                  </app-svg-icon>
                </div>
                <div class="m-action-controls__child" [hidden]="v.blocked || v.numBlocchi <= 0">
                  <app-svg-icon style="padding-right: 5px" class="icon iconMedium" [icon]="'loked'">
                  </app-svg-icon>
                  <div class="m-action-controls__child__notification">
                    <div class="a-notification">
                      {{v.numBlocchi}}
                    </div>
                  </div>
                </div>
                <div class="m-action-controls__child" [hidden]="v.numDocMancanti <= 0">
                  <app-svg-icon style="padding-right: 5px" class="icon iconMedium" [icon]="'notification'"
                    (click)="openUnavailableContent()">
                  </app-svg-icon>
                  <div class="m-action-controls__child__notification">
                    <div class="a-notification">
                      {{v.numDocMancanti}}
                    </div>
                  </div>
                </div>
                <div class="m-action-controls__child">
                  <app-svg-icon style="padding-right: 5px" class="icon iconMedium" [hidden]="!v.urgente" [icon]="'urgente'"
                    (click)="openUnavailableContent()">
                  </app-svg-icon>
                </div>
                <app-svg-icon id="trigger{{i}}" class="icon iconMedium" [icon]="'arrow-down'"
                  (click)="openAccordion(i); checkContent()">
                </app-svg-icon>
              </div>
            </div>
          </td>
        </tr>

        <tr id="accordion{{i}}" class="m-table-list__row hidden">
            <td colspan="9" class="m-table-list__col  m-table-list__col-- bg-white">
                <div class="m-accordion-row__wrapper">
                    <div class="m-accordion-row__col">
                        <div class="m-accordion-row__child c-darkGray">
                            Proposta
                        </div>
                        <div class="m-accordion-row__child">
                            {{v.contratto}}
                        </div>
                        <div class="m-accordion-row__child c-darkGray">
                            Campagna
                        </div>
                        <div class="m-accordion-row__child">
                            My Drive Pass
                        </div>
                    </div>
                    <div class="m-accordion-row__col">
                        <div class="m-accordion-row__child c-darkGray">
                            Data Proposta
                        </div>
                        <div class="m-accordion-row__child">
                            {{v.arrivo}}
                        </div>
                        <div class="m-accordion-row__child c-darkGray">
                            Causale sospensione
                        </div>
                        <div class="m-accordion-row__child">
                            Anomalia Flusso RID
                        </div>
                    </div>
                    <div class="m-accordion-row__col">
                        <div class="m-accordion-row__child c-darkGray">
                            Asset
                        </div>
                        <div class="m-accordion-row__child">
                            Nuovo
                        </div>
                    </div>
                    <div class="m-accordion-row__col">
                        <div class="m-accordion-row__child c-darkGray">
                            Venditore
                        </div>
                        <div class="m-accordion-row__child">
                            Francesco di Giacomo
                        </div>
                    </div>
                    <div class="m-accordion-row__col">
                    </div>
                </div>

                <div class="m-accordion-row__controls">
                    <div class="m-footer-controls">
                        <div class="m-footer-controls__child">
                            <div class="a-button">
                                Documenti
                            </div>
                            <div class="a-button  a-button--transparent">
                                Lavora proposta
                            </div>
                            <div class="a-button  a-button--azure" (click)="goToConsultation(v.proposta, v.processInstanceId)">
                                Consulta proposta
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
