.m-user-document-details {
  display: flex;
  .row {
    width: 100%;
  }
  &__img {
    width: 50%;
    img {
      display: block;
      width: 100%;
    }
  }
  &__actions {
    width: 50%;
    padding-left: rem(50);
    > div  {
      margin-top: rem(22);
      margin-bottom: rem(22);
    }
    a {
      color: color(azure);
    }
  }
}