.a-button-round {
  display: inline-block;
  width: rem(40);
  height: rem(40);
  border-radius: rem(20);
  box-shadow: 0 rem(2) rem(20) 0 rgba(0, 0, 0, 0.06);
  background-color: color(white);
  cursor: pointer;

  svg {
    width: 50%;
    height: inherit;
    margin-left: 25%;
    display: block;
    fill: color(azure);    
  }

  &:hover, &--active {
    background-color: color(azure);  
    svg {
        fill: color(white) !important;
    }
  }
}
