.icon--star {
  position: absolute;
  top: 50%;
  right: rem(20);
  width: rem(30);
  height: rem(30);
  transform: translateY(-50%);
}

.icon--pdf {
  position: absolute;
  top: 50%;
  left: rem(20);
  width: rem(30);
  height: rem(30);
  transform: translateY(-50%);
}

.financial-secondColTitle {
  font-family: 'DaimlerCS-Bold';
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
}

.financial-title-section {
  font-size: 1.1rem;
  line-height: 1.7rem;
  color: #999;
  padding-bottom: 2px;
}

.financial-campaign-container{
  display: block;
  position: relative;
}

.financial-campaign-row{

  width: 100%;
}


.financial-col{
  padding-left: 0;
}
.financial-star-icon {
  position: absolute;
  right: 0px;
  top: 5px;

}


.financial-container-row{
  padding-top: 15px;
}

.financial-pdf-icon{
  position: absolute;
  right: 20px;
  top: 20px;
}

.financial-main-container{
  max-height: 55rem;
  min-height: 35rem;
}

.financial-container-details{
  margin-top: 2.5rem;
  box-shadow: none;
  display: inherit;
}

ul li {
  /* Bullet color */
  color: #0088c6;
  list-style-type: disc;
}

ul li span {
  /* Bullet color */
  color: #999;
}

.financial-active{
  color: #fff;
  background: #0088c6;
}
