 <div class="row l-margin-top--small">
    <div class="col-12">
        <div class="m-accordion-trigger " [ngClass]="{'m-accordion-trigger--active': showContent}">
            <div class="m-accordion-trigger__label ">
                Campagna
            </div>
            <div class="m-accordion-trigger__icons" (click)="showContent = !showContent">
                <app-svg-icon [icon]="'arrow-down'"></app-svg-icon>
            </div>
        </div>
    </div>
</div>

<div class="l-white-container " [hidden]="!showContent">
    <div class="l-main-wrapper  l-margin-top--small">
        <div class="ty-body">
            {{ 'SELECTED_CAMPAIGN' | translate}}
        </div>
    </div>

    <div class="l-main-wrapper  l-margin-top--normal">

        <div class="row">
            <!-- FIRST COLUMN - Financial Campaign List -->
            <div class="col-4" style="max-height: 35rem" malihu-scrollbar [scrollbarOptions]="scrollbarOptions">

                <div class="a-service-card" *ngFor="let campaign of financialCampaignList index as i"
                     (click)="loadSecondColumn(i, campaign)"
                     [ngClass]="{'a-service-card--active': i == indexSelectedFinancialCampaign}" style="cursor: pointer">
                    <!-- active class da attribuire al click a-service-card--active -->

                    <div class="a-service-card__default"
                         [ngClass]="{'a-service-card__default--active': i == indexSelectedFinancialCampaign}">
                        <a>
                            <app-svg-icon *ngIf="campaign.isStrategic" [icon]="'star'"></app-svg-icon>
                            {{campaign.fpDescription}}
                        </a>
                    </div>

                    <div class="a-service-card__price">

                        <a>
                            <app-svg-icon [icon]="'pdf'"></app-svg-icon>
                        </a>

                    </div>
                </div>

            </div>

            <!-- SECOND COLUMN - Campaign Detail List -->
            <div class="col-4" style="max-height: 35rem">
                <div *ngIf="secondColumnEnable" malihu-scrollbar [scrollbarOptions]="scrollbarOptions">

                    <div class="financial-secondColTitle">
                        {{ campaignTitle }}
                    </div>
                    <div class="a-service-card financial-campaign-container"
                         *ngFor="let camp of selectedFinancialCampaign.campaignsDetailList index as ind"
                         (click)="loadThirdColumn(ind, camp)"
                         [ngClass]="{'a-service-card--active': ind == indexSelectedCampaign}" style="cursor: pointer">
                        <div class="a-service-card__star financial-star-icon"
                             [ngClass]="{'a-service-card--active': ind == indexSelectedCampaign}">
                            <a>
                                <app-svg-icon *ngIf="camp.tattica" [icon]="'star'"></app-svg-icon>
                            </a>
                        </div>
                        <div class="row container financial-campaign-row">
                            <div class="a-service-card__name">
                                {{camp.description}}
                            </div>
                        </div>
                        <div class="container row financial-container-row">
                            <div class="col-6 financial-col">
                                <div class="financial-title-section"
                                     [ngClass]="{'financial-active': ind == indexSelectedCampaign}">
                                    {{ 'CAMPAIGN_CODE' | translate}}
                                </div>

                                <div class="a-service-card__name">
                                    {{camp.code}}
                                </div>
                            </div>
                            <div class="col-6 financial-col">
                                <div class="financial-title-section"
                                     [ngClass]="{'financial-active': ind == indexSelectedCampaign}">
                                    {{ 'CAMPAIGN_EXPIRATION' | translate}}
                                </div>

                                <div class="a-service-card__name">
                                    {{camp.expiryDate}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- THIRD COLUMN - Campaign Detail Selected -->
            <div class="col-4" style="max-height: 35rem" *ngIf="thirdColumnEnable" malihu-scrollbar
                 [scrollbarOptions]="scrollbarOptions">
                <div class="a-service-card financial-container-details">
                    <div class="a-service-card__star financial-pdf-icon">
                        <a style="cursor: pointer">
                            <app-svg-icon [icon]="'pdf'" (click)="downloadPdf()"></app-svg-icon>
                        </a>
                    </div>
                    <div class="row container financial-campaign-row">
                        <div class="a-service-card__name">
                            {{selectedCampaignDetail.description}}
                        </div>
                    </div>
                    <div class="container row financial-container-row">
                        <div class="financial-title-section">
                            {{selectedCampaignDetail.description}}
                        </div>
                    </div>
                    <!--   <div class="container row financial-container-row">
                           <div class="col-6">
                               <div class="financial-title-section">
                                   <ul>
                                       <li>
                                           <span>Anticipo di {{selectedCampaignDetail.advance}}</span>
                                       </li>
                                       <li>
                                           <span>TAEG {{selectedCampaignDetail.taeg}}</span>
                                       </li>
                                   </ul>
                               </div>
                           </div>
                           <div class="col-6">
                               <div class="a-service-card__name">
                                   TAN {{selectedCampaignDetail.tan}}
                               </div>
                           </div>
                       </div> -->
                </div>

            </div>
        </div>
    </div>

    <div class="l-main-wrapper  l-margin-top--normal" *ngIf="buttonsEnabled">
        <div class="m-footer-controls">

            <div class="m-footer-controls__child">

            </div>

            <!--<div class="m-footer-controls__child">-->
                <!--<button (click)="resetAccordion()" class="a-button">-->
                    <!--{{ 'UNDO' | translate}}-->
                <!--</button>-->

                <!--<button (click)="sendCampaign()" class="a-button  a-button&#45;&#45;azure">-->
                    <!--{{ 'CONFIRM' | translate}}-->
                <!--</button>-->

            <!--</div>-->

        </div>
    </div>
</div>
