.aligned_right {
  justify-content: flex-end;
  text-align: right;
}

.tab__link {
  cursor: pointer;
  display: flex;
  color: color(black);
  line-height: 1.6;
  justify-content: center;
}

.my-placehoder{
  color: red;
}

.padding-qb{
  margin-top: 3rem;
}

.padding-left{
  margin-left: 3rem;
}

.label-size{
  font-size: 2rem;
  padding-bottom: 3rem;
}

.content-size {
  font-size: 1.5rem;
  padding-top: 3rem;
}

.radio-style {
  color: #999;
  padding-right: 3rem;
  padding-left: 1rem;
}

.color-label {
  color: #00adef;
}