<div class="row l-margin-top--small">
    <div class="col-12">
        <div class="m-accordion-trigger" [ngClass]="{'m-accordion-trigger--active': showContent}">
            <div class="m-accordion-trigger__label">
                {{'SUBJ_PETITIONER' | translate}}
            </div>
            <div class="m-accordion-trigger__icons" (click)="showContent = !showContent">
                <app-svg-icon [icon]="'arrow-down'"></app-svg-icon>
            </div>
        </div>
    </div>
</div>

<div class="l-white-container" [hidden]="!showContent">
    <div class="l-main-wrapper">
        <div class="row l-margin-top--small">
            <div class="col-4">
                <div class="a-input  a-input--text  ">
                    <div class="a-input__label">
                        {{'SUBJECT' | translate}}
                    </div>
                    <input type="text" [ngModel]="subjectQueue?.soggetto" [disabled]="!isEditing">
                </div>
            </div>
            <div class="col-4">
                <div class="a-input  a-input--text  ">
                    <div class="a-input__label">
                        {{'CF_IVA' | translate}}
                    </div>
                    <input type="text" [ngModel]="subjectQueue?.cfPiva" [disabled]="!isEditing">
                </div>
            </div>
            <div class="col-4">
                <div class="a-input  a-input--text">
                    <div class="a-input__label">
                        {{'TYPE' | translate}}
                    </div>
                    <input type="text" [ngModel]="subjectQueue?.tipoSoggetto" [disabled]="!isEditing">
                </div>
            </div>
        </div>
        <div class="row l-margin-top--small">
            <div class="col-4">
                <div class="a-input  a-input--text  ">
                    <div class="a-input__label">
                        {{'PHONE_NUMBER' | translate}}
                    </div>
                    <input type="text" [disabled]="!isEditing">
                </div>
            </div>
            <div class="col-4">
                <div class="a-input  a-input--text  ">
                    <div class="a-input__label">
                        {{'ADDRESS' | translate}}
                    </div>
                    <input type="text" [disabled]="!isEditing">
                </div>
            </div>
            <div class="col-4">
                <div class="a-input  a-input--text  ">
                    <div class="a-input__label">
                        {{'IBAN' | translate}}
                    </div>
                    <input type="text" [ngModel]="subjectQueue?.iban" [disabled]="!isEditing">
                </div>
            </div>
        </div>
    </div>
</div>