<form>
    <div class="m-filter-container__wrapper">

        <div class="m-filter-container__col">
            <div class="m-filter-container__child m-filter-container__child-title">
                Linea Prodotto
                <!--{{'STATES' | translate}}-->
            </div>
            <div class="m-filter-container__child">
                <div class="a-input a-input--select">
                    <app-multi-select [label]="'Linea Prodotto'" [listItems]="lineaProdottoFilters" [reset]="reset" (_itemSelected)="lineaProdottoValue.emit($event)"></app-multi-select>
                </div>
            </div>
        </div>
        <div class="m-filter-container__col">
            <div class="m-filter-container__child m-filter-container__child-title">
                ????
                <!--{{'STATES' | translate}}-->
            </div>
            <div class="m-filter-container__child">
                <div class="a-input a-input--select">
                    <app-multi-select [label]="'cds'" [listItems]="cdsFilters" [reset]="reset" [multiple]="true" (_itemSelected)="cdsValue.emit($event)"></app-multi-select>
                </div>
            </div>
        </div>

        <div class="m-filter-container__col">
            <div class="m-filter-container__child m-filter-container__child-title">
                ????
                <!--{{'STATES' | translate}}-->
            </div>
            <div class="m-filter-container__child">
                <div class="a-input a-input--select">
                    <app-multi-select [label]="'doc'" [listItems]="documentazioneFilters" [multiple]="true" (_itemSelected)="documentazioneValue.emit($event)"
                                      [reset]="reset"></app-multi-select>
                </div>
            </div>
        </div>
    </div>
    <div class="m-filter-container__wrapper">
        <div class="m-filter-container__col">
            <div class="m-filter-container__child m-filter-container__child-title">
                ????
                <!--{{'STATES' | translate}}-->
            </div>
            <div class="m-filter-container__child">
                <div class="a-input a-input--select">
                    <app-multi-select [label]="'deroga'" [listItems]="derogaFilters" [multiple]="true" (_itemSelected)="derogaValue.emit($event)"
                                      [reset]="reset"></app-multi-select>
                </div>
            </div>
        </div>

        <div class="m-filter-container__col">
            <div class="m-filter-container__child m-filter-container__child-title">
                ????
                <!--{{'STATES' | translate}}-->
            </div>
            <div class="m-filter-container__child">
                <div class="a-input a-input--select">
                    <app-multi-select [label]="'retail'" [listItems]="retailFilters" [multiple]="true" (_itemSelected)="retailValue.emit($event)"
                                      [reset]="reset"></app-multi-select>
                </div>
            </div>
        </div>

        <div class="m-filter-container__col">
            <div class="m-filter-container__child m-filter-container__child-title">
                ????
                <!--{{'STATES' | translate}}-->
            </div>
            <div class="m-filter-container__child">
                <div class="a-input a-input--select">
                    <app-multi-select [label]="'soggetto'" [listItems]="soggettoFilters" [multiple]="true" (_itemSelected)="soggettoValue.emit($event)"
                                      [reset]="reset"></app-multi-select>
                </div>
            </div>
        </div>
    </div>
</form>
