.m-proposal-header {
	background: color(white);
	display: flex;
	justify-content: space-between;
	box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.03);
	margin-bottom: rem(40);
	&__data{
		display: flex;
		align-items: center;
		color: color(black);
		font-size: rem(14);
		line-height: rem(25);
		@extend .ff-DaimlerCS-Demi;
		> div {
			
			&.align-center {
				text-align: center;
			}
			&.align-right {
				text-align: right;
				a {
					justify-content: flex-end;
					text-align: right;
				}
			}
			height: 100%;
			padding: rem(30) rem(25);			
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
		strong, span {
			display: block;
		}
		strong {
			letter-spacing: rem(0.3);		
			font-size: rem(20);
			line-height: rem(20);
			a {
				font-size: rem(15);
				line-height: rem(15);
			}
		}
		small {
			@extend .ff-DaimlerCS-Regular;
			color: rgba(#999999, 1);
			letter-spacing: rem(0.4);
			font-size: rem(12);
		}
	}
}