.m-accordion-trigger--active .icon--arrow-down {
  -webkit-transform: translateY(-50%) rotate(0deg);
  transform: translateY(-50%) rotate(0deg);
}

.a-service-card:hover,
.a-service-card-small:hover {
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.25);
}

.a-service-card--active {
  color: #fff !important;
  background: #0088c6 !important;
}

select.form-control:not([size]):not([multiple]) {
  height: calc(2.25rem + 20px) !important;
  padding: 5px 10px !important;
}

.a-radio span {
  margin-right: 1rem;
  margin-left: 1rem;
}

.text-azure {
  color: #00adef;
}

.fill-azure {
  fill: #00adef;
}

.fill-red {
  fill: red;
}

//mostra msg di errore
div.a-input--error span {
  display: block !important;
}

.text-empty {
  font-size: 1.5rem;
  color: #000;
  line-height: 1.4rem;
}