<!-- START ACCORDION CHIUSO PER FINANCIAL SERVICES -->
<div class="row l-margin-top--small">
    <div class="col-md-12">
        <div class="m-accordion-trigger" [ngClass]="{'m-accordion-trigger--active' : insuranceAccordionOpen}">
            <div class="m-accordion-trigger__label">
                {{ "SERVICES" | translate }}
            </div>

            <ng-container *ngIf="financialValueList.length > 0">
                <div class="a-tag" *ngFor="let item of financialValueList;">
                <span>
                    {{item?.supplyElemDesc | titlecase}}
                </span>
                    <span class="ml-2">
                    {{item?.price | currencyFormatter}}
                </span>
                    <a (click)="removeInsuranceService(item)">
                        <app-svg-icon [icon]="'close'"></app-svg-icon>
                    </a>
                </div>
            </ng-container>

            <a (click)="toggleInsuranceAccordion()">
                <app-svg-icon [icon]="'arrow-down'"></app-svg-icon>
            </a>

        </div>
    </div>
</div>

<div class="l-white-container " [hidden]="!insuranceAccordionOpen">
    <div class="l-white-container">

        <app-common-input (isTaxi)="isTaxi($event)" [commonInputValue]="commonInputValue"
                          [vatPercentage]="contractInfo?.vatPercentage"></app-common-input>

        <div class="l-main-wrapper  l-margin-top--small" *ngIf="financialTypeListValid.length > 0">
            <div class="ty-body">
                {{ 'SELECTED_COMMON_FIELDS' | translate}}
            </div>
        </div>


        <div class="l-main-wrapper  l-margin-top--normal">
            <div class="row">
                <!-- COMPONENT DA CICLARE CON NGFOR -->
                <div class="col-md-4">
                    <app-financial-insurance-type *ngFor="let insType of financialTypeListValid; let i = index"
                                                  [insuranceType]="insType" [id]="i"
                                                  [(typeIdActive)]="tabTypeActiveId"
                                                  [(financialValueInputList)]="financialValueList"
                                                  (financialIdEvent)="loadDetail($event)"
                                                  (deleteTypeEvent)="removeInsuranceService($event)">
                    </app-financial-insurance-type>

                </div>

                <!-- COMPONENT DA CICLARE CON NGFOR -->
                <div class="col-md-4" *ngIf="secondColumnEnable">
                    <div class="ty-primary mb-4">
                        {{financialValue?.supplyTypeDesc | titlecase | void }}
                    </div>

                    <div style="max-height: 25rem" malihu-scrollbar [scrollbarOptions]="scrollbarOptions">
                        <app-financial-insurance-elem *ngFor="let insElem of financialElemList; let y = index"
                                                      [(elemIdActive)]="tabElemActiveId" id="{{y}}"
                                                      [insuranceElem]="insElem"
                                                      [financialValue]="financialValue"
                                                      [(financialValueList)]="financialValueList"
                                                      (finInputEvent)="loadInput($event)">
                        </app-financial-insurance-elem>
                    </div>
                </div>

                <div class="col-md-4" *ngIf="thirdColumnEnable">
                    <ng-container [ngSwitch]="financialValue.supplyElemCode">

                        <!-- START PRIMO SERVIZIO -->
                        <ng-container *ngSwitchCase="financialFeelLife.FEEL_LIFE">
                            <app-feel-life-input *ngIf="financialConfigResponse" [financialValue]="financialValue"
                                                 [service]="financialConfigResponse.service"></app-feel-life-input>
                        </ng-container>
                        <!-- END PRIMO SERVIZIO -->


                        <!-- START SECONDO SERVIZIO -->
                        <ng-container *ngSwitchCase="financialFeelCareAxa.FEEL_CARE_AXA">
                            <app-feel-care-base-input [financialValue]="financialValue"></app-feel-care-base-input>
                        </ng-container>
                        <!-- END SECONDO SERVIZIO -->


                        <!-- START TERZO SERVIZIO -->
                        <ng-container *ngSwitchCase="financialFeelStar.BASE">
                            <app-feel-star-base-input *ngIf="financialConfigResponse" [financialValue]="financialValue"
                                                      [service]="financialConfigResponse.service"></app-feel-star-base-input>
                        </ng-container>

                        <ng-container *ngSwitchCase="financialFeelStar.BASE_LIGHT">
                            <app-feel-star-base-light-input *ngIf="financialConfigResponse"
                                                            [financialValue]="financialValue"
                                                            [service]="financialConfigResponse.service"></app-feel-star-base-light-input>
                        </ng-container>

                        <ng-container *ngSwitchCase="financialFeelStar.PREMIUM_NORD_OVEST">
                            <app-feel-star-premium-nord-ovest-input *ngIf="financialConfigResponse"
                                                                    [financialValue]="financialValue"
                                                                    [service]="financialConfigResponse.service"></app-feel-star-premium-nord-ovest-input>
                        </ng-container>

                        <ng-container *ngSwitchCase="financialFeelStar.PREMIUM_NORD_EST">
                            <app-feel-star-premium-nord-est-input *ngIf="financialConfigResponse"
                                                                  [financialValue]="financialValue"
                                                                  [service]="financialConfigResponse.service"></app-feel-star-premium-nord-est-input>
                        </ng-container>

                        <ng-container *ngSwitchCase="financialFeelStar.PREMIUM_CENTRO">
                            <app-feel-star-premium-centro-input *ngIf="financialConfigResponse"
                                                                [financialValue]="financialValue"
                                                                [service]="financialConfigResponse.service"></app-feel-star-premium-centro-input>
                        </ng-container>

                        <ng-container *ngSwitchCase="financialFeelStar.PREMIUM_SUD">
                            <app-feel-star-premium-sud-input *ngIf="financialConfigResponse"
                                                             [financialValue]="financialValue"
                                                             [service]="financialConfigResponse?.service"></app-feel-star-premium-sud-input>
                        </ng-container>
                        <!-- END TERZO SERVIZIO -->


                        <!-- START QUARTO SERVIZIO -->
                        <ng-container *ngSwitchCase="financialFeelNew.FEEL_NEW">
                            <app-feel-new-input *ngIf="financialConfigResponse" [financialValue]="financialValue"
                                                [service]="financialConfigResponse?.service"></app-feel-new-input>
                        </ng-container>
                        <!-- END QUARTO SERVIZIO -->


                        <!-- START QUINTO SERVIZIO -->
                        <ng-container *ngSwitchCase="financialFeelSafe.FEEL_SAFE">
                            <app-feel-safe-input [financialValue]="financialValue"></app-feel-safe-input>
                        </ng-container>
                        <!-- END QUINTO SERVIZIO -->


                        <!-- START SESTO SERVIZIO -->
                        <ng-container *ngSwitchCase="financialAssistenza.SERVICE_PLUS_EXCELLENT">
                            <app-service-plus-excellent-input *ngIf="financialConfigResponse"
                                                              [financialValue]="financialValue"
                                                              [service]="financialConfigResponse.service"></app-service-plus-excellent-input>
                        </ng-container>

                        <ng-container *ngSwitchCase="financialAssistenza.SERVICE_PLUS_COMPACT">
                            <app-service-plus-compact-input *ngIf="financialConfigResponse"
                                                            [financialValue]="financialValue"
                                                            [service]="financialConfigResponse.service"></app-service-plus-compact-input>
                        </ng-container>

                        <ng-container *ngSwitchCase="financialAssistenza.SERVICE_PLUS_CONFORT">
                            <app-service-plus-confort-input *ngIf="financialConfigResponse"
                                                            [financialValue]="financialValue"
                                                            [service]="financialConfigResponse.service"></app-service-plus-confort-input>
                        </ng-container>


                        <ng-container *ngSwitchCase="financialAssistenza.SERVICE_PLUS_ADVANCE">
                            <app-service-plus-advance-input *ngIf="financialConfigResponse"
                                                            [financialValue]="financialValue"
                                                            [service]="financialConfigResponse.service"></app-service-plus-advance-input>
                        </ng-container>
                        <!-- END SESTO SERVIZIO -->

                    </ng-container>
                </div>

            </div>
        </div>

        <!-- CONFERMA O ANNULLA IN TAB-SERVIZI INSURANCE -->
        <div class="l-main-wrapper  l-margin-top--normal" *ngIf="buttonsEnabled">
            <div class="m-footer-controls">
                <div class="m-footer-controls__child">
                </div>
                <div class="m-footer-controls__child">
                    <button class="a-button" (click)="cleanFields()">
                        {{"CLEAR" | translate}}
                    </button>
                    <button class="a-button  a-button--azure" (click)="validateForm()">
                        {{"CONFIRM" | translate}}
                    </button>
                </div>

            </div>
        </div>

    </div>
</div>
