
<!--Aggiunta Tab filtri-->
<div class="l-main-wrapper  l-margin-top--normal">
    <div class="row">
        <div class="m-underline-nav l-start col-11">
            <a class="m-underline-nav__child tab__link" [ngClass]="{'m-underline-nav__child--active':tab.key == tabKey}" *ngFor="let tab of tabs" (click)="setTab(tab.key)">
                <span [ngClass]="{'color-label' :tab.key == tabKey}">{{tab.label}}</span>
                <a class="a-link tab__link" style="margin-left: 1rem"
                   (click)="onFilterClick()"
                   *ngIf="tab.key == tabKey &&
                   tab.key != tabsEnum.PROPCAS &&
                   tab.key != tabsEnum.PROPK2K &&
                   tab.key != tabsEnum.PROPIP" >
                    <app-svg-icon [icon]="'filter'" [hidden]="addingTab"></app-svg-icon>
                    <app-svg-icon [icon]="'filter'" [hidden]="!addingTab" class="grey"></app-svg-icon>
                </a>
                <!-- <span class="a-filter-button--extra" style="min-width: 4rem" *ngIf="docMancantiIconPresence(tab.key)">
                  <app-svg-icon [icon]="'notification'"></app-svg-icon>
                  <span class="a-filter-button__notification">
                      <div class="a-notification bg-azure ">
                          {{numDocMancanti}}
                      </div>
                  </span>
                </span> -->
            </a>
            <a class="m-underline-nav__child m-underline-nav__child--active tab__link a-link" (click)="onTabSelectorClick()">
                <app-svg-icon class="iconXSmall" style="margin-left: 20%;" [icon]="'pencil'"></app-svg-icon>
            </a>
        </div>
    </div>
</div>

<app-consult-advanced-filters *ngIf="showCorporateFilter &&
                   activeTab != tabsEnum.PROPCAS &&
                   activeTab != tabsEnum.PROPK2K &&
                   activeTab != tabsEnum.PROPIP" [activeTab]="activeTab"></app-consult-advanced-filters>

<div class="l-main-wrapper  l-spacing--v-margin-small-auto" *ngIf="addingTab">
    <div class="m-filter-container m-filter-container--active">
        {{numberOfTabs}}/{{maxNumberOfTabs }}
        <div class="m-filter-container__wrapper">
            <div class="m-filter-container__child" *ngFor="let pt of possibleTabs">
                <label class="a-checkbox" for={{pt.label}}>
                    <input type="checkbox" [(ngModel)]="pt.selected" id={{pt.label}}
                           *ngIf="numberOfTabs<maxNumberOfTabs || pt.selected">
                    <input type="checkbox" [(ngModel)]="pt.selected" disabled
                           *ngIf="numberOfTabs>=maxNumberOfTabs && !pt.selected">
                    <span></span>
                    <div class="ty-body">
                        {{pt.label}}
                    </div>
                </label>
            </div>
        </div>
        <div class="aligned_right">
            <div (click)="setTabs()" class="a-button  a-button--azure">
                {{ 'CONFIRM' | translate }}
            </div>
        </div>
    </div>
</div>
<!--Tabella che mostra le proposte-->
<div class="l-main-wrapper  l-margin-top--normal">
  <!-- header fisso-->
  <table class="m-table-list  m-table-list--row-hover">
      <thead class="m-table-list__header">
      <tr class="m-table-list__row">
          <th *ngFor="let key of headers; let i=index" id="{{i}}"
              class="m-table-list__col  m-table-list__col--label order-none" [style.width]="getWidth(key)">
              <a class='hoverable' (click)="sortByField(+i);">
                  {{ key | uppercase | translate }}
              </a>
              <!--"i" per info stati proposta-->
              <!--<a *ngIf="i==3" class='hoverable' (click)="openStatePopup()">-->
              <!--<app-svg-icon [icon]="'info'" class="iconInfo"></app-svg-icon>-->
              <!--</a>-->
              <!--freccia ordinamento-->
              <a class='hoverable' (click)="sortByField(i);">
                  <!--discendente-->
                  <span class="down">
                  <app-svg-icon [icon]="'arrow-down'" class="sorting-arrow ">
                      </app-svg-icon>
                  </span>
                  <!--ascendente -->
                  <span class="up">
                      <app-svg-icon [icon]="'arrow-down'" class="sorting-arrow sorting-arrow--up">
                      </app-svg-icon>
                  </span>
              </a>
          </th>
      </tr>
      </thead>
  </table>
  <!-- body scrollabile -->
  <div malihu-scrollbar id="{{id}}" class="mCustomScrollbar scrollable__element"
       [style.maxHeight]="__wrapperHeight">
      <table class="m-table-list  m-table-list--row-hover">
          <tbody class="m-table-list__data" *ngFor='let v of proposalsList; let i = index'>
          <tr id="row{{i}}" class="m-table-list__row">
              <!--NEW-->
              <td *ngFor="let key of objectKeys; let j=index"
                  class="m-table-list__col  m-table-list__col--label" [style.width]="getWidth(key)">
                  <ng-container [ngSwitch]="key">
                      <div *ngSwitchCase="'contract'" class="h-ellipsis" title={{v[key]}}>
                          {{v[key] | contractCodeFormatter | void}}
                      </div>
                  </ng-container>
              </td>
              <td style="padding-top: 19px; padding-bottom: 19px">
                  <div style="margin: auto; display: table;">
                      <div class="m-action-controls">
                      </div>
                      <!--        <app-svg-icon style="padding-right: 5px" class="icon iconMedium" [icon]="'note'" (click)="openUnavailableContent()">
                                  </app-svg-icon>

                                  <app-svg-icon style="padding-right: 10px" class="icon iconSmall" [icon]="'wrongNotes'" (click)="openUnavailableContent()">
                                  </app-svg-icon>-->
                  </div>
              </td>
          </tr>

          <!-- accordion content-->
          <tr id="accordion{{i}}" class="m-table-list__row hidden">
              <td colspan="11" class="m-table-list__col  m-table-list__col-- bg-white">
                  <div class="m-accordion-row__wrapper">
                      <div class="row">
                        <div class="col-4">
                            <div class="c-darkGray label-proposal"> {{'CLIENT' | translate}} </div>
                            <div class="text-dark value-proposal">  </div>
                        </div>
                        <div class="col-4">
                            <div class="c-darkGray label-proposal"> {{'I_P' | translate}} </div>
                            <div class="text-dark value-proposal">  </div>
                        </div>
                        <div class="col-4">
                            <div class="c-darkGray label-proposal"> {{'DOC' | translate}} </div>
                            <div class="text-dark value-proposal">  </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-4">
                            <div class="c-darkGray label-proposal"> {{'URG' | translate}} </div>
                            <div class="text-dark value-proposal">  </div>
                        </div>
                        <div class="col-4">
                            <div class="c-darkGray label-proposal"> {{'BRAND' | translate}} </div>
                            <div class="text-dark value-proposal">  </div>
                        </div>
                        <div class="col-4">
                            <div class="c-darkGray label-proposal"> {{'ST' | translate}} </div>
                            <div class="text-dark value-proposal">  </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-4">
                            <div class="c-darkGray label-proposal"> {{'ASSIGNEE' | translate}} </div>
                            <div class="text-dark value-proposal">  </div>
                        </div>
                        <div class="col-4">
                            <div class="c-darkGray label-proposal"> {{'USER' | translate}} </div>
                            <div class="text-dark value-proposal">  </div>
                        </div>
                        <div class="col-4">
                            <div class="c-darkGray label-proposal"> {{'ANALYST' | translate}} </div>
                            <div class="text-dark value-proposal">  </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-4">
                            <div class="c-darkGray label-proposal"> {{'RAGGR' | translate}} </div>
                            <div class="text-dark value-proposal">  </div>
                        </div>
                        <div class="col-4">
                            <div class="c-darkGray label-proposal"> {{'CS' | translate}} </div>
                            <div class="text-dark value-proposal">  </div>
                        </div>
                        <div class="col-4">
                            <div class="c-darkGray label-proposal"> {{'SUSPENSION' | translate}} </div>
                            <div class="text-dark value-proposal">  </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-4">
                            <div class="c-darkGray label-proposal"> {{'SD' | translate}} </div>
                            <div class="text-dark value-proposal">  </div>
                        </div>
                        <div class="col-4">
                            <div class="c-darkGray label-proposal"> {{'DDM' | translate}} </div>
                            <div class="text-dark value-proposal">  </div>
                        </div>
                        <div class="col-4">
                            <div class="c-darkGray label-proposal"> {{'SND_FIRMATARY' | translate}} </div>
                            <div class="text-dark value-proposal">  </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-4">
                            <div class="c-darkGray label-proposal"> {{'ASSET' | translate}} </div>
                            <div class="text-dark value-proposal">  </div>
                        </div>
                        <div class="col-4">
                            <div class="c-darkGray label-proposal"> {{'EXPOSURE' | translate}} </div>
                            <div class="text-dark value-proposal">  </div>
                        </div>
                        <div class="col-4">
                            <div class="c-darkGray label-proposal"> {{'CLIENT' | translate}} </div>
                            <div class="text-dark value-proposal">  </div>
                        </div>
                      </div>
                      
                  </div>
                  <!-- <div class="m-accordion-row__controls">
                      <div class="m-footer-controls">
                          <div class="m-footer-controls__child">
                              <div class="a-button  a-button--transparent mr-3">
                                  Controllo documenti
                              </div>
                              <div class="a-button  a-button--azure mr-3"
                                   (click)="goToConsultation(v.proposta, v.processInstanceId)">
                                  Consulta proposta
                              </div>
                          </div>
                      </div>
                  </div> -->
              </td>
          </tr>
          </tbody>
      </table>
  </div>
</div>
