.a-indicator {
  display: inline-block;
  line-height: rem(23);
  color: color(white);
  padding: rem(10) rem(15);
  font-size: rem(11.5);
  border-radius: rem(20);
  border-width: rem(1);
  border-style: solid;
  text-transform: uppercase;
  margin: 0 rem(5);
  cursor: pointer;
  text-align: center;
  padding: 0 rem(11.5);
  @extend .ff-DaimlerCS-Demi;

  &.neutral {
    background-color: color(midGray);
    border-color: color(midGray);
  }

  &.active {
    background-color: color(active);
    border-color: color(active);
  }

  &.danger {
    background-color: color(error);
    border-color: color(error);
  }

  &__outline {
    background-color: color(lighterGray) !important;

    &.neutral {
      color: color(midGray);
    }

    &.active {
      color: color(active);
    }

    &.danger {
      color: color(error);
    }


  }

}
