/*	OLD

.m-table-list {
	width: 100%;
	&__trigger {
		cursor: pointer;
	}
	&__header {
		background: color(white);
		color: color(azure);
		text-transform: uppercase;
		letter-spacing: .5px;
		font-size: rem(15);
		@extend .ff-DaimlerCS-ExtraBold;
		.m-table-list__row {
			border-bottom: 2px solid #f1f1f1;
		}
	}
	&__data {
		@extend .ff-DaimlerCS-Bold;	
	}
	&__row {
		width: 100%;
		border-top: 2px solid #f1f1f1;
		&:first-of-type {
			border-top: 0;
		}
	}
	&__col {
		padding: rem(19);
		max-width: rem(100);
		vertical-align: middle;
		white-space: nowrap;
		font-size: rem(14);
		&--checkbox {
			text-align: center;
		}
		&--icon {
			width: rem(35);
			a, svg {
				display: block;
				width: rem(29);
				height: rem(29);
			}
		}
	}

	&--row-hover {
		tbody {
			.m-table-list__row {
				transition: all .1s linear;
				&:hover {
					cursor: pointer;
					background: color(white);
					box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.06);
				}
			}
			.m-table-list__col {
				max-width: auto;
			}
		}
	}
	&--row-error {
		border: 1px inset color(error);
		z-index: 1;
		position: relative;
		&:first-of-type {
			border: 1px inset color(error);
		}
	}
}*/


.m-table-list {
	width: 100%;
	&__trigger {
		cursor: pointer;
	}
	&__header {
		background: color(white);
		color: color(azure);
		text-transform: uppercase;
		letter-spacing: .5px;
		font-size: rem(12);
		@extend .ff-DaimlerCS-ExtraBold;
		.m-table-list__row {
			border-bottom: 2px solid #f1f1f1;
		}
	}
	&__data {
		@extend .ff-DaimlerCS-Bold;
	}
	.m-table-list__alerticon {
		display: none;
	}
	&__row {
		width: 100%;
		border-top: 2px solid #f1f1f1;
		&:first-of-type {
			border-top: 0;
		}
		td:first-of-type .m-table-list__alerticon {
			display: block;
		}
		&--pending {
			opacity: .6;
		}
	}
	&__col {
		padding: rem($colPadding);
		max-width: rem(100);		
		vertical-align: middle;
		white-space: nowrap;
		.m-table-list__header & {
			/*white-space: normal;
			word-wrap: break-word;*/
		}
		&--checkbox {
			text-align: center;
		}
		&--actions {
			min-width: rem((4 * $actionControlsButtonWidth) + (2 * $colPadding));
		}
		&--actions-mono {
			min-width: rem((1 * $actionControlsButtonWidth) + (2 * $colPadding));
			width: rem((1 * $actionControlsButtonWidth) + (2 * $colPadding));
			max-width: rem((1 * $actionControlsButtonWidth) + (2 * $colPadding));
		}
		&--icon {
			width: rem(35);
			a, svg {
				display: block;
				width: rem(29);
				height: rem(29);
			}
		}
	}

	&--row-hover {
		tbody {
			.m-table-list__row {
				transition: all .1s linear;
				&:hover {
					cursor: pointer;
					background: color(white);
					box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.06);
				}
			}
			.m-table-list__col {
				max-width: auto;
			}
		}
	}
	&--row-error {
		border: 1px inset color(error);
		z-index: 1;
		position: relative;
		&:first-of-type {
			border: 1px inset color(error);
		}
	}
	
	&__alert {
		white-space: initial;
		word-break: break-all;
		display: flex;
		align-items: center;
		justify-content: space-between;
		small {
			font-size: rem(12);
			color: #dc1740;
			margin-top: rem(4);
			display: block;
		}
	}
	&__alerticon {
		width: rem(20);
		min-width: rem(20);
		height: rem(20);
		display: block;
		margin-right: rem(10);
		svg {
			width: rem(20);
			height: rem(20);
			fill: #dc1740;
		}
	}
	&__pendingicon {
		width: rem(20);
		min-width: rem(20);
		height: rem(20);
		display: block;
		margin-right: rem(10);
		svg {
			width: rem(20);
			height: rem(20);
			fill: #000;
			opacity: .6;
		}
	}
	&__alerttd {
		flex-grow: 2;
	}
	.m-table-list__row-details {
		hr {
			border: 1px solid #f1f1f1;
			background: transparent;
			width: calc(100% + 40px);
			margin: 0 -20px 10px -20px ;
		}
	}
	.m-table-list__row-details & {
		// margin: 0 -20px;
		// width: calc(100% + 40px);
		

		.m-table-list__header td, th {
			font-size: rem(10) !important;
		}
		td {
			font-size: rem(13) !important;
		}

		.m-table-list__col {
			padding: rem(6);
		}
		.m-table-list__row {
			border: none !important;
		}
		
		.m-table-list__data {
			.m-table-list__row {
				td {
					padding-left: rem(12);	
					&:first-of-type {
						padding-left: 0;
					}
				}
			}
		}
	}
}


