<div class="row l-margin-top--small">
    <div class="col-12">
        <div class="m-accordion-trigger" [ngClass]="{'m-accordion-trigger--active': showContent}">
            <div class="m-accordion-trigger__label">
                Dettaglio vendita
            </div>
<!--            <div class="m-accordion-trigger__icons" (click)="showContent = !showContent"> -->
            <div class="m-accordion-trigger__icons" (click)="showWIP()">
                <app-svg-icon [icon]="'arrow-down'"></app-svg-icon>
            </div>
        </div>
    </div>
</div>

<div class="l-white-container" [hidden]="!showContent">
    <div class="l-main-wrapper">
        ciao
    </div>
</div>