<div class="row l-margin-top--small">
    <div class="col-12">
        <div class="m-accordion-trigger" [ngClass]="{'m-accordion-trigger--active': showContent}">
            <div class="m-accordion-trigger__label">
                Diego Bertolini
            </div>
            <!-- <div class="m-accordion-trigger__icons" (click)="showWIP()"> -->
            <div class="m-accordion-trigger__icons" (click)="showContent = !showContent">
                <div class="m-accordion-trigger__sublabel">Titolare effettivo, Garante</div>
                <app-svg-icon [icon]="'arrow-down'"></app-svg-icon>
            </div>
        </div>
        <div class="l-white-container" [hidden]="!showContent">
            <div class="">
                <div class="row">
                    <div class="col-12">
                        <table class="m-table-list  m-table-list--row-hover">
                            <thead class="m-table-list__header">
                            <tr class="m-table-list__row">
                                <td class="m-table-list__col  m-table-list__col--label">
                                    DOCUMENTI
                                </td>
                                <td class="m-table-list__col  m-table-list__col--label">
                                    DATA RICHIESTA
                                </td>
                                <td class="m-table-list__col  m-table-list__col--label">
                                    STATO RICHIESTA
                                </td>
                                <td class="m-table-list__col  m-table-list__col--label">
                                </td>
                                <td class="m-table-list__col  m-table-list__col--label">
                                </td>
                            </tr>
                            </thead>
                            <tbody class="m-table-list__data">
                            <tr class="m-table-list__row">
                                <td class="m-table-list__col  m-table-list__col--label ">
                                    <div class="h-ellipsis m-table-list__alert" title="Busta paga">
                                        <div class="m-table-list__alerticon">
                                        </div>
                                        <div class="m-table-list__alerttd">
                                            Busta paga
                                        </div>
                                    </div>
                                </td>
                                <td class="m-table-list__col  m-table-list__col--label ">
                                    <div class="h-ellipsis m-table-list__alert" title="22-09-2017">
                                        <div class="m-table-list__alerticon">
                                        </div>
                                        <div class="m-table-list__alerttd">
                                            22-09-2017
                                        </div>
                                    </div>
                                </td>
                                <td class="m-table-list__col  m-table-list__col--label ">
                                    <div class="h-ellipsis m-table-list__alert" title="0">
                                        <div class="m-table-list__alerticon">
                                        </div>
                                        <div class="m-table-list__alerttd">
                                            0
                                        </div>
                                    </div>
                                </td>
                                <td class="m-table-list__col  m-table-list__col--label ">
                                    <div class="h-ellipsis m-table-list__alert" title="Archivio">
                                        <div class="m-table-list__alerticon">
                                        </div>
                                        <div class="m-table-list__alerttd">
                                            Archivio
                                        </div>
                                    </div>
                                </td>
                                <td class="m-table-list__col  m-table-list__col--actions-mono ">
                                    <div class="m-action-controls">
                                        <div class="m-action-controls__child">
                                            <app-svg-icon [icon]="'arrow-down'"></app-svg-icon>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr class="m-table-list__row m-table-list__row-details">
                                <td colspan="5" class="m-table-list__col  m-table-list__col-- bg-white">
                                    <div class="l-margin-top-normal">
                                        <div class="m-user-document-details">
                                            <div class="m-user-document-details__img">
                                                <img src="https://via.placeholder.com/480x315" alt="">
                                            </div>
                                            <div class="m-user-document-details__actions">
                                                <div>
                                                    <a href="#" class="a-link">
                                                        Invalida
                                                    </a>
                                                </div>
                                                <div>
                                                    <a href="#" class="a-link">
                                                        Elimina
                                                    </a>
                                                </div>
                                                <div>
                                                    <a href="#" class="a-link">
                                                        Vai alle note
                                                    </a>
                                                </div>
                                                <div>
                                                    <a href="#" class="a-link">
                                                        Aggiungi nota
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr class="m-table-list__row">
                                <td class="m-table-list__col  m-table-list__col--label ">
                                    <div class="h-ellipsis m-table-list__alert" title="Patente">
                                        <div class="m-table-list__alerticon">
                                            <app-svg-icon [icon]="'error'"></app-svg-icon>
                                        </div>
                                        <div class="m-table-list__alerttd">
                                            Patente
                                            <small></small>
                                        </div>
                                    </div>
                                </td>
                                <td class="m-table-list__col  m-table-list__col--label ">
                                    <div class="h-ellipsis m-table-list__alert" title="22-09-2017">
                                        <div class="m-table-list__alerticon">
                                        </div>
                                        <div class="m-table-list__alerttd">
                                            22-09-2017
                                        </div>
                                    </div>
                                </td>
                                <td class="m-table-list__col  m-table-list__col--label ">
                                    <div class="h-ellipsis m-table-list__alert" title="0">
                                        <div class="m-table-list__alerticon">
                                        </div>
                                        <div class="m-table-list__alerttd">
                                            0
                                        </div>
                                    </div>
                                </td>
                                <td class="m-table-list__col  m-table-list__col--label ">
                                    <div class="h-ellipsis m-table-list__alert" title="Archivio">
                                        <div class="m-table-list__alerticon">
                                        </div>
                                        <div class="m-table-list__alerttd">
                                            Archivio
                                        </div>
                                    </div>
                                </td>
                                <td class="m-table-list__col  m-table-list__col--actions-mono ">
                                    <div class="m-action-controls">
                                        <div class="m-action-controls__child">
                                            <app-svg-icon [icon]="'arrow-down'"></app-svg-icon>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-12">
                        <div class="l-padding-right--small l-padding-left--small l-padding-top--small">
                            <div class="row l-end">
                                <a href="#" class="a-link">
                                    Inserisci
                                </a>
                                <a href="#" class="a-link">
                                    Copia da
                                </a>
                                <a href="#" class="a-link">
                                    Storia
                                </a>
                                <a href="#" class="a-link">
                                    Stampa
                                </a>
                                <a href="#" class="a-link">
                                    Storico email
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row l-margin-top--small">
    <div class="col-12">
        <div class="m-accordion-trigger">
            <div class="m-accordion-trigger__label">
                Francesca Romana Ferracini
            </div>
            <div class="m-accordion-trigger__icons" >
                <app-svg-icon [icon]="'arrow-down'"></app-svg-icon>
            </div>
        </div>
    </div>
</div>

<div class="row l-margin-top--small">
    <div class="col-12">
        <div class="m-accordion-trigger">
            <div class="m-accordion-trigger__label">
                Mario Rossi
            </div>
            <div class="m-accordion-trigger__icons" >
                <app-svg-icon [icon]="'arrow-down'"></app-svg-icon>
            </div>
        </div>
    </div>
</div>

<div class="row l-margin-top--small">
    <div class="col-12">
        <div class="m-accordion-trigger">
            <div class="m-accordion-trigger__label">
                Carla Mastandrea
            </div>
            <div class="m-accordion-trigger__icons" >
                <app-svg-icon [icon]="'arrow-down'"></app-svg-icon>
            </div>
        </div>
    </div>
</div>
<div class="row l-margin-top--small">
    <div class="col-12">
        <div class="m-accordion-trigger__icons" >
            <app-svg-icon [icon]="'more'" class="icon iconSmall"></app-svg-icon>
        </div>
    </div>
</div>