<span *ngIf="paymentMonth === null" >
        -
</span>
<span *ngIf="paymentMonth != null" style="white-space: nowrap; cursor: pointer" [ngStyle]="{'color':paymentMonth.locked? '#00adef' : 'black' }"
      (click)="paymentDetail()">
        {{fullPrice | currency:'EUR'| currencyFormatter}}
</span>
