<div>
  <h4 class="modal_message">{{modalMessage | translate}}</h4>
  <div class="modal_button_container">
    <div class="a-button a-button--azure modal_button_confirm" (click)="clickConfirmToGoOut()">
      {{ 'CONFIRM' | translate }}</div>
  </div>
</div>