.modal_message {
  font-size: large;
  font-weight: bold;
  text-align: center;
}

.modal_button_confirm {
  margin-top: 5%;
  margin-bottom: 5%;
}

.modal_button_container {
  justify-content: center;
  display: flex;
}