
.a-onoffswitch {
    position: relative;
    display: inline-flex;
    align-items: center;
    &__label {
    	position: relative;
    	margin-left: rem(15);
    	font-size: rem(16);
    	@extend .ff-DaimlerCS-Bold;
    	span {
    		@extend .ff-DaimlerCS-Regular;
    		display: block;
    		font-size: rem(10);
    		letter-spacing: 1px;
    		color: #999;
    		margin-top: rem(3);
    		// position: absolute;
    		// bottom: 0;
    		// left: 0;
    		// transform: translateY(120%);
    	}
    }
    &__element {
    	position: relative;
    	user-select: none;
    	width: rem(45);
    }
    &__checkbox {
    	display: none;
    }
    &__circle {
	    display: block;
	    overflow: hidden;
	    cursor: pointer;
	    height: rem(26);
	    padding: 0;
	    line-height: rem(26);
	    border-radius: rem(26);
	    background-color: #ccc;
	    transition: background-color 0.3s ease-in;
	    border-color: #ccc;
	    &:before {
		    content: "";
		    display: block;
		    width: rem(26);
		    margin: 0;
		    background: #333;
		    position: absolute;
		    top: 0;
		    bottom: 0;
		    right: rem(18);
		    border: 2px solid #ccc;
		    border-radius: rem(26);
		    transition: all 0.3s ease-in 0s; 
	    }
    }
	.a-onoffswitch__checkbox:checked + .a-onoffswitch__circle {
	    background-color: #42A5F5;
	}
	.a-onoffswitch__checkbox:checked + .a-onoffswitch__circle, .a-onoffswitch__checkbox:checked + .a-onoffswitch__circle:before {
	   border-color: #42A5F5;
	}
	.a-onoffswitch__checkbox:checked + .a-onoffswitch__circle:before {
	    right: 0px; 
	}
}


