<form [formGroup]="feelStarBaseLightForm">
    <div class="l-margin-top--small">

        <div class="row">
            <div class="col-md-4">
                <div class="l-margin-top--normal">
                    <label class="a-checkbox" for="field-id-5000">
                        <input type="checkbox" name="quattroZampe" id="field-id-5000" class="form-control"
                               formControlName="quattroZampe">
                        <span></span>
                        <div class="ty-body">
                            {{"FOUR_PAWS" | translate}}
                        </div>
                    </label>
                </div>
            </div>

            <div class="col-md-4">
                <div class="l-margin-top--normal">
                    <label class="a-checkbox" for="field-id-5001">
                        <input type="checkbox" name="autoCortesia" id="field-id-5001" class="form-control"
                               formControlName="autoCortesia">
                        <span></span>
                        <div class="ty-body">
                            {{"CAR_COURTESY" | translate}}
                        </div>
                    </label>
                </div>
            </div>

            <div class="col-md-4">
                <div class="l-margin-top--normal">
                    <label class="a-checkbox" for="field-id-5002">
                        <input type="checkbox" name="infortuniConducente" id="field-id-5002" class="form-control"
                               formControlName="infortuniConducente">
                        <span></span>
                        <div class="ty-body">
                            {{ "DRIVER_ACCIDENTS" | translate }}
                        </div>
                    </label>
                </div>
            </div>
        </div>

        <!-- flag row -->
        <div class="row">

            <div class="col-md-4">
                <div class="l-margin-top--normal">
                    <label class="a-checkbox" for="field-id-5004">
                        <input type="checkbox" name="satellitare" id="field-id-5004" formControlName="satellitare"
                               class="form-control">
                        <span></span>
                        <div class="ty-body">
                            {{ "SATELLITE" | translate }}
                        </div>
                    </label>
                </div>
            </div>

            <div class="col-md-4">
                <div class="l-margin-top--normal">
                    <label class="a-checkbox" for="field-id-5005">
                        <input type="checkbox" name="privacy" id="field-id-5005" formControlName="privacy"
                               class="form-control">
                        <span></span>
                        <div class="ty-body">
                            {{ "PRIVACY" | translate }}
                        </div>
                    </label>
                </div>
            </div>


        </div>

        <!-- Provincia -->
        <div class="l-margin-top--normal" *ngIf="service.province">
            <div class="a-input  a-input--select ">
                <div class="a-input__label">
                    {{ "PROVINCES" | translate }}
                </div>

                <select name="provincia" formControlName="provincia" class="form-control">
                    <option *ngFor="let item of service.province" [ngValue]="item"> {{item}}</option>
                </select>

                <app-svg-icon [icon]="'arrow-down'" class="iconSmall"></app-svg-icon>
            </div>
        </div>


    </div>
</form>

