<div class="l-main-wrapper  l-margin-top--normal l-main-wrapper  l-margin-top--normal l-margin-bottom--small">
  <div class="m-footer-controls">

    <div class="m-footer-controls__child">

      <div class="a-button  a-button--transparent" (click)="exit()" *ngIf = showExitButton >
        {{ 'GO_OUT' | translate }}
      </div>

    </div>

    <div class="m-footer-controls__child">

      <div class="a-button" (click)="goPrev()" *ngIf = showBackwardButton>
        {{ 'BACK' | translate }}
      </div>

      <div class="a-button  a-button--azure" (click)="goNext()" *ngIf = showOnwardButton>
        {{ 'GO_AHEAD' | translate }}
      </div>

      <button class="a-button--azure"
              style="margin-left: 5px; float: right; height: 40px;width: 40px; border-radius:50%;  border-width: 0; background-color: white;
            transform: rotate(180deg)" (click)="goToTop()">
        <a class="a-link">
          <app-svg-icon [icon]="'arrow-down'" ></app-svg-icon>
        </a>
      </button>
    </div>
  </div>
</div>