.a-finance-card {
	background: #fff;
	padding: rem(18);
	font-size: rem(14);
	color: color(black);
	margin-top: rem(15);
	box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.06);
	position: relative;
	&--transparent {
		box-shadow: none;
	}
	&:first-of-type {
		margin-top: 0;
	}

	&__icon {
		position: absolute;
		top: rem(10);
		right: rem(10);
		width: rem(24);
		height: rem(24);
		svg {
			display: block;
			width: 100%;
			height: 100%;
		}
	}
	
	&--close {
		color: color(azure);
	}
	&--active {
		color: #fff;
		background: color(blue);
		svg {
			fill: #fff !important;
		}
	}
	&__name {
		@extend .ff-DaimlerCS-Bold;
		display: flex;
		align-items: center;
		margin-bottom: rem(20);
		svg {
			fill: color(azure);
			display: block;
			width: rem(22);
			height: rem(22);
			margin-right: rem(5);
		}
	}
	&__data {
		margin-top: rem(20);
		display: flex;
		> div {
			width: 50%;
		}
		span {
			margin-bottom: rem(8);
			display: block;
		}
		strong {
			@extend .ff-DaimlerCS-Bold;
		}
	}
	li {
		padding-left: rem(15);
		margin-bottom: rem(7);
		position: relative;
		&:after {
			content: "";
			display: block;
			width: 2px;
			height: 2px;
			background: color(blue);
			position: absolute;
			top: rem(4);
			left: rem(4);
		}
	}
}