

<div class="l-main-wrapper  l-margin-top--normal" *ngIf="activeState" style="margin-top: 20px">

  <div class="m-step-line" >

<!--      <div class="m-step-line__child" [ngClass]="{
        'm-step-line__child&#45;&#45;done':activeState>state.id,
        'm-step-line__child&#45;&#45;active':activeState === state.id,
        'm-step-line__child&#45;&#45;inactive':activeState<state.id
      }" *ngFor="let state of statesList">
        {{state.lable}}
      </div>-->

      <div class="m-step-line__child" [ngClass]="{
        'm-step-line__child--done':activeState>state.id,
        'm-step-line__child--active':activeState === state.id,
        'm-step-line__child--inactive':activeState<state.id
      }" *ngFor="let state of uniqueStateList">
          {{state.label}}
      </div>

  </div>
</div>
