

<form [formGroup]="filterForm" (submit)="filter()">
  <div class="l-main-wrapper  l-spacing--v-margin-small-auto">
    <div class="row  l-between">
      <div class="col-10">
        <div class="a-input  a-input--search  ">
          <div class="a-input__label">

          </div>
          <input type="text" formControlName='pattern' placeholder={{placeholder}}>
            <div class="a-input__icon" >
              <app-svg-icon [icon]="'search'" ></app-svg-icon>
            </div>
        </div>
      </div>
      <!--<div class="col-10 l-start">
        <div class="a-input__label">
        </div>
        <div class="a-input a-input&#45;&#45;text">
          <input type="text" formControlName='pattern' placeholder={{placeholder}}>
        </div>



      </div>-->
      <div class="col-2 l-end l-bottom">
        <a (click)="show = !show " class="a-link">
          <app-svg-icon [icon]="'filter'"></app-svg-icon>
          {{ 'FILTER_BY' | translate }}
        </a>
      </div>
    </div>
  </div>
  <!-- QUESTO BOTTONE ANCHE SE NASCOSTO E' NECESSARIO PER IL FUNZIONAMENTO DELLA SUBMIT TRAMITE PULSANTE INVIO -->
  <button type="submit" style="display:none"></button>
</form>


<!--BUONO
<div class="l-main-wrapper  l-spacing--v-margin-small-auto">
  <div class="row  l-between">-->
<!--
    <div class="col-1 l-start ">
      <a (click)="filter()" class="a-link" style="color: #00adef;">
        <app-svg-icon [icon]="'lens'"></app-svg-icon>
      </a>
    </div>
-->

   <!-- BUONO
   <div class="col-10 l-start">
      <div class="a-input  a-input--text  ">
        <form>
          <div class="a-input__label">

          </div>
          <input type="text" [(ngModel)]="pattern" placeholder={{placeholder}}>
        </form>
      </div>
    </div>
    <div class="col-2 l-end l-bottom">
      <a (click)="filter()" class="a-link">
        <app-svg-icon [icon]="'filter'"></app-svg-icon>
        &lt;!&ndash;Filtra per&ndash;&gt;
      </a>
    </div>
  </div>
</div>-->


<!--  BOX CON I POSSIBILI VALORI  -->
<div class="l-main-wrapper  l-spacing--v-margin-small-auto" *ngIf="show">
  <div class="m-filter-container m-filter-container--active">
<!--      <span *ngIf="filterOption.possibleChoices != null">
        {{filterOption.key}}
      </span>-->
      <div class="m-filter-container__wrapper" >
        <div class="m-filter-container__child" *ngFor="let pc of filterOption.possibleChoices">
          <label class="a-checkbox" for={{pc.value}}>
            <input type="checkbox" [(ngModel)]="pc.selected" id={{pc.value}}>
            <span></span>
            <div class="ty-body">
              {{pc.label}}
            </div>
          </label>
      </div>
    <!--<div class="m-filter-container__controls">
    </div>-->
    </div>
  </div>
</div>

<!--   FILTRI SELEZIONATI  -->
<div class="l-main-wrapper  l-spacing--v-margin-small-auto  l-end" *ngIf=" !show && !!filterOption" >
      <span *ngFor="let pc of filterOption.possibleChoices">
        <div class="a-tag" *ngIf=pc.selected>
          <span>
		    {{pc.label}}
          </span>
            <span (click)="pc.selected = false">
              <app-svg-icon [icon]="'close'" ></app-svg-icon>
          </span>
        </div>
      </span>
</div>
