.m-slider-header {
    height: rem(415);
    position: relative;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    .l-main-wrapper {
        width: 100%;
    }
    &__slide{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    &__title {
        max-width: 60%;
        color: #fff;
        margin-top: rem(60);
    }

    &__buttons {
        margin-top: rem(34);
    }

    .a-button {
        color: #fff;
    }

}