<app-consultation-subjects-list *ngIf="selectedTabKey == allLeftTabs.SUBJ" 
  [isEditing]="isEditing"
  [subjectsList]="subjectsList">
</app-consultation-subjects-list>
<app-contracts-list *ngIf="selectedTabKey == allLeftTabs.CONTRACTS"></app-contracts-list>
<app-consultation-proposal *ngIf="selectedTabKey == allLeftTabs.PROP"
                           [isEditing]="isEditing"></app-consultation-proposal>
<app-consultation-data-banks *ngIf="selectedTabKey == allLeftTabs.BANKS_DATA"></app-consultation-data-banks>
<app-consultation-documents *ngIf="selectedTabKey == allLeftTabs.DOCS"></app-consultation-documents>
<app-consultation-notes *ngIf="selectedTabKey == allLeftTabs.NOTES"></app-consultation-notes>