.m-question-row {
    background: color(white);
    width: 100%;
    padding: rem(30);
    &__question {
        padding-right: rem(30);
        align-items: center;
        a {
            display: inline;
            color: color(azure);
        }
    }
    &__answers {
        display: flex;
        > div {
            display: flex;
        }
    }
    &__radio {
        padding-left: rem(15);
    }
}
