.a-link {
    cursor: pointer;
    font-size: rem(14);
    display: inline-flex;
    color: color(azure);
    align-items: center;
    line-height: 1.6;
    @extend .ff-DaimlerCS-Demi;
    &:hover {
        text-decoration: underline;
    }
    svg {
        margin-right: rem(5);
        display: block;
        width: rem(25);
        height: rem(25);
        fill: color(azure);
    }
    &+.a-link {
        margin-left: rem(30);
    }
}