.a-notification {
	box-sizing: content-box;
	display: inline-block;
	color: #fff;
	border-radius: rem(14);
	border: rem(2) solid color(white);
	background: color(error);
	min-width: rem(14);
	height: rem(14);
	color: color(white);
	font-size: rem(10);
	font-weight: 800;
	background: color(error);
	text-align: center;
	line-height: rem(14);
	padding: 0 rem(.5);
	@extend .ff-DaimlerCS-ExtraBold;
}