<form (ngSubmit)="search()">
    <div class="">
        <div class="m-user-profile__header">
            <div class="m-user-profile__info">
                <div class="m-user-profile__name" id="impersonate_head">
                    {{ 'IMPERSONATE_TITLE' | translate }}
                </div>
                <app-notification [category]="'MODAL'" [idToAppend]="'impersonate_head'"></app-notification>
            </div>


            <!--<div class="m-user-profile__ctas">

                <app-svg-icon [icon]="'arrow-down'"></app-svg-icon>
                <div class="a-link" (click)="setState()">
                    Esci
                </div>
            </div>-->
        </div>

        <!--IMPERSONATE-->
        <div id="impersonate" class="m-user-profile__content">


            <div class="ty-medium user-title">
                {{ 'SEARCH_IMPERSONATE_USER' | translate }}
            </div>
            <div class="m-user-profile__list scroll">

                <div class="col-9">
                    <div class="a-input  a-input--search">
                        <div class="a-input__label">

                        </div>
                        <input type="text" [(ngModel)]="searchObj.field" [ngModelOptions]="{standalone: true}"
                               placeholder="{{ 'SEARCH_IMPERSONATE' | translate }}">
                        <div>
                            <app-svg-icon class="a-input__icon" [icon]="'search'"></app-svg-icon>
                        </div>
                    </div>
                </div>

                <app-list-users *ngIf="printList?.length>0" [id]="'list-users-all'" [list]="printList"
                                (scrollEvent)="getNextPage()" (sortEvent)="onSort($event)" (selected)="selectUser2Imp($event)" >
                </app-list-users>
                <!--&lt;!&ndash;componente riempitivo per lista vuota&ndash;&gt;-->
                <!--<app-empty-list [emptyList]="printList.length==0"></app-empty-list>-->
                <!--    <div *ngFor="let l of locations">
                      <li *ngIf="!!l" (click)="saveId(l.id, true)"
                          [ngClass]="{'m-user-profile__list color': l.id == selectedId}"
                          style="cursor: pointer">
                        <div class="a-input__icon">
                          <app-svg-icon [icon]="'alert'"></app-svg-icon>
                        </div>
                        <span>
                                            <div class="a-input__icon">
                                                <app-svg-icon [icon]="'alert'"></app-svg-icon>
                                            </div>
                                            {{l.name}}
                                        </span>
                        <a href="#" class="a-link margin" *ngIf="isAuthorizedToPreferences(l.id)">
                          Preferenze
                        </a>
                      </li>
                    </div>-->

            </div>
        </div>
    </div>
</form>