<!-- DATI INUTILI
<div class="l-main-wrapper  l-margin-top--normal">
  <div class="a-info-auto">
    <div>
      <span class="a-info-auto__data-1">CLASSE A</span>
      <span class="a-info-auto__data-2">80d Automatic Sport</span>
    </div>
    <div>
            <span class="a-info-auto__data-3">
                Codice Prodotto: 0123456789
            </span>
    </div>

  </div>

</div>
-->


<!-- DATI COMMERCIALI -->
<div class="l-main-wrapper  l-margin-top--normal">
    <div class="ty-primary">
        {{ 'INSERT_COMMERCIAL_DATA' | translate }}
    </div>
</div>
<div class="l-main-wrapper  l-margin-top--normal">
    <div class="m-underline-nav">

        <a (click)="changeType(true)" class="m-underline-nav__child" style="cursor:pointer;"
           [ngClass]="{'m-underline-nav__child--active':isNew}" *ngIf="showNewTab()">
            {{ 'NEW' | translate }}
        </a>

        <a (click)="changeType(false)" class="m-underline-nav__child" style="cursor:pointer;"
           [ngClass]="{'m-underline-nav__child--active':!isNew}" *ngIf="isAuthorizedToUsedTab()">
            {{ 'USED' | translate }}
        </a>

    </div>
</div>

<div class="l-main-wrapper  l-margin-top--normal ">
    <form [formGroup]="commercialDataForm">

<!--
                                        <span *ngIf="discount>0" style="font-size: 20px">
                                    {{discount | currency:'EUR'|currencyFormatter}}
                                </span>
-->
        <div class="row col-12">
            <div class="col-8" style="min-height: 20px">
            </div>
            <div class="col-4">
                <div class="row">
                    <div class="col-12">
                        <div class="a-digit-box  a-digit-box--small discount-text">

                            <div class="a-digit-box__main " title="sconto">
                                <span *ngIf="discount>0" class="discount-text input-currency">
                                    {{totalAmmountWithoutDiscount | currency:'EUR'|currencyFormatter}}
                                </span>
                            </div>
<!--
                            <div class="a-digit-box__secondary">
                                {{ 'TOTAL_AMOUNT' | translate }} <span>{{ 'IVA_INCLUSED' | translate }}</span>
                            </div>
-->

                        </div>

                    </div>
                    <!--
                              <div class="col-5">
                                <div class="a-digit-box  a-digit-box&#45;&#45;big">
                                  <app-svg-icon class="iconLarge" style="fill : #00adef; float: left; cursor: pointer" [icon]="'discount-simple'"></app-svg-icon>

                                </div>
                              </div>
                    -->
                </div>
            </div>
        </div>
        <div class="row col-12">
            <div class="col-4">
                <div class="row">

                    <div class="col-6">
                        <div class="a-input  a-input--text  a-input--disabled">
                            <div class="a-input__label">
                                {{ 'AMOUNT_PRICE_LIST' | translate }}
                            </div>
                            <input type="text" class="input-currency"
                                   [value]="commercialDataForm.get('price').value | currency:'EUR'|currencyFormatter "
                                   disabled>
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="a-input  a-input--text  a-input--disabled">
                            <div class="a-input__label">
                                {{ 'AMOUNT_ACCESSORIES' | translate }}
                            </div>
                            <input type="text" class="input-currency" [value]="selectedOptionalPrice | currency:'EUR'|currencyFormatter "
                                   disabled>
                        </div>
                    </div>

                </div>
                <div class="row  l-margin-top--normal">
                    <div class="col">
                        <div class="a-input  a-input--select  ">
                            <div class="a-input__label"> <!--style="text-transform: lowercase">-->
                                {{ 'SUPPLIER' | translate }}
                            </div>
                            <select formControlName='supplier' id="fornitore">
                                <option *ngFor="let supplier of suppliersList" [ngValue]="supplier">
                                    {{supplier.label}}
                                </option>
                            </select>

                            <app-svg-icon *ngIf="isAuthorizedToOtherSuppliers()" [icon]="'arrow-down'"></app-svg-icon>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="row">
                    <div class="col-6">
                        <div class="a-input  a-input--text  " *ngIf="isNew">
                            <div class="a-input__label">
                                {{ 'PUT_ON_ROAD' | translate }}
                            </div>
                            <input type="text" class="input-currency" formControlName='entry' currencyMask>
                        </div>
                        <div class="a-input  a-input--text  " *ngIf="!isNew">
                            <div class="a-input__label">
                                {{ 'MARKET_VALUE' | translate }}
                            </div>
                            <input class="input-currency" type="text" formControlName='marketValue' currencyMask>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="a-input  a-input--text  " *ngIf="isNew">
                            <div class="a-input__label">
                                {{ 'IPT_NO_IVA' | translate }}
                            </div>
                            <input type="text" class="input-currency" formControlName='ipt' currencyMask>
                        </div>
                        <div class="a-input  a-input--text  " *ngIf="!isNew">
                            <div class="a-input__label">
                                {{ 'EXEMPT_AMOUNT' | translate }}
                            </div>
                            <input type="text" class="input-currency" formControlName='exemptAmount' currencyMask>
                        </div>
                    </div>
                </div>
                <div class="row  l-margin-top--normal">
                    <div class="col-6">
                        <div class="a-input  a-input--select  ">
                            <div class="a-input__label">
                                {{ 'IVA' | translate }}
                            </div>
                            <select id="iva" formControlName='iva'>
                                <option *ngFor="let iva of ivaList" [ngValue]="iva"> {{iva.label}}</option>
                            </select>
                            <app-svg-icon [icon]="'arrow-down'"></app-svg-icon>
                        </div>
                    </div>
                    <div class="col-6" *ngIf="thirdPartList.length>0">
                        <div class="a-input  a-input--text  a-input--disabled">
                            <div class="a-input__label">
                                {{ 'AMOUNT_OPTIONALS' | translate}}
                            </div>
                            <input type="text" [value]="totalTpPriceWithoutIVA | currency:'EUR'|currencyFormatter "
                                   class="input-currency" disabled>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="row">
                    <div class="col-12">
                        <div class="a-digit-box  a-digit-box--big">

                            <div class="a-digit-box__main " title="sconto">
                                <span class="input-currency">
                                {{totalAmmount | currency:'EUR'|currencyFormatter}}
                                </span>
                                <!--
                                                                <span class="a-digit-box  a-digit-box&#45;&#45;big" >
                                -->
                                <app-svg-icon class="iconSmall " style="fill : #00adef; cursor: pointer"
                                              (click)="discount = 10 "
                                              [icon]="'discount-simple'"></app-svg-icon>

                                <!--                                </span>-->
                            </div>
                            <div class="a-digit-box__secondary">
                                {{ 'TOTAL_AMOUNT' | translate }} <span>{{ 'IVA_INCLUSED' | translate }}</span>
                            </div>


                        </div>

                    </div>
                    <!--
                              <div class="col-5">
                                <div class="a-digit-box  a-digit-box&#45;&#45;big">
                                  <app-svg-icon class="iconLarge" style="fill : #00adef; float: left; cursor: pointer" [icon]="'discount-simple'"></app-svg-icon>

                                </div>
                              </div>
                    -->

                </div>
                <div class="row  l-margin-top--normal">
                    <div class="col-6">
                        <div class="a-digit-box">
                            <div class="a-digit-box__main input-currency">
                                {{partialAmmount | currency:'EUR'|currencyFormatter}}
                            </div>
                            <div class="a-digit-box__secondary">
                                {{ 'AMOUNT_OPTIONALS' | translate }}
                            </div>
                        </div>

                    </div>
                    <div class="col-6">
                        <div class="a-digit-box">
                            <div class="a-digit-box__main input-currency">
                                {{iva | currency:'EUR'|currencyFormatter}}
                            </div>
                            <div class="a-digit-box__secondary">
                                {{ 'IVA' | translate }}
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="l-main-wrapper  l-margin-top--normal" *ngIf="!isNew">
    <div class="m-accordion-trigger" [ngClass]="{'m-accordion-trigger--active': thirdPardAccordionOpen}">

        <div class="m-accordion-trigger__label">
            {{ 'SECONDHAND' | translate}}
        </div>


        <a (click)="thirdPardAccordionOpen = !thirdPardAccordionOpen">
            <app-svg-icon [icon]="'arrow-down'"></app-svg-icon>
        </a>

    </div>
    <div class="l-white-container" *ngIf="thirdPardAccordionOpen">
        <div class="l-main-wrapper  l-margin-top--normal">

            <form [formGroup]="secondhandProductForm">
                <div class="row col-12">
                    <div class="col-4">
                        <div class="row">
                            <div class="col-6">
                                <div class="a-input  a-input--text">
                                    <div class="a-input__label">
                                        {{ 'PLATE' | translate}}
                                    </div>
                                    <input type="text" formControlName='licensePlate'
                                           [value]="secondhandProductForm.value.licensePlate | uppercase">
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="a-input  a-input--text">

                                    <div class="a-input__label">
                                        {{ 'ACTUAL_KM' | translate}}
                                    </div>
                                    <input type="text" formControlName='km'>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-4">
                        <div class="row">
                            <div class="col-6">
                                <div class="a-input  a-input--text">
                                    <div class="a-input__label">
                                        {{ 'PLATE' | translate}}
                                    </div>
                                    <input type="text" formControlName='licensePlate'
                                           [value]="secondhandProductForm.value.licensePlate | uppercase">
                                </div>
                            </div>

                            <div class="col-6">
                                <!--
                                 <div class="a-input  a-input--text">
                                 div class="a-input__label">
                                 {{ 'ACTUAL_KM' | translate}}
                                 </div>
                                 <input type="text" formControlName='km'>
                                </div>
                                -->
                            </div>

                        </div>
                    </div>
                    <div class="col-4">
                        <div class="row  ">
                            <div class="col-6">
                                <div class="a-input  a-input--select  ">
                                    <div class="a-input__label">
                                        {{ 'MATRICULATION' | translate}}
                                    </div>
                                    <select id="month" formControlName='registrationYear'>
                                        <option *ngFor="let y of years" value="{{y}}"> {{y}}</option>
                                    </select>
                                    <app-svg-icon [icon]="'arrow-down'"></app-svg-icon>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="a-input  a-input--select  ">
                                    <div class="a-input__label">
                                        {{ 'MONTH' | translate}}
                                    </div>
                                    <select id="year" formControlName='registrationMonth'>
                                        <option *ngFor="let m of months" value="{{m}}"> {{m}}</option>
                                    </select>
                                    <app-svg-icon [icon]="'arrow-down'"></app-svg-icon>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>


            <label class="a-checkbox l-margin-top--normal" for="assetConfirm">
                <input type="checkbox" id="assetConfirm" [(ngModel)]="secondHandCondition">
                <span></span>
                <div class="ty-body">
                    Confermo che l'asset della presente proposta è libero da vincoli ipotecari o altri gravami. {{
                    'DISCOUNT' | translate }}
                </div>
                {{secondHandCondition}}
            </label>
        </div>
    </div>
</div>

<!--
<div class="l-main-wrapper  l-margin-top&#45;&#45;normal" *ngIf="!isNew">
    <form [formGroup]="secondhandProductForm">
        <div>
            {{ 'SECONDHAND' | translate}}
        </div>
        <div class="row l-margin-top&#45;&#45;normal">
            <div class="col-4">
                <div class="row">
                    <div class="col-6">
                        <div class="a-input  a-input&#45;&#45;text">
                            <div class="a-input__label">
                                {{ 'PLATE' | translate}}
                            </div>
                            <input type="text" formControlName='licensePlate'
                                   [value]="secondhandProductForm.value.licensePlate | uppercase">
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="a-input  a-input&#45;&#45;text">
                            <div class="a-input__label">
                                {{ 'ACTUAL_KM' | translate}}
                            </div>
                            <input type="text" formControlName='km'>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-4">
                <div class="row  ">
                    <div class="col-6">
                        <div class="a-input  a-input&#45;&#45;select  ">
                            <div class="a-input__label">
                                {{ 'MATRICULATION' | translate}}
                            </div>
                            <select id="month" formControlName='registrationYear'>
                                <option *ngFor="let y of years" value="{{y}}"> {{y}}</option>
                            </select>
                            <app-svg-icon [icon]="'arrow-down'"></app-svg-icon>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="a-input  a-input&#45;&#45;select  ">
                            <div class="a-input__label">
                                {{ 'MONTH' | translate}}
                            </div>
                            <select id="year" formControlName='registrationMonth'>
                                <option *ngFor="let m of months" value="{{m}}"> {{m}}</option>
                            </select>
                            <app-svg-icon [icon]="'arrow-down'"></app-svg-icon>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
            </div>
        </div>
    </form>
</div>
-->

<!-- FINE DATI COMMERCIALI -->


<!-- OPTIONAL -->
<app-commercial-optional [(optionalList)]="selectedOptionalList" [iva]="ivaValue"
                         *ngIf="showAccessories()">
</app-commercial-optional>

<!-- TERZE PARTI -->
<app-commercial-third-part [thirdPartList]="thirdPartList" *ngIf="isAuthorizedToThirdParts()"></app-commercial-third-part>
