/* Empty sccs */
.discount-text{
  text-decoration: line-through;
}

.input-currency{
  text-align: right;
}
/*
.discount-text{
  color: color(black);
  font-size: rem(40);
  letter-spacing: .2px;
  text-decoration: line-through;
  @extend .ff-DaimlerCS-Bold;
}
.discount-row{
  height: rem(15);
}*/
