.m-accordion-trigger {
    background: color(white);
    color: color(black);
    padding: rem(17) rem(15);
    font-size: rem(16);
    cursor: pointer;
    display: flex;
    align-items: center;
    z-index: 2;
    position: relative;
    @extend .ff-DaimlerCS-Demi;
    .a-tag {
        margin-bottom: 0;
        background: #f8f8f8;
    }
    .icon--arrow-down {
        position: absolute;
        top: 50%;
        right: rem(20);
        width: rem(30);
        height: rem(30);
        transform: translateY(-50%);
    }
    &:hover {
        box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.06);
    }
    &--active {
        padding: rem(10) rem(15);
        box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.06);
        color: color(azure);
        .icon--arrow-down {
            transform: translateY(-50%) rotate(180deg);
        }
    }
    &__label {
        margin-right: rem(20);
        .m-accordion-trigger__sublabel {
            padding-top: rem(3);
        }
    }

    &__sublabel {
        font-size: rem(11);
        line-height: 1.82;
        letter-spacing: 0.3px;
        color: #bdbdbd;
        text-transform: uppercase;
    }

    &__icons {
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        .icon--arrow-down,
        .icon--arrow-up {
          margin-left: rem(20);
        }
    }

    .l-white-container & {
        padding-left: 0 !important;
        padding-right: 0 !important;
        border-bottom: 2px solid #f8f8f8;
        box-shadow: none !important;
        &:hover {
          box-shadow: none;
        }
      }
}