.m-footer-controls {
	display: flex;
	width: 100%;
	justify-content: space-between;
  align-items: bottom;

  &__child > * {
    margin-right: rem(15);
    &:last-of-type {
      margin-right: 0;
    }
  }
}