<div class="row l-margin-top--small">
    <div class="col-12">
        <div class="m-accordion-trigger " [ngClass]="{'m-accordion-trigger--active': showContent}">
            <div class="m-accordion-trigger__label ">
                Rate
            </div>
            <div class="m-accordion-trigger__icons" (click)="showContent = !showContent">
                <app-svg-icon [icon]="'arrow-down'"></app-svg-icon>
            </div>
        </div>
    </div>
</div>


<div class="l-white-container " [hidden]="!showContent">
    <div class="l-main-wrapper  l-margin-top--small">
        <div class="row">
            <div class="col">
                <div class="ty-body">
                    Ogni rata comprende il costo base dell’asset e tutti i servizi.
                </div>
            </div>
        </div>
    </div>
    <div class="l-main-wrapper  l-margin-top--normal">
        <app-payment-year (massiveChangeByMonthTrigger)="massiveChangeByMonth($event)"
                          [enableEditing]="enableEditing"></app-payment-year>
        <app-payment-year *ngFor="let py of paymentSchedule; let i= index"
                          [enableEditing]="enableEditing" [(paymentYear)]="paymentSchedule[i]"
                          (changeTrigger)="propagateChanging($event)"></app-payment-year>
    </div>
    <!--<div style="padding: 10px; text-align: right">
        <button class="a-button a-button&#45;&#45;azure" (click)="rollBack()">
            <span style="color:white">{{"ROLLBACK" | translate}}</span>
        </button>
    </div>-->
</div>


<!--<div malihu-scrollbar class="mCustomScrollbar scrollable__element" [style.maxHeight]="wrapperHeight">
    <table class="m-table-list  m-table-list&#45;&#45;row-hover">
        <tbody>
        <tr>
            <td class="m-table-list__col  m-table-list__col&#45;&#45;label">
                <div class="h-ellipsis">
                    CF AMOUNT
                </div>
            </td>
            <td class="m-table-list__col  m-table-list__col&#45;&#45;label">
                <div class="h-ellipsis">
                    N of Times
                </div>
            </td>
            <td class="m-table-list__col  m-table-list__col&#45;&#45;label">
                <div class="h-ellipsis">
                    DATA PAGAMENTO
                </div>
            </td>
        </tr>
        </tbody>

        <tbody class="m-table-list__data" *ngFor='let v of rate; let i = index'>

        <tr id="row{{i}}" class="m-table-list__row">
            <td style="">
                <div class="m-table-list__col  m-table-list__col&#45;&#45;label">
                    {{v.cfAmount | currencyFormatter }}
                </div>
            </td>
            <td style="">
                <div class="m-table-list__col  m-table-list__col&#45;&#45;label">
                    {{v.numberOfTimes}}
                </div>
            </td>
            <td style="">
                <div class="m-table-list__col  m-table-list__col&#45;&#45;label">
                    {{v.dataPagamentoRata}}
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>-->


<!--
<div malihu-scrollbar class="mCustomScrollbar scrollable__element " [style.maxHeight]="wrapperHeight">
    <div class="row l-margin-top--small">
        <div class="col-4">
            cf amount
        </div>
        <div class="col-4">
            number of times
        </div>
        <div class="col-4">
            data pagamento
        </div>
    </div>

    <div class="row l-margin-top--small" *ngFor="let elem of rate">
        <div class="col-4">
            {{elem.cfAmount | currencyFormatter}}
        </div>
        <div class="col-4">
            {{elem.numberOfTimes}}
        </div>
        <div class="col-4">
            {{elem.dataPagamentoRata }}
        </div>
    </div>
</div>


-->