<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img alt src="assets/images/logo.png" width="150px" class="user-avatar" />
            <h1>Mercedes BDWeb</h1>
            <form role="form">
                <div class="form-content">
                    <div class="form-group">
                        <input type="text" ng-model="name" class="form-control input-underline input-lg" id="" placeholder="{{ 'EMAIL' | translate }}">
                    </div>

                    <div class="form-group">
                        <input type="password" class="form-control input-underline input-lg" id="" placeholder="{{ 'PASSWORD' | translate }}">
                    </div>
                </div>
                <a class="btn rounded-btn" [routerLink]="['/proposals/list']" (click)="onLoggedin()">{{ 'LOG_IN' | translate }}</a>
                &nbsp;
                <a class="btn rounded-btn" [routerLink]="['/signup']">{{ 'REGISTER' | translate }}</a>
            </form>
        </div>
    </div>
</div>
