.m-sub-header {
    height: rem(300);
    position: relative;
    z-index: 0;

    &__img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    &__data-box {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        padding-top: rem(80);
        color: color(white);
        font-size: rem(16);
        display: flex;
        align-items: center;
        justify-content: center;
        white-space: nowrap;
        > div {
            margin: 0 5%;
            @extend .ff-DaimlerCAC-Regular;
        }
        span {
            letter-spacing: rem(1);
            display: block;
            font-size: rem(60);
        }
    }

    &__date, &__cta {
        position: absolute;
        bottom: rem(20);
    }
    &__date {
        left: rem(60);
        color: color(white);
    }
    &__cta {
        right: rem(60);
        color: color(azure);
    }
}