<app-consultation-data-banks *ngIf="selectedTabKey == allRightTabs.BANKS_DATA"></app-consultation-data-banks>
<app-consultation-documents *ngIf="selectedTabKey == allRightTabs.DOCS"></app-consultation-documents>
<app-consultation-notes *ngIf="selectedTabKey == allRightTabs.NOTES"></app-consultation-notes>
<app-consultation-subjects-list *ngIf="selectedTabKey == allRightTabs.SUBJ"></app-consultation-subjects-list>
<app-contracts-list *ngIf="selectedTabKey == allRightTabs.CONTRACTS"></app-contracts-list>
<app-consultation-proposal *ngIf="selectedTabKey == allRightTabs.PROP"></app-consultation-proposal>