.m-accordion-row {
  position: relative;
  background: color(white);
  padding: rem(26);
  display: none;

  &--active,
  &--open {
    display: block;
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  &__col {
	flex-grow: 1;
  }

  &__child {
    max-width: 100%;
	padding: rem(11);


    &-title {
      @extend .ff-DaimlerCS-Bold;
      font-size: rem(17);
      font-weight: 800;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: rem(0.2);
      color: color(black);
    }
  }

  &__controls {
    margin-top: rem(25);

    .m-footer-controls {
      justify-content: flex-end;
    }
  }
}
