<div class="l-main-wrapper" *ngIf="emptyList">
  <h3 class="empty_title">
    {{'EMPTY_LIST' | translate}}
  </h3>
  <div>
    <!-- <app-svg-icon class="empty_img_dim" [icon]="'threePoints'"></app-svg-icon> -->
    <img alt src="{{imgPath}}" class="empty_img_dim">
  </div>
</div>
