.empty_img_dim {
   height: 3%;
   width: 3%;
   display: block;
   margin-left: auto;
   margin-right: auto;
   margin-top: 7.5%;
   margin-bottom: 7.5%;
 }

.empty_title {
  font-size: x-large;
  font-weight: bold;
  text-align: center;
  margin-top: 5%;
}