.m-document-file {
    position: relative;
    max-width: rem(200);
    margin-right: rem(30);
    &__img {
        padding: rem(3);
        position: relative;
        z-index: 0;
        img {
            display: block;
            width: 100%;
        }
    }
    &__delete {
        cursor: pointer;
        position: relative;
        z-index: 1;
        position: absolute;
        top: 0;
        right: 0;
        width: rem(20);
        height: rem(20);
        background: color(white);
        border-radius: 100%;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
        transform: translate(50%,-50%);
        svg {
            display: block;
            width: 100%;
            height: 100%;
            fill: color(azure);
        }
    }
    &__link {
        text-align: center;
    }
}