// Fonts
$baseFontSize: 10;

// Mq
$mq: (
        phablet  : 414px,
        tablet   : 768px,
        desktop  : 1024px,
        large    : 1280px,
        wide     : 1440px,
);

$colors: (
        black: #000,
        black2: #111,
        white: #ffffff,
        azure: #00adef,
        blue: #0088c6,
        bgGray: #f8f8f8,
        darkGray: #999,
        lightGray: #ececec,
        error: #e2002f,
        border: #ccc
);

@each $name,$color in $colors {
    .f-#{$name} {
        fill: $color !important;
    }
    .c-#{$name} {
        color: $color !important;
    }
    .bg-#{$name} {
        background: $color !important;
    }
}

$colPadding: 19;
$actionControlsButtonWidth: 30;