//$basePath: "http://localhost:4200";



@font-face {
  font-family: 'DaimlerCAC-Regular';
  src: url('/assets/fonts/DaimlerCAC-Regular.eot');
  src: url('/assets/fonts/DaimlerCAC-Regular.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/DaimlerCAC-Regular.svg#DaimlerCAC-Regular') format('svg'),
       url('/assets/fonts/DaimlerCAC-Regular.ttf') format('truetype'),
       url('/assets/fonts/DaimlerCAC-Regular.woff') format('woff'),
       url('/assets/fonts/DaimlerCAC-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
.ff-DaimlerCAC-Regular {
  font-family: 'DaimlerCAC-Regular';
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DaimlerCS-Bold';
  src: url('/assets/fonts/DaimlerCS-Bold.eot');
  src: url('/assets/fonts/DaimlerCS-Bold.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/DaimlerCS-Bold.svg#DaimlerCS-Bold') format('svg'),
       url('/assets/fonts/DaimlerCS-Bold.ttf') format('truetype'),
       url('/assets/fonts/DaimlerCS-Bold.woff') format('woff'),
       url('/assets/fonts/DaimlerCS-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
.ff-DaimlerCS-Bold {
  font-family: 'DaimlerCS-Bold';
  font-weight: normal;
  font-style: normal;
}




@font-face {
  font-family: 'DaimlerCS-Demi';
  src: url('/assets/fonts/DaimlerCS-Demi.eot');
  src: url('/assets/fonts/DaimlerCS-Demi.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/DaimlerCS-Demi.svg#DaimlerCS-Demi') format('svg'),
       url('/assets/fonts/DaimlerCS-Demi.ttf') format('truetype'),
       url('/assets/fonts/DaimlerCS-Demi.woff') format('woff'),
       url('/assets/fonts/DaimlerCS-Demi.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
.ff-DaimlerCS-Demi {
  font-family: 'DaimlerCS-Demi';
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DaimlerCS-ExtraBold';
  src: url('/assets/fonts/DaimlerCS-ExtraBold.eot');
  src: url('/assets/fonts/DaimlerCS-ExtraBold.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/DaimlerCS-ExtraBold.svg#DaimlerCS-ExtraBold') format('svg'),
       url('/assets/fonts/DaimlerCS-ExtraBold.ttf') format('truetype'),
       url('/assets/fonts/DaimlerCS-ExtraBold.woff') format('woff'),
       url('/assets/fonts/DaimlerCS-ExtraBold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
.ff-DaimlerCS-ExtraBold {
  font-family: 'DaimlerCS-ExtraBold';
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DaimlerCAC-Bold';
  src: url('/assets/fonts/DaimlerCAC-Bold.eot');
  src: url('/assets/fonts/DaimlerCAC-Bold.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/DaimlerCAC-Bold.svg#DaimlerCAC-Bold') format('svg'),
       url('/assets/fonts/DaimlerCAC-Bold.ttf') format('truetype'),
       url('/assets/fonts/DaimlerCAC-Bold.woff') format('woff'),
       url('/assets/fonts/DaimlerCAC-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
.ff-DaimlerCAC-Bold {
  font-family: 'DaimlerCAC-Bold';
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DaimlerCS-Regular';
  src: url('/assets/fonts/DaimlerCS-Regular.eot');
  src: url('/assets/fonts/DaimlerCS-Regular.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/DaimlerCS-Regular.svg#DaimlerCS-Regular') format('svg'),
       url('/assets/fonts/DaimlerCS-Regular.ttf') format('truetype'),
       url('/assets/fonts/DaimlerCS-Regular.woff') format('woff'),
       url('/assets/fonts/DaimlerCS-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
.ff-DaimlerCS-Regular {
  font-family: 'DaimlerCS-Regular';
  font-weight: normal;
  font-style: normal;
}