.h-ellipsis {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.h-score {
    font-size: rem(10);
    font-weight: bold;
    border: 2px solid #000000;
    border-radius: rem(10);
    padding-left: rem(5);
    padding-right: rem(5);
    padding-top: rem(1);
    padding-bottom: rem(1);
}

.h-dot {
    border-radius: 100%;
    border: rem(4) solid color(azure);
    width: rem(4);
    height: rem(4);
}


.h-align-center {
text-align: center;
}