.ty-home-primary {
	font-size: rem(40);
    line-height: rem(44);
    padding-top: rem(34);
    position: relative;
    @extend .ff-DaimlerCAC-Regular;
    &:after {
    	content: "";
    	display: block;
    	height: 2px;
    	background: currentColor;
    	width: rem(60);
    	position: absolute;
    	top: 0;
    	left: 0;
    }
}



.ty-primary {
	color: color(black);
	font-size: rem(32);
	line-height: 1;
	letter-spacing: .3px;
	font-weight: 100;
	@extend .ff-DaimlerCS-Bold;
}

.ty-medium {
	font-size: rem(18);
	line-height: rem(22);
	color: #bababa;
	@extend .ff-DaimlerCS-Demi;
	&.black {
		color: color(black);
	}
}

.ty-demi {
	font-size: rem(16);
	line-height: rem(16);
	color: color(black);
	letter-spacing: .2px;
	@extend .ff-DaimlerCS-Demi;
}

.ty-body {
	font-size: rem(14);
	line-height: rem(15);
	color: #999;
	b, strong {
		font-weight: bolder;
		color: #000;
	}
}

.ty-small {
	font-size: rem(10);
	line-height: rem(10);
	letter-spacing: 0.1px;
	color: #999;
}

.ty-context {
	font-size: rem(14);
	line-height: rem(20);
	letter-spacing: 1.5px;
	@extend .ff-DaimlerCS-Demi;
}

.ty-breakall {
	word-break: break-all;
	white-space: normal;
}
