<div [ngClass]="containerCss" [id]="containerId">
  <div [ngClass]="labelCss">
    {{ label | translate }}
  </div>
  <input #target [id]="containerId+'-input'" type="text" [ngClass]="inputCss" placeholder="0,00 €" [(ngModel)]="stringValue"
         (blur)="updateOutput()" (focus)="focusEvent.next()" currencyInput style="text-align: right">
  <span  class="a-input__alert d-none">
        {{'REQUIRED' | translate}}
    </span>
</div>
