.defSize{
  font-size: 14px;
  color: #999;
}

.scaledToView{
  max-width: 15vw;
  margin: auto;
}

.discount-text{
  text-decoration: line-through;
}

.input-currency{
  text-align: right;
}

.input-decimal{
  text-align: left;
}


.input-currency-2{
  position: relative;
  z-index: 2;
  float: left;
  width: 99%;
  display: table-cell;
  padding: 6px 12px;
  border: 1px solid #ccc;
  margin: 0;
  text-align: right;
}



.input-currency-3{
  cursor: pointer;
  border: 0;
  //background-color: unset;
  margin-right: rem(15);
  width: 100%;
  position: relative;
}


.currency-suffix {
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  color: #555;
  text-align: center;
  background-color: #eee;
  border: 1px solid #ccc;
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
  display: table-cell;
}
.custom-font-size{
  font-size: rem(10)!important;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}



.inline-style{
  overflow-x: hidden;
  white-space: nowrap;
}
/*
.discount-text{
  color: color(black);
  font-size: rem(40);
  letter-spacing: .2px;
  text-decoration: line-through;
  @extend .ff-DaimlerCS-Bold;
}
.discount-row{
  height: rem(15);
}*/

//mostra msg di errore
div.a-input--error span{
  display: block!important;
}

//stile per la checbox di vincoli ipoteca (usato) non selezionata
.flag-error{
  border-bottom: 0;
  span{
    margin-left: 4rem;
  }
}

input#finalPrice:disabled {
  background-color: inherit;
}
input#finalPrice:enabled {
  border: 0.5px solid #545454;
}

.hoverable{
  cursor: pointer;
}

.link-discount,
.link-edit,
.link-apply{
  color: #00adef!important;
  font-size: 14px;
}

.link-discount:hover,
.link-edit:hover,
.link-apply:hover{
  color: #6610f2!important;
  font-size: 14px;
}
