.row-details{
  margin-left: 5rem;
  margin-right: 5rem;
  margin-bottom: 4rem;
}

.row-details-title{
  margin-left: 3rem;
  margin-right: 3rem;
}

.row-details-title-underline{
  margin-left: 2rem;
  margin-right: 2rem;
}

.financial-detail-table{
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.l-margin-right--normal {
  margin-right: 4rem
}