<div class="row l-margin-top--small">
    <div class="col-12">
        <div class="m-accordion-trigger " [ngClass]="{'m-accordion-trigger--active': showContent}">
            <div class="m-accordion-trigger__label ">
                Dettagli
            </div>
            <div class="m-accordion-trigger__icons" (click)="showContent = !showContent">
            <!--<div class="m-accordion-trigger__icons" (click)="showWIP()">-->
                <app-svg-icon [icon]="'arrow-down'"></app-svg-icon>
            </div>
        </div>
    </div>
</div>

<div class="l-white-container financial-main-container" [hidden]="!showContent">
    <form [formGroup]="detailDataForm">

        <div class="row l-middle row-details">
            <div class="col-4">
                <div class="row l-middle">
                    <div class="col-6">
                        <div class="a-digit-box">
                            <div class="a-digit-box__main">
                                {{financialQueue.mfr | percentageFormatter : 3 }}
                            </div>
                            <div class="a-digit-box__secondary">
                                {{ 'MFR' | translate}}
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="a-digit-box">
                            <div class="a-digit-box__main">
                                {{financialQueue.tassoBase | percentageFormatter : 3 }}
                            </div>
                            <div class="a-digit-box__secondary">
                                {{ 'BASE_RATE' | translate}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-8">
                <div class="row l-middle">
                    <div class="col-7">
                        <app-currency-input formControlName="dealerContribution"
                                            (blurEvent)="update()" [label]="'DEALER_CONTRIBUTION'">
                        </app-currency-input>
                        <!--
                                                <div class="a-input  a-input&#45;&#45;text  ">
                                                    <div class="a-input__label">
                                                        {{ 'DEALER_CONTRIBUTION' | translate}}
                                                    </div>
                                                    <input type="text" value="" placeholder="{{financialQueue.contributoConcessionario}} €"
                                                           *ngIf="campaignSelected">
                                                    <input type="text" value="" placeholder="{{financialQueue.contributoConcessionario}} €"
                                                           *ngIf="!campaignSelected">
                                                </div>
                        -->
                    </div>
                    <div class="col-5">
                        <div class="a-digit-box">
                            <div class="a-digit-box__main">
                                {{financialQueue.incentivoVendita | currency: 'EUR' | currencyFormatter}}
                            </div>
                            <div class="a-digit-box__secondary">
                                {{ 'SALES_INCENTIVE' | translate}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row l-middle row-details">
            <div class="col-6">
                <div class="row l-middle">
                    <div class="col-4">
                        <div class="a-digit-box">
                            <div class="a-digit-box__main">
                                {{ financialQueue.spread | percentageFormatter : 3 }}
                            </div>
                            <div class="a-digit-box__secondary">
                                {{ 'SPREAD' | translate}}
                            </div>
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="a-input  a-input--select">
                            <div class="a-input__label">
                                {{ 'IVA' | translate }}
                            </div>
                            <select formControlName='vat' (change)="update()">
                                <option *ngFor="let vatOptionValue of vatValuesList" [ngValue]="vatOptionValue">
                                    {{vatOptionValue.value}}
                                </option>
                            </select>
                            <app-svg-icon [icon]="'arrow-down'"></app-svg-icon>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="row l-middle">
                    <div class="col-6">
                        <div class="a-digit-box">
                            <div class="a-digit-box__main">
                                {{financialQueue.contributoCampagna | currency: 'EUR' | currencyFormatter}}
                            </div>
                            <div class="a-digit-box__secondary">
                                {{ 'CAMPAIGN_CONTRIBUTION' | translate}}
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="a-input  a-input--select">
                            <div class="a-input__label">
                                {{ 'MORTGAGE' | translate }}
                            </div>
                            <select formControlName='mortgage' (change)="update()">
                                <option *ngFor="let mortagageOptionValue of mortgageValuesList"
                                        [ngValue]="mortagageOptionValue">
                                    {{mortagageOptionValue.value}}
                                </option>
                            </select>
                            <app-svg-icon [icon]="'arrow-down'"></app-svg-icon>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="row l-middle">

                </div>
            </div>
        </div>


        <!-- TODO: Mostrare solo se in leasing e se il flag che segue è True -->
        <!-- recuperare showVoucher da campaign 
        *ngIf="showVoucher"-->
        <div class="row l-middle row-details" >
            <div class="col-4 l-margin-top--small">
                <div class="a-input  a-input--select  ">
                    <div class="a-input__label"> {{'VOUCHER' | translate}}</div>
                    <input class="financial-product-select" formControlName="voucherCode" maxlength="10" type="text"
                           (change)="update()">
                </div>
            </div>
            <div class="col-4 l-margin-top--small">
                <app-currency-input label="CONTRIBUTO_RETENTION" formControlName="contributoRetention"></app-currency-input>
            </div>
            <div class="col-4 l-margin-top--small">

            </div>
        </div>


        <div class="row l-middle row-details">
            <div class=" l-margin-right--normal">
                <label class="a-checkbox" for="field-id-8120">
                    <input type="checkbox" formControlName="invoiceCB" id="field-id-8120" (click)="update()">
                    <span></span>

                    <div class="ty-body">
                        {{ 'INVOICE' | translate}}
                    </div>

                </label>
            </div>
            <div class="l-margin-right--normal">

                <label class="a-checkbox" for="field-id-8121">
                    <input type="checkbox" formControlName="commercialDerogationCB" id="field-id-8121">
                    <span></span>

                    <div class="ty-body">
                        {{ 'COMMERCIAL_DEROGATION' | translate}}
                    </div>

                </label>
            </div>
            <div class="l-margin-right--normal">

                <label class="a-checkbox" for="field-id-8122">
                    <input type="checkbox" formControlName="contributeDerogatioCB" id="field-id-8122">
                    <span></span>

                    <div class="ty-body">
                        {{ 'DEROGATION' | translate}}
                    </div>

                </label>
            </div>
            <div class="l-margin-right--normal">

                <label class="a-checkbox" for="field-id-8126">
                    <input type="checkbox" formControlName="k2k" id="field-id-8126">
                    <span></span>

                    <div class="ty-body">
                        {{ 'K2K' | translate}}
                    </div>

                </label>
            </div>
            <div class="l-margin-right--normal">

                <!-- *ngIf="isLeasing" -->
                <label class="a-checkbox" for="field-id-8123" >
                    <input type="checkbox" id="field-id-8123" formControlName="repurchaseAgreementAcceptedCB" (change)="update()">
                    <!-- (click)="updateRepurchaseAgreement()" -->
                    <!--
                                        <input type="checkbox" id="field-id-8123" *ngIf="!repurchaseAgreementAccepted">
                    -->
                    <!--(click)="updateRepurchaseAgreement()" -->
                    <span></span>

                    <div class="ty-body">
                        {{ 'REPURCHASE_AGREEMENT' | translate}}
                    </div>

                </label>

            </div>
        </div>
        <!-- *ngIf="isAuthenticatedForCommissions()" -->
        <div class="row l-middle row-details-title-underline" >
            <div class="a-digit-box__inside">
                {{ 'COMMISSION_DETAIL' | translate}}
            </div>
            <div class="m-table-list__header m-table-list__row"></div>
            <table class="m-financing-table financial-detail-table">
                <thead>
                <tr>
                    <th></th>
                    <th>{{ 'FROM_FINANCING' | translate }}</th>
                    <th>{{ 'FROM_EXPENSE' | translate }}</th>
                    <th>{{ 'FROM_SERVICES' | translate }}</th>
                    <th>{{ 'FROM_DELTA' | translate }}</th>
                    <th>{{ 'TOTAL_AMOUNT' | translate }}</th>
                </tr>
                </thead>
                <tbody>

                <tr>
                    <td>
                        <div class="m-accordion-row__child-title">
                            Importo
                        </div>
                    </td>
                    <td>
                        <div class="a-digit-box  a-digit-box--big">
                            {{financialQueue.provImportoVendita | currency: 'EUR' | currencyFormatter}}
                        </div>
                    </td>
                    <td>
                        <div class="a-digit-box  a-digit-box--big">
                            {{financialQueue.provImportoSpeseIstruttoria | currency: 'EUR' | currencyFormatter}}
                        </div>
                    </td>
                    <td>
                        <div class="a-digit-box  a-digit-box--big">
                            {{financialQueue.provImportoServizi | currency: 'EUR' | currencyFormatter}}
                        </div>
                    </td>
                    <td>
                        <div class="a-digit-box  a-digit-box--big">
                            {{financialQueue.provImportoDeltaTasso | currency: 'EUR' | currencyFormatter}}
                        </div>
                    </td>
                    <td>
                        <div class="a-digit-box  a-digit-box--big">
                            {{financialQueue.provImportoTotale | currency: 'EUR' | currencyFormatter}}
                        </div>

                    </td>
                </tr>
<!--                <tr>
                    <td>
                        <div class="m-accordion-row__child-title">
                            Percentuale
                        </div>
                    </td>
                    <td>
                        <div class="a-digit-box  a-digit-box&#45;&#45;big">
                            {{financialQueue.provImportoVenditaPerc | percentageFormatter }}
                        </div>
                    </td>
                    <td>
                        <div class="a-digit-box  a-digit-box&#45;&#45;big">
                            {{financialQueue.provImportoSpeseIstruttoriaPerc | percentageFormatter }}
                        </div>
                    </td>
                    <td>
                        <div class="a-digit-box  a-digit-box&#45;&#45;big">
                            {{financialQueue.provImportoServiziPerc | percentageFormatter }}
                        </div>
                    </td>
                    <td>
                        <div class="a-digit-box  a-digit-box&#45;&#45;big">
                            {{financialQueue.provImportoDeltaTassoPerc | percentageFormatter }}
                        </div>
                    </td>

                    <td>
                        <div class="a-digit-box  a-digit-box&#45;&#45;big">
                        </div>
                    </td>
                </tr>-->
                </tbody>
            </table>
        </div>
        <div class="row l-middle row-details-title-underline">
            <div class="a-digit-box__inside">
                {{ 'PAYMENT_METHOD' | translate}}
            </div>
            <div class="m-table-list__header m-table-list__row"></div>

            <div class="m-financing-table financial-detail-table col-12">
                <div class="row l-middle">
                    <div class="col-6 row l-middle">
                        <div class="a-input  a-input--select col">
                            <div class="a-input__label">
                                {{ 'ADVANCE' | translate }}
                            </div>
                            <select formControlName='advacePaymentMethod' (change)="update()">
                                <option *ngFor="let advanceOptionValue of paymentAdvanceValuesList"
                                        [ngValue]="advanceOptionValue">
                                    {{advanceOptionValue.value}}
                                </option>
                            </select>
                            <app-svg-icon [icon]="'arrow-down'"></app-svg-icon>
                        </div>
                        <div class="m-accordion-row__child-title col-3">
                            <div class="m-accordion-row__child-title">
                                <p>
                                    {{ 'EXPENSE' | translate}} {{advancePaymentMethodPrice | currency: 'EUR' |
                                    currencyFormatter}}
                                </p>

                            </div>
                        </div>
                    </div>
                    <div class="col-6 row l-middle">
                        <div class="a-input  a-input--select col">
                            <div class="a-input__label">
                                {{ 'RATE' | translate }}
                            </div>
                            <select id="ratePaymentMethod" formControlName='ratePaymentMethod' (change)="update()">
                                <option *ngFor="let rateOptionValue of paymentRateValuesList"
                                        [ngValue]="rateOptionValue">
                                    {{rateOptionValue.value}}
                                </option>
                            </select>
                            <!--<select formControlName='ratePaymentMethod'>-->
                            <!--<option *ngFor="let rateOptionValue of paymentRateValuesList"-->
                            <!--[ngValue]="rateOptionValue">-->
                            <!--{{rateOptionValue.value}}-->
                            <!--</option>-->
                            <!--</select>-->
                            <app-svg-icon [icon]="'arrow-down'"></app-svg-icon>
                        </div>
                        <div class="m-accordion-row__child-title col-3">
                            <div class="m-accordion-row__child-title">
                                <p>
                                    {{ 'EXPENSE' | translate}} {{ratePaymentMethodPrice | currency: 'EUR' |
                                    currencyFormatter}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
