<div class="l-main-wrapper  l-margin-top--normal">
    <!-- header -->
    <table class="m-table-list  m-table-list--row-hover">

        <thead class="m-table-list__header">
        <tr class="m-table-list__row">
<!--            <th *ngFor="let key of LIST_HEADERS; let i=index" id="{{'h'+i}}" [width]="__widths[i]"-->
            <th *ngFor="let key of headers; let i=index" id="{{'h'+i}}" [ngStyle]="{'width': __widths[i]}"
                class="m-table-list__col  m-table-list__col--label order-none">
                <a class='hoverable' (click)="sortByField('h'+i);">
                    {{ 'h_'+key | translate }}
                </a>
                <!--"i" per info stati proposta-->
                <a *ngIf="i==3" class='hoverable' (click)="openStatePopup()">
                    <app-svg-icon [icon]="'info'" class="iconInfo"></app-svg-icon>
                </a>
                <!--freccia ordinamento-->
                <a class='hoverable' (click)="sortByField('h'+i);">
                    <!--discendente-->
                    <span class = "down">
                        <app-svg-icon [icon]="'arrow-down'" class="sorting-arrow ">
                        </app-svg-icon>
                    </span>
                    <!--ascendente -->
                    <span class="up">
                        <app-svg-icon [icon]="'arrow-down'" class="sorting-arrow sorting-arrow--up">
                        </app-svg-icon>
                    </span>
                </a>
            </th>
        </tr>
        </thead>
    </table>
    <!-- body scrollabile -->
    <div malihu-scrollbar id="{{id}}" class="mCustomScrollbar scrollable__element"
         [style.maxHeight]="wrapperHeight">
        <table class="m-table-list  m-table-list--row-hover">
            <tbody class="m-table-list__data" *ngFor='let v of proposalsList; let i = index'>
                <tr id="row{{i}}" class="m-table-list__row">
                    <!--NEW-->
                    <td *ngFor="let key of headers; let j=index" [ngStyle]="{'width': __widths[j]}"
                        class="m-table-list__col  m-table-list__col--label">
                        <ng-container [ngSwitch]="key">
                            <div *ngSwitchCase="'contract'" class="h-ellipsis" title={{v[key]}}>
                                {{v[key] | contractCodeFormatter | void}}
                            </div>
                            <div *ngSwitchDefault class="h-ellipsis" title={{v[key]}}>
                                {{v[key] | void}}
                            </div>
                        </ng-container>
                    </td>
                    <td style="padding: 19px">
                        <div style="margin: auto; display: table;">
                            <app-svg-icon style="padding-right: 5px" class="icon iconSmall" [icon]="'chat'" (click)="openUnavailableContent()"></app-svg-icon>

                            <app-svg-icon style="padding-right: 5px" class="icon iconSmall" [icon]="'notepad'" (click)="openUnavailableContent()"></app-svg-icon>

                            <app-svg-icon style="padding-right: 10px" class="icon iconSmall" [icon]="'wrongNotes'" (click)="openUnavailableContent()"></app-svg-icon>
                            <!--<app-svg-icon id="trigger{{i}}" class="icon iconMedium" [icon]="'arrow-down'" (click)="openAccordion(i);">-->
                            <!--</app-svg-icon>-->
                        </div>
                    </td>
                </tr>




            <!--OLD-->
                <!--<tr id="row{{i}}" class="m-table-list__row">
                <td [ngStyle]="{'width': __widths[0]}" class="m-table-list__col  m-table-list__col&#45;&#45;label">
                    <div class="h-ellipsis" title={{v.proposal}}>
                        {{v.proposal | void}}
                    </div>
                </td>
                <td [ngStyle]="{'width': __widths[1]}" class="m-table-list__col  m-table-list__col&#45;&#45;label">
                    <div class="h-ellipsis" title={{v.contract}}>
                        {{v.contract |contractCodeFormatter | void}}
                    </div>
                </td>
                <td [ngStyle]="{'width': __widths[2]}" class="m-table-list__col  m-table-list__col&#45;&#45;label">
                    <div class="h-ellipsis" title={{v.subject}}>
                        {{v.subject | void}}
                    </div>
                </td>
                <td [ngStyle]="{'width': __widths[3]}" class="m-table-list__col  m-table-list__col&#45;&#45;label">
                    <div class="h-ellipsis" title={{getDescriptionFromCode(v.state)}}>
                        {{v.state | void}}
                    </div>
                </td>
                &lt;!&ndash; <td class="m-table-list__col  m-table-list__col&#45;&#45;label">
                        <div class="h-ellipsis" title={{v.asset}}>
                            {{v.asset}}
                        </div>

                    </td> &ndash;&gt;
                <td [ngStyle]="{'width': __widths[4]}" class="m-table-list__col  m-table-list__col&#45;&#45;label">
                    <div class="h-ellipsis" title={{v.date}}>
                        {{v.date | void}}
                    </div>
                </td>
                <td [ngStyle]="{'width': __widths[5]}" class="m-table-list__col  m-table-list__col&#45;&#45;label">
                    <div class="h-ellipsis" title={{v.deadline}}>
                        {{v.deadline | void}}

                    </div>
                </td>
                &lt;!&ndash; <td class="m-table-list__col  m-table-list__col&#45;&#45;label">
                        <div class="h-ellipsis" title={{v.priority}}>
                            {{v.priority}}
                        </div>

                    </td> &ndash;&gt;
                <td class="m-table-list__col  m-table-list__col&#45;&#45;label">
                    <div class="h-ellipsis" title={{v.seller}}>
                        {{v.seller | void}}
                    </div>
                </td>
                &lt;!&ndash; bottoni &ndash;&gt;
                <td style="padding: 19px">
                    <div style="margin: auto; display: table;">
                        <app-svg-icon style="padding-right: 5px" class="icon iconSmall" [icon]="'chat'" (click)="openUnavailableContent()"></app-svg-icon>

                        <app-svg-icon style="padding-right: 5px" class="icon iconSmall" [icon]="'notepad'" (click)="openUnavailableContent()"></app-svg-icon>

                        <app-svg-icon style="padding-right: 10px" class="icon iconSmall" [icon]="'wrongNotes'" (click)="openUnavailableContent()"></app-svg-icon>

                        &lt;!&ndash;trigger&ndash;&gt;
                       &lt;!&ndash; WIP
                        <app-svg-icon id="trigger{{i}}" class="icon iconMedium" [icon]="'arrow-down'" (click)="openAccordion(i);">
                        </app-svg-icon> &ndash;&gt;
                    </div>
                </td>
            </tr>

            <!-- accordion content-->
            <tr id="accordion{{i}}" class="m-table-list__row hidden">
                <td class="m-table-list__col accordion" colspan="8">
                    <div class="container">
                        <div class="row">
                            <div class="col-8">
                                <div class="row">
                                    <div class="col-6">
                                        <p>test 1</p>
                                    </div>
                                    <div class="col-6">
                                        <p> Test 2</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="row">
                                    <div class="col-6">
                                        <div _ngcontent-c11="" class="a-button  a-button--transparent"> Esci </div>
                                    </div>
                                    <div class="col-6">
                                        <div _ngcontent-c11="" class="a-button  a-button--azure"> Avanti </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>