.scrollable-element {
    overflow-y: auto;
}

.accordion {
    background-color: white;
    height: auto  ;
    width: 100%;
}

/*.accordionContainer{
    width: 50%;
    height: auto;
    float: left;
    //background-color: green;
}

.accordionContent{
    width: 50%;
    float : right;
    //background-color: blue;
}*/

.active {
    background-color: white;
}

.accordion-arrow{
    fill: black;
}

.hidden {
    display: none;
    overflow: hidden;
}
/* CSS per gli header (ordinamento) */
// nasconde entrambi gli span
.order-none {
    span.up, span.down {
        display: none;
        overflow: hidden;
    }
}
// nasconde gli span .down
.order-asc {
    span.down{
        display: none;
        overflow: hidden;
    }
}
// nasconde gli span .up
.order-desc {
    span.up{
        display: none;
        overflow: hidden;
    }
}

span {
    color: black;
}

.hoverable{
    cursor:pointer;
}
