<div class="a-input a-input--select" (click)="open()" style="cursor:pointer;">
    <div class="a-input__label" >
        {{label}}
    </div>
    <input disabled
           class="form-control"
           type="text"
           [ngModel]="strDate"
           [placeholder]="placeholder"
           style="pointer-events: none; -webkit-text-fill-color: black">
    <app-svg-icon [icon]="'calendar'"></app-svg-icon>
    <!---->
    <!--<div class="input-group" NgTempusdominusBootstrap>-->

    <!--    </div>-->
</div>
<div  style="position: relative">
    <input class="form-control "
           [(ngModel)]="date"
           [options]="options"
           a2e-datetimepicker
           (ngModelChange)="update()" style="height: 0" hidden/>
</div>
