.calendar-text{
  padding: rem(11);
  font-size: rem(16);
  background: transparent;
  border: 0;
  color: #1DB954;
  outline: none;
  letter-spacing: .2px;
}

.calendar-pointer{
  position: relative!important;
}