.m-step-line {
	width: 100%;
	display: flex;
	justify-content: space-between;
	position: relative;
	z-index: 1;
	&__child {
		font-size: rem(16);
		letter-spacing: .6px;
		flex-grow: 1;
		padding: 0 rem(15) rem(10);
		color: #999;
		border-bottom: 2px solid #ececec;
		&--done {
			color: color(azure);
			border-bottom: 2px solid color(azure);
		}
		&--active {
			color: color(azure);
			position: relative;
			@extend .ff-DaimlerCS-Bold;
			&:after {
				content:"";
				display: block;
				width: 50%;
				height: 2px;
				background: color(azure);
				position: absolute;
				bottom: -2px;
				left: 0;
			}
			&:before {
				content: "";
				display: block;
				position: absolute;
				bottom: -5px;
				left: 50%;
				width: rem(8);
				height: rem(8);
				border-radius: 100%;
				background: color(azure);
			}
		}
	}
}