<div id="dynamic-table-main">
    <div id="dynamic-table-scrollable" class="mCustomScrollbar">
        <table *ngIf="headers" class="m-table-list" >
            <!--porzione senza scroll-->
            <thead class="m-table-list__header">
            <tr class="m-table-list__row">
                <th *ngFor="let header of headers" class="m-table-list__col">
                    {{header}}
                </th>
            </tr>
            </thead>
            <!-- porzione con scroll -->
            <tbody *ngIf="data" class="m-table-list__data scrollable__element" id="'test-id'">
            <tr *ngFor="let row of data" class="m-table-list__row">
                <td *ngFor="let val of row" class="m-table-list__col">
                    {{val|void}}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- bottone per modale -->
    <div *ngIf="modal" class="button-right">
        <a class="a-button a-button--azure" (click)="closeModal()"> <span style="color:white">Chiudi</span>  </a>
    </div>
</div>