/* modale con descrizione stati proposte */
.propStatesList{
  //tabella stati
  table {
    text-align: center;
    max-height: 60vh;

    tbody {
      overflow-y: auto;
    }
    tr{
      th {
        padding: 5px;
        padding-bottom: 10px;
      }
      td{
        //background-color: whitesmoke;
        padding: 7px;
      }
    }

  }

  .button-right{
    padding: 20px;
    padding-left: 0px;
    justify-content: flex-end;
    text-align: right;
    //background-color: whitesmoke;
  }

  #dynamic-table-scrollable{
    overflow-y: scroll;
    max-height: 70vh; //70% viewport
  }
}



