<div class="row l-margin-top--small">
    <div class="col-12">
        <div class="m-accordion-trigger" [ngClass]="{'m-accordion-trigger--active': showContent}">
            <div class="m-accordion-trigger__label">
                {{'RISK_COMPUTE_SUBJECT' | translate}}
            </div>
            <div class="m-accordion-trigger__icons" (click)="showContent = !showContent">
                <app-svg-icon [icon]="'arrow-down'"></app-svg-icon>
            </div>
        </div>
    </div>
</div>

<div class="l-white-container" [hidden]="!showContent">
    <div class="l-main-wrapper">
        <app-risk-phenomens></app-risk-phenomens>
        <app-phenomen-detail></app-phenomen-detail>
        <app-risk-summary-details></app-risk-summary-details>
    </div>
</div>