<form [formGroup]="serviceAdvanceForm">


    <div class="l-margin-top--normal">
        <div class="a-input  a-input--select " id="estensioneGaranziaProposta"
             (click)="removeError('estensioneGaranziaProposta')">
            <div class="a-input__label">
                {{'EXTENDED_WARRANTLY' | translate | required }}
            </div>

            <select formControlName="estensioneGaranziaProposta" [ngModel]="estensioneGaranzia" class="form-control">
                <option value="default" disabled>{{'SELECT_BRAND' | translate }}</option>
                <option [ngValue]="elem" *ngFor="let elem of service?.estensioneGaranziaProposta">
                    {{elem}} {{'MONTH' | translate }}
                </option>
            </select>

            <app-svg-icon [icon]="'arrow-down'" class="iconSmall"></app-svg-icon>
        </div>
    </div>


</form>
