<div class="a-service-card mb-5" id="{{id}}" [ngClass]="{'a-service-card--active ' : id==typeIdActive}"
     (click)="loadInsuranceType()" *ngIf="flag">

    <div class="a-service-card__name" [ngClass]="{'text-azure' : checkIfSelected() && id!=typeIdActive}">
        {{insuranceType?.supplyTypeDesc | titlecase }}
    </div>

    <div class="text-right">
        <span [ngClass]="{'text-azure' : checkIfSelected() && id!=typeIdActive}">
            <span *ngIf="price > 0">
                {{price | currency: 'EUR' | currencyFormatter}}
            </span>
            <span *ngIf="price === 0">
                GRATIS
            </span>
        </span>
        <span *ngIf="insuranceType.attachments.length > 0"
              [ngClass]="{'fill-azure' : checkIfSelected() && id!=typeIdActive}"
              (click)="loadDocument(); $event.stopPropagation();">
            <app-svg-icon [class]="'iconMedium'" [icon]="'pdf'"></app-svg-icon>
        </span>
        <span class="fill-red" (click)="deleteType(); $event.stopPropagation();">
            <app-svg-icon *ngIf="checkIfSelected()" [class]="'iconSmall'" [icon]="'close'"></app-svg-icon>
        </span>
    </div>

</div>

