.m-card-model {
    padding: rem(20) rem(20);
    &--selected {
        background: color(white);
        .m-card-model__head {
            a {
                display: inline-block;
            }
        }
    }
    &__head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: color(black);
        font-size: rem(22);
        margin-bottom: rem(16);
        width: 100%;
        strong {
            display: inline-block;
            @extend .ff-DaimlerCAC-Bold;
        }
        a {
            display: none;
            color: color(azure);
            font-size: rem(10);
            @extend .ff-DaimlerCS-Demi;
        }
    }

    &__img {
        img {
            display: block;
            width: 100%;
        }
    }
}