.a-checkbox {
    display: inline-flex;
    position: relative;
    cursor: pointer;
    align-items: center;
    input {
        display: none;
        appearance: none;
        &:checked {
            &~span {
                &:after {
                    transform: translate(-50%,-60%) rotate(-40deg) scale(1);
                    opacity: 1;
                }
            }
        }
    }
    span {
        position: relative;
        display: block;
        border: 1px solid #999;
        appearance: none;
        width: rem(20);
        height: rem(20);
        min-height: rem(20);
        min-width: rem(20);
        background: white;
        margin-right: rem(10);
        &:after {
            content:"";
            display: block;
            width: 60%;
            height: 40%;
            border-left: 2px solid color(azure);
            border-bottom: 2px solid color(azure);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-60%) rotate(-40deg) scale(.6);
            opacity: 0;
            //transition: all .1s linear;
        }
    }
}