<div class="l-main-wrapper  l-margin-top--normal">
  <!-- header fisso-->
  <table class="m-table-list  m-table-list--row-hover">
    <thead class="m-table-list__header">
    <tr class="m-table-list__row">
      <th *ngFor="let key of headers; let i=index" id="{{'h'+i}}"
          class="m-table-list__col  m-table-list__col--label order-none">
        <a class='hoverable' (click)="sortByField('h'+i);">
          {{ key | uppercase | translate }}
        </a>
        <!--"i" per info stati proposta-->
        <!--<a *ngIf="i==3" class='hoverable' (click)="openStatePopup()">-->
        <!--<app-svg-icon [icon]="'info'" class="iconInfo"></app-svg-icon>-->
        <!--</a>-->
        <!--freccia ordinamento-->
        <!--TODO: da decommentare se si vuole l'ordinamento con le frecce corrispondenti-->
<!--        <a class='hoverable' (click)="sortByField('h'+i);">
          &lt;!&ndash;discendente&ndash;&gt;
          <span class="down">
              <app-svg-icon [icon]="'arrow-down'" class="sorting-arrow ">
              </app-svg-icon>
            </span>
          &lt;!&ndash;ascendente &ndash;&gt;
          <span class="up">
              <app-svg-icon [icon]="'arrow-down'" class="sorting-arrow sorting-arrow&#45;&#45;up">
              </app-svg-icon>
            </span>
        </a>-->
      </th>
    </tr>
    </thead>
  </table>
  <!-- body scrollabile -->
  <div malihu-scrollbar id="{{id}}" class="mCustomScrollbar scrollable__element" [style.maxHeight]="__wrapperHeight">
    <table class="m-table-list  m-table-list--row-hover">
      <tbody class="m-table-list__data" *ngFor='let v of list; let i = index'>
      <tr id="row{{i}}" class="m-table-list__row">
        <!--NEW-->
        <td *ngFor="let key of objectKeys; let j=index" class="m-table-list__col  m-table-list__col--label" (click)="selectedUser(v)">
          <ng-container [ngSwitch]="key">
            <div *ngSwitchCase="'contract'" class="h-ellipsis" title={{v[key]}}>
              {{v[key] | contractCodeFormatter | void}}
            </div>
            <div *ngSwitchDefault class="h-ellipsis" title={{v[key]}}>
              {{v[key] | void}}
            </div>
          </ng-container>
        </td>
        <td style="padding-top: 19px; padding-bottom: 19px">
          <div style="margin: auto; display: table;">



          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>