<div class="row l-margin-top--small">
  <div class="col-12">
    <div class="m-accordion-trigger" [ngClass]="{'m-accordion-trigger--active': showContent}">
      <div class="m-accordion-trigger__label">
        {{'PRODUCT' | translate}}
      </div>
      <div class="m-accordion-trigger__icons" (click)="showContent = !showContent">
        <app-svg-icon [icon]="'arrow-down'"></app-svg-icon>
      </div>
    </div>
  </div>
</div>

<div class="l-white-container" [hidden]="!showContent">
  <div class="l-main-wrapper">
    <div class="row l-margin-top--small">
      <div class="col-4">
        <div class="a-input  a-input--text  ">
          <div class="a-input__label">
            {{'PRODUCT' | translate}}
          </div>
          <input type="text" value="{{proposalProduct?.prodotto}}" [disabled]="true">
        </div>
      </div>
      <div class="col-4">
        <div class="a-input  a-input--text  ">
          <div class="a-input__label">
            {{'MODEL' | translate}}
          </div>
          <input type="text" value="{{proposalProduct?.modello}}" [disabled]="true">
        </div>
      </div>
      <div class="col-4">
        <div class="a-input  a-input--text  ">
          <div class="a-input__label">
            {{'VERSION' | translate}}
          </div>
          <input type="text" value="{{proposalProduct?.versione}}" [disabled]="true">
        </div>
      </div>
    </div>
    <div class="row l-margin-top--small"> 
      <div class="col-4">
        <div class="a-input  a-input--text  ">
          <div class="a-input__label">
            {{'MATRICULATION_' | translate}}
          </div>
          <input type="text" value="{{'MATRICULATION_' | translate}}" [disabled]="!isEditing">
        </div>
      </div>
      <div class="col-4">
        <div class="a-input  a-input--text  ">
          <div class="a-input__label">
            {{'KM_MAX' | translate}}
          </div>
          <input type="text" value="{{'KM_MAX' | translate}}" [disabled]="!isEditing">
        </div>
      </div>
      <div class="col-4 l-spacing--v-margin-small-auto">
        <label class="a-checkbox ">
          <input type="checkbox" [ngModel]="!proposalProduct?.used" [disabled]="!isEditing">
          <span></span>
          <div class="ty-body">
            {{'NEW_' | translate}}
          </div>
        </label>
      </div>
    </div>
  </div>
</div>