
<form>
  <div class="m-filter-container__wrapper">
    <div class="m-filter-container__col">
      <div class="m-filter-container__child m-filter-container__child-title">
        {{subtitleLabel | translate}}
      </div>
      <div class="m-filter-container__child">
        <app-datepicker-popup [label]="'DATE' | translate" [(strDate)]="endDate" (strDateChange)="dateValue.emit($event)"></app-datepicker-popup>
      </div>
      <div class="m-filter-container__child">
        <div class="a-input a-input--select">
          <app-multi-select [label]="listLabel | translate" [listItems]="filterList" [reset]="reset" (_itemSelected)="selectValues.emit($event)"></app-multi-select>
        </div>
      </div>
    </div>
  </div>
</form>
