.m-action-controls {
	display: flex;
  width: 100%;
	justify-content: space-between;
	flex-wrap: wrap;
}

.m-action-controls__child {
  position: relative;
  cursor: pointer;
  svg {
    width: rem(30);
    height: rem(30);
    pointer-events: none;
  }

  &__notification {    
    position: absolute;    
    right: rem(-3);
    top: rem(-3);    
  }
}
