
<form [formGroup]="tpOptionalForm">
  <div class="l-main-wrapper  l-margin-top--normal">

    <div class="row l-start l-bottom">
      <div class="col-4">
        <div class="row  l-margin-top--normal">
          <div class="col">
            <div class="a-input">
              <div class="a-input__label" style="text-transform: lowercase">
                {{ 'DESCRIPTION' | translate}}
              </div>
              <input type="text" formControlName='description' >
            </div>
          </div>
        </div>
        <div class="row  l-margin-top--normal">
          <div class="col">
            <div class="a-input  a-input--select  ">
              <div class="a-input__label" style="text-transform: lowercase">
                {{ 'SUPPLIER' | translate}}
              </div>
              <select formControlName='supplier' id="optionalSuplier">
                <option *ngFor="let supplier of suppliersList"  [ngValue]="supplier"> {{supplier.label}}</option>
              </select>

              <app-svg-icon [icon]="'arrow-down'"></app-svg-icon>

            </div>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="row  l-margin-top--normal">
          <div class="col">
            <div class="a-input">
              <div class="a-input__label" style="text-transform: lowercase">
                {{ 'CODE' | translate}}
              </div>
              <input type="text" formControlName='code' >
            </div>
          </div>
        </div>
        <div class="row  l-margin-top--normal">
          <div class="col-9">
            <div class="a-input  a-input--select  ">
              <div class="a-input__label">
                {{ 'IVA' | translate}}
              </div>
              <select id="tp-iva" formControlName='iva'>
                <option *ngFor="let iva of ivaList"  [ngValue]="iva"> {{iva.label}}</option>
              </select>
              <app-svg-icon [icon]="'arrow-down'"></app-svg-icon>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="row  l-margin-top--normal">
          <div class="col-6">
            <div class="a-input  a-input--select  ">
              <div class="a-input__label">
                {{ 'PRICE_IVA' | translate}}
              </div>
              <input type="text" formControlName='price' currencyMask>

              <!--
                                  <select id="iva" formControlName='iva'>
                                    <option *ngFor="let iva of ivaList"  value="{{iva.value}}"> {{iva.lable}}</option>
                                  </select>
              <app-svg-icon [icon]="'arrow-down'"></app-svg-icon>
              -->
            </div>
          </div>
          <div class="col-6">
            <div class="a-input  a-input--select  ">
              <div class="a-input__label">
                {{ 'FINAL_PRICE' | translate}}
              </div>
              <!--<input type="text" [value]="tpPriceWithIVA | currency:'EUR'|currencyFormatter"  currencyMask disabled>-->
            </div>
          </div>
        </div>
        <label class="a-checkbox">
          <div class="l-main-wrapper  l-margin-top--normal">
            <div class="l-end">
              <div class="a-button  a-button--azure" (click)="updateTpOptional()">
                {{ 'INSERT' | translate}}
              </div>
            </div>
          </div>
        </label>
      </div>
    </div>
  </div>
</form>
