.m-notification {
	color: color(white);
	padding: rem(15);
	font-size: rem(13);
	line-height: rem(16);
	display: flex;
	align-items: center;

	@extend .ff-DaimlerCS-Demi;
	&__icon {
		min-width: rem(30);
		min-height: rem(30);
		width: rem(30);
		height: rem(30);
		margin-right: rem(15);
		svg {
			fill: color(#fff);
			display: block;
			width: 100%;
			height: 100%;
		}
	}
	&__text {
		padding-right: rem(20);
	}
	&__cta {
		cursor: pointer;
		font-size: rem(14);

	}
	&--alert {
		background: color(azure);
	}
	&--error {
		background: color(error);
	}
	&--success {
		background: #1DB954;
	}
}