

<div class="modal fade"  id="theModal" tabindex="-1" role="dialog" aria-labelledby="theModalLabel">
    <div class="modal-dialog modal-lg " role="document">
        <div id="modalContentId" class="modal-content">
            <!--<div class="modal-header l-main-wrapper  l-margin-top&#45;&#45;normal" style="width: 100%; background-color: #42A5F5; border-top-radius: 0">
                <h4 class="modal-title" id="theModalLabel" ></h4>
                <button type="button" class="close" aria-label="Close"  data-dismiss="modal" >
                    <span aria-hidden="true" class="m-table-list__col&#45;&#45;icon" > <app-svg-icon [icon]="'close'" ></app-svg-icon></span>
                </button>
            </div>-->

            <div id="modalBodyId" class="modal-body" #theBody>
            </div>
<!--
            <div class="modal-footer">
-->
<!--                <button type="button" class="btn btn-default" data-dismiss="modal" (close)="close()">Close</button>-->
<!--            </div>-->
        </div>
    </div>
</div>
