<div class="l-main-wrapper  l-margin-top--normal">

    <div class="row">

        <div class="m-underline-nav l-start col-11">
            <a class="m-underline-nav__child tab__link" [ngClass]="{
        'm-underline-nav__child--active':tab.key == tabKey}" *ngFor="let tab of tabs"
               (click)="setTab(tab.key)">
                {{tab.label}}
                <a class="a-link tab__link" *ngIf="tab.key == tabKey" style="margin-left: 1rem"
                   (click)="showProposalStatesFilter = !showProposalStatesFilter">
                    <app-svg-icon [icon]="'filter'"></app-svg-icon>

                </a>
            </a>
            <a class="m-underline-nav__child m-underline-nav__child--active tab__link a-link" (click)="addingTab=!addingTab">
               <app-svg-icon class="iconXSmall" style="margin-left: 20%;" [icon]="'pencil'"></app-svg-icon>
            </a>

        </div>
        <div class=" col-1">
         <!--   <button class="a-button&#45;&#45;azure" style="height: 40px;width: 40px; border-radius:50%; border-width: 0"
                    (click)="goToNewProposal()">
                &lt;!&ndash;                [ngStyle]="{'position': 'fixed', 'top': newProposalButtonPosition, 'right': spaceFromBar}"&ndash;&gt;
                <span style="font-size: 20px; font-weight: bold; color: white"> + </span>
            </button>-->
            <app-svg-icon *ngIf="showNewProposal()" class="iconLarge" style="fill : #00adef; float: right; cursor: pointer"
                          (click)="goToNewProposal()" [icon]="'plus-circle'"></app-svg-icon>
        </div>

    </div>

</div>


<div class="l-main-wrapper  l-spacing--v-margin-small-auto" *ngIf="filterAccordion">
    <div class="m-filter-container m-filter-container--active">
        <!--      <span *ngIf="filterOption.possibleChoices != null">
                {{filterOption.key}}
              </span>-->
        {{numberOfTabs}}/{{maxNumberOfTabs }}
        <div class="m-filter-container__wrapper">
            <div class="m-filter-container__child" *ngFor="let pt of possibleTabs">
                <label class="a-checkbox" for={{pt.label}}>
                    <input type="checkbox" [(ngModel)]="pt.selected" id="{{pt.label}}-2"
                           *ngIf="numberOfTabs<maxNumberOfTabs || pt.selected">
                    <input type="checkbox" [(ngModel)]="pt.selected" disabled
                           *ngIf="numberOfTabs>=maxNumberOfTabs && !pt.selected">
                    <span></span>
                    <div class="ty-body">
                        {{pt.label}}
                    </div>
                </label>
            </div>
            <div class="l-end">
                <div (click)="setTabs()" class="a-button  a-button--azure">
                    {{ 'CONFIRM' | translate }}
                </div>
            </div>
            <!--<div class="m-filter-container__controls">
            </div>-->

        </div>
    </div>
</div>

<div class="l-main-wrapper  l-spacing--v-margin-small-auto" *ngIf="showProposalStatesFilter">
    <div class="m-filter-container m-filter-container--active">
        <form [formGroup]="filterOptionalForm">
            <div class="row col-12" >
                <div class="col-4">
                    <div class="a-input  a-input--text  ">
                        <div class="a-input__label">
                           {{ 'CONTRACT_NUMBER' | translate}}
                        </div>
                        <input type="text" formControlName='contractNumber' placeholder="{{ 'CONTRACT_NUMBER' | translate}}">
                    </div>
                    <!--
                                        <div class="a-input  a-input&#45;&#45;text  ">
                                            <div class="a-input__label">
                                                Targa
                                            </div>
                                            <input type="text" formControlName='licensePlate' placeholder="Targa">
                                        </div>
                    -->
                </div>
                <div class="col-4">
                    <div class="a-input  a-input--text  ">
                        <div class="a-input__label">
                            {{ 'PROPOSAL_NUMBER' | translate}}
                        </div>
                        <input type="text" formControlName='proposalNumber' placeholder="{{ 'PROPOSAL_NUMBER' | translate}}">
                    </div>
                    <!--
                                        <div class="a-input  a-input&#45;&#45;text  ">
                                            <div class="a-input__label">
                                                Telaio
                                            </div>
                                            <input type="text" formControlName='frameNumber' placeholder="Telaio">
                                        </div>
                    -->
                </div>
                <div class="col-4">
                    <div class="a-input  a-input--text  ">
                        <div class="a-input__label">
                            {{ 'SUBJECT' | translate}}
                        </div>
                        <input type="text" formControlName='applicant' placeholder="{{ 'SUBJECT' | translate}}">
                    </div>
                    <!--
                                        <div class="col-6" style="float: left" [hidden]="!checkStateActiveSelected()">
                                            <div class="a-input__label">
                                                <span> {{ 'FROM' | translate }} </span>
                                            </div>
                                            <app-datepicker-popup></app-datepicker-popup>
                                        </div>
                                        <div class="col-6" style="float: right" [hidden]="!checkStateActiveSelected()">
                                            <div class="a-input__label">
                                                {{ 'TO' | translate }}
                                            </div>
                                            <app-datepicker-popup></app-datepicker-popup>
                                        </div>
                    -->

                </div>
            </div>
            <div class="row col-12 padding-qb" style="margin-top: 10px">
                <div class="col-4">
                    <div class="a-input  a-input--text  ">
                        <div class="a-input__label">
                            {{ 'PLATE' | translate}}
                        </div>
                        <input type="text" formControlName='licensePlate' placeholder="{{ 'PLATE' | translate}}">
                    </div>
                </div>
                <div class="col-4">
                    <div class="a-input  a-input--text ">
                        <div class="a-input__label">
                            {{ 'FRAME' | translate}}
                        </div>
                        <input type="text" formControlName='frameNumber' placeholder="{{ 'FRAME' | translate}}">
                    </div>
                </div>
                <div class="col-4">
                    <div class="a-input a-input--select">
                        <div class="a-input__label">
                            {{ 'PROPOSAL_STATE' | translate}}
                        </div>
                        <select formControlName='proposalState' id="stato">
                            <option *ngFor="let state of possibleStates" [ngValue]="state.id"> {{state.label |
                                translate}}</option>
                        </select>

                        <app-svg-icon [icon]="'arrow-down'"></app-svg-icon>
                    </div>
                </div>
            </div>
            <div class="row col-12 padding-qb" *ngIf=" proposalState == possibleStates[3].id" style="margin-top: 10px">
                <div class="col-4">
                    <app-datepicker-popup [label]="'Data da'" [(strDate)]="startDate" [maxDate]="endDate"></app-datepicker-popup>
                </div>
                <div class="col-4">
                    <app-datepicker-popup [label]="'Data a'" [(strDate)]="endDate" [minDate]="startDate"></app-datepicker-popup>
                </div>
                <div class="col-4">
                </div>
            </div>
        </form>
        <div class="aligned_right padding-qb">
            <div class="a-button" (click)="clear()">
                {{ 'CLEAR' | translate }}
            </div>
            <div class="a-button  a-button--azure padding-left" (click)="saveFilter()">
                {{ 'CONFIRM' | translate }}
            </div>
        </div>
    </div>
</div>

<div class="l-main-wrapper  l-spacing--v-margin-small-auto" *ngIf="addingTab">
    <div class="m-filter-container m-filter-container--active">
        <!--      <span *ngIf="filterOption.possibleChoices != null">
                {{filterOption.key}}
              </span>-->
        {{numberOfTabs}}/{{maxNumberOfTabs }}
        <div class="m-filter-container__wrapper">
            <div class="m-filter-container__child" *ngFor="let pt of possibleTabs">
                <label class="a-checkbox" for={{pt.label}}>
                    <input type="checkbox" [(ngModel)]="pt.selected" id={{pt.label}}
                           *ngIf="numberOfTabs<maxNumberOfTabs || pt.selected">
                    <input type="checkbox" [(ngModel)]="pt.selected" disabled
                           *ngIf="numberOfTabs>=maxNumberOfTabs && !pt.selected">
                    <span></span>
                    <div class="ty-body">
                        {{pt.label}}
                    </div>
                </label>
            </div>


            <!--<div class="m-filter-container__controls">
            </div>-->
        </div>
        <div class="aligned_right">
            <div (click)="setTabs()" class="a-button  a-button--azure">
                {{ 'CONFIRM' | translate }}
            </div>
        </div>
    </div>
</div>


<!--

numeroContratto
numeroProposta
soggetto
sort
stato
targa
telaio
-->

<!--
      <button class="a-button&#45;&#45;azure" style="height: 40px;width: 40px; border-radius:50%; border-width: 0"
              [ngStyle]="{'position': 'fixed', 'top': newProposalButtonPosition, 'right': spaceFromBar}"
              (click)="goToNewProposal()">
          <span style="font-size: 20px; font-weight: bold; color: white"> + </span>
      </button>
-->
