.aligned_right {
  justify-content: flex-end;
  text-align: right;
}

.tab__link {
  cursor: pointer;
  display: flex;
  color: color(black);
  line-height: 1.6;
  justify-content: center;
}
  
.my-placehoder{
  color: red;
}

.padding-qb{
  margin-top: 3rem;
}

.padding-left{
  margin-left: 3rem;
}
