<div [id]="id" class="position-relative">
    <div class="a-input a-input--select">
        <div class="a-input__label">
            {{ label | translate}}
        </div>

        <input type="text" (click)="toggleList()" *ngIf="!multiple" placeholder="{{placeholder}}"
               [(ngModel)]="selectedItemsLabel">

        <ul class="list-inline tag-list" type="text" (click)="toggleList()" *ngIf="multiple">
            <li class="list-inline-item" *ngIf="selectedItems.length < 1"><span
                    class="badge badge-pill placeholder">{{placeholder}}</span></li>
            <li *ngFor="let badge of selectedItems" class="list-inline-item">
                <span class="badge badge-light">{{badge.value}}
                    <span href="javascript:void(0)" class="mr-1 fa fa-times"
                          style="cursor: pointer;"
                       (click)="removeBadge(badge);$event.stopPropagation()">
                    </span>
            </span>
            </li>
        </ul>

        <app-svg-icon [icon]="icon"></app-svg-icon>
    </div>
    <div [hidden]="!listOpen" class="list-container position-absolute w-100">
        <ul *ngIf="!multiple">
            <li *ngFor="let item of listItems" (click)="selectItem(item)" style="cursor: pointer" class="list-item-select">
                {{item.value}}
            </li>
        </ul>
        <ul *ngIf="multiple">
            <li>
                <label class="a-checkbox" for="check-all-{{id}}">
                    <input type="checkbox"
                           class="checkbox"
                           (change)="selectAllItem()"
                           value="-1"
                           id="check-all-{{id}}"
                           [(ngModel)]="allSelected"
                    >
                    <span></span>
                    <div class="ty-body">
                        {{ 'ALL' | translate}}
                    </div>
                </label>
            </li>
            <li *ngFor="let item of listItems">
                <label class="a-checkbox" for="check-{{item.key}}-{{id}}">
                    <input type="checkbox"
                           class="checkbox"
                           (change)="selectItem(item)"
                           value="{{item.key}}"
                           id="check-{{item.key}}-{{id}}"
                           [(ngModel)]="item.selected"
                    >
                    <span></span>
                    <div class="ty-body" style="white-space: nowrap;">
                        {{item.value}}
                    </div>
                </label>
            </li>
        </ul>
    </div>
</div>
