.a-input {
  ul {
    &.list-inline {
      width: 100%;
      padding: 1.1rem;
      font-size: 1.6rem;
      background: transparent;
      border: 0;
      outline: none;
      letter-spacing: .2px;
    }
  }
}

.list-container {
  padding: 1.1rem;
  background: #ffffff;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.03);
  z-index: 10;
}

span {
  &.badge {
    &.badge-pill {
      &.placeholder {
        font-size: 1.6rem;
        letter-spacing: .2px;
        color: #999;
        padding: 1px 0;
      }
    }
  }
}

.list-item-select {
  font-size: 1.4rem;
  line-height: 22.4px;
  color: #999;
}