
  <div class="m-filter-container__wrapper">
    <div class="m-filter-container__col">
      <div class="m-filter-container__child">
        <div class="a-input  a-input--text">
          <div class="a-input__label">
            {{firstLabel | translate}}
          </div>
          <input type="text" [(ngModel)]="firstTextValue" maxlength="60" placeholder="{{firstLabel | translate}}" (change)="firstValue.emit(firstTextValue)">
        </div>
      </div>
      <div class="m-filter-container__child" *ngIf="!!secondLabel">
        <div class="a-input  a-input--text">
          <div class="a-input__label">
            {{secondLabel| translate}}
          </div>
          <input type="text" [(ngModel)]="secondTextValue" maxlength="60" placeholder="{{secondLabel | translate}}" (change)="firstValue.emit(secondTextValue)">
        </div>
      </div>
    </div>
  </div>
