<!--<div class="l-main-wrapper  l-margin-top&#45;&#45;normal">
  <div class="a-info-auto">
    <div>

      <span class="a-info-auto__data-1">CLASSE A</span>

    </div>

  </div>

</div>-->

<div class="l-main-wrapper  l-margin-top--normal">
    <div class="ty-primary">
        {{ 'SELECT_A_VERSION' | translate}}
    </div>
</div>

<!--<app-filter-bar [list]=versionsList
                [placeholder]=filterPlaceholder
                [filterKeys]="filterKeys"
                [filterOption]="filterOption"
                [(returningList)]="printList" ></app-filter-bar>-->


<app-search-filter [placeholder]=filterPlaceholder [filterOption]="filterOption"
                   (keySearched)="setSearchParams($event)"></app-search-filter>

<!--
<div class="l-main-wrapper  l-spacing&#45;&#45;v-margin-small-auto">
  <div class="row  l-between">
    <div class="col-10 l-start">
      <div class="a-input  a-input&#45;&#45;text  ">
        <div class="a-input__label">

        </div>
        <input type="text" value="" placeholder="Cerca per proposta, contratto o soggetto.">
      </div>
    </div>
    <div class="col-2 l-end l-bottom">
      <a href="#" class="a-link">
 &lt;!&ndash;       <app-svg-icon [icon]="'filter'"></app-svg-icon>&ndash;&gt;
        Filtra per
      </a>
    </div>
  </div>
</div>
-->


  <div class="l-main-wrapper  l-margin-top--xsmall" *ngIf="!!printList && printList.length>0">
        <app-version-list [_widths]="_widths" [id]="'version-list-body'" [inputList]="printList"
                          (onScrollEndEvent)="getNextVersionList();"
                          (onClickEvent)="goNext($event);" (sortEvent)="onSort($event);">
        </app-version-list>

        <!--tabella scrollabile-->
        <!--<div malihu-scrollbar [scrollbarOptions]="opt" id="versionList" class="scrollable__element">-->
        <!--<table class="m-table-list  m-table-list&#45;&#45;row-hover">-->





            <!--<tbody class="m-table-list__data">-->
            <!--<tr class="m-table-list__row" *ngFor='let v of printList' (click)="goNext(v)">-->
                <!--<td [width]="_widths[0]" *ngIf="v" class="m-table-list__col  m-table-list__col&#45;&#45;label">-->
                    <!--<div class="h-ellipsis" title={{v.productCode}}>-->
                        <!--{{v.productCode | void}}-->
                    <!--</div>-->

                <!--</td>-->

                <!--<td [width]="_widths[1]" *ngIf="v" class="m-table-list__col  m-table-list__col&#45;&#45;label">-->

                    <!--<div class="h-ellipsis" title={{v.version}}>-->
                        <!--{{v.version | void}}-->
                    <!--</div>-->

                <!--</td>-->

                <!--<td [width]="_widths[2]" *ngIf="v" class="m-table-list__col  m-table-list__col&#45;&#45;label">-->

                    <!--<div class="h-ellipsis" title={{v.fuel}}>-->
                        <!--{{v.fuel | void}}-->
                    <!--</div>-->

                <!--</td>-->

                <!--<td [width]="_widths[3]" *ngIf="v" class="m-table-list__col  m-table-list__col&#45;&#45;label">-->

                    <!--<div class="h-ellipsis" title={{v.catalog}}>-->
                        <!--{{v.catalog | void}}-->
                    <!--</div>-->

                <!--</td>-->

                <!--<td [width]="_widths[4]" *ngIf="v" class="m-table-list__col  m-table-list__col&#45;&#45;label">-->

                    <!--<div class="h-ellipsis" title={{v.price}}>-->
                        <!--{{v.price | currency: 'EUR' | void}}-->
                    <!--</div>-->

                <!--</td>-->

            <!--</tr>-->

            <!--</tbody>-->

        <!--</table>-->
    <!--</div>-->
  </div>
  <app-empty-list [emptyList]="!!printList && printList.length==0"></app-empty-list>

<!--<app-infinite-scroll (scrollEvent)="getNextVersionList()" [id]="test"></app-infinite-scroll>-->

<!--
<app-infinite-scroll [id]="'mbz-components-scroll__id'" [wrapperHeight]="'550px'" (scrollEvent)="getNextVersionList()">
    <div class="l-main-wrapper  l-margin-top&#45;&#45;xsmall">
      <table class="m-table-list  m-table-list&#45;&#45;row-hover">

        <thead class="m-table-list__header">
        <tr class="m-table-list__row">
          <td class="m-table-list__col  m-table-list__col&#45;&#45;label">
            {{ 'PRODUCT_CODE' | translate }}
          </td>
          <td class="m-table-list__col  m-table-list__col&#45;&#45;label">
            {{ 'VERSION' | translate }}
          </td>
          <td class="m-table-list__col  m-table-list__col&#45;&#45;label">
            {{ 'FUEL' | translate }}
          </td>
          <td class="m-table-list__col  m-table-list__col&#45;&#45;label">
            {{ 'CATALOG' | translate }}
          </td>
          <td class="m-table-list__col  m-table-list__col&#45;&#45;label">
            {{ 'TEXABLE_PRICE' | translate }}
          </td>
        </tr>
        </thead>


        <tbody class="m-table-list__data"  >
        <tr class="m-table-list__row" *ngFor='let v of printList' (click)="goNext(v)" >
          <td *ngIf="v" class="m-table-list__col  m-table-list__col&#45;&#45;label">
            <div class="h-ellipsis" title={{v.productCode}}>
              {{v.productCode | void}}
            </div>

          </td>

          <td *ngIf="v" class="m-table-list__col  m-table-list__col&#45;&#45;label">

            <div class="h-ellipsis" title={{v.version}}>
              {{v.version | void}}
            </div>

          </td>

          <td *ngIf="v" class="m-table-list__col  m-table-list__col&#45;&#45;label">

            <div class="h-ellipsis" title={{v.fuel}}>
              {{v.fuel | void}}
            </div>

          </td>

          <td *ngIf="v" class="m-table-list__col  m-table-list__col&#45;&#45;label">

            <div class="h-ellipsis" title={{v.catalog}}>
              {{v.catalog | void}}
            </div>

          </td>

          <td *ngIf="v" class="m-table-list__col  m-table-list__col&#45;&#45;label">

            <div class="h-ellipsis" title={{v.price}}>
              {{v.price | currency: 'EUR' | void}}
            </div>

          </td>

        </tr>

        </tbody>

      </table>
    </div>
</app-infinite-scroll>
-->
<!--

<div class="l-main-wrapper  l-margin-top&#45;&#45;normal l-main-wrapper  l-margin-top&#45;&#45;normal">
  <div class="m-footer-controls">

    <div class="m-footer-controls__child">

      <div class="a-button  a-button&#45;&#45;transparent" (click)="goPrev()" >
        {{ 'BACK' | translate }}
      </div>

    </div>

  </div>
</div>-->
