<!--
<br>
<br>
<br>
<div class="l-main-wrapper  l-margin-top--normal">
    <div class="m-step-line">

        <div class="m-step-line__child  m-step-line__child--done">
            Prodotto
        </div>

        <div class="m-step-line__child  m-step-line__child--done">
            Dati Commerciali
        </div>

        <div class="m-step-line__child  m-step-line__child--active">
            Piano finanziario
        </div>

        <div class="m-step-line__child  m-step-line__child--inactive">
            Anagrafica
        </div>

        <div class="m-step-line__child  m-step-line__child--inactive">
            Istruttoria
        </div>

        <div class="m-step-line__child  m-step-line__child--inactive">
            Contratto
        </div>

        <div class="m-step-line__child  m-step-line__child--inactive">
            Finalizzazione
        </div>

    </div>
</div>

<br>
<br>
<br>
<br>
<br>
<div class="l-main-wrapper  l-margin-top--normal">
    <div class="ty-h2">
        Seleziona un modello.
    </div>
</div>

<br>
<br>
<br>
<br>

<div class="l-main-wrapper  l-margin-top--normal">
    <div class="m-underline-nav">

        <a href="#" class="m-underline-nav__child  m-underline-nav__child--active">
            Vetture
        </a>

        <a href="#" class="m-underline-nav__child  ">
            Van
        </a>

        <a href="#" class="m-underline-nav__child  ">
            Truck
        </a>

        <a href="#" class="m-underline-nav__child  ">
            Smart
        </a>

        <a href="#" class="m-underline-nav__child  ">
            Altro
        </a>

    </div>
</div>

<br>
<br>

<div class="l-main-wrapper  l-margin-top--small">
    <div class="row">

        <div class="col-3">
            <div class="m-card-model">
                <div class="m-card-model__head">
                    <strong>
                        Classe A
                    </strong>
                    <a href="#">
                        Stampa promozione
                    </a>
                </div>
                <div class="m-card-model__img">
                    <img src="/assets/images/car.png" alt="">
                </div>
            </div>
        </div>

        <div class="col-3">
            <div class="m-card-model">
                <div class="m-card-model__head">
                    <strong>
                        Classe A
                    </strong>
                    <a href="#">
                        Stampa promozione
                    </a>
                </div>
                <div class="m-card-model__img">
                    <img src="/assets/images/car.png" alt="">
                </div>
            </div>
        </div>

        <div class="col-3">
            <div class="m-card-model">
                <div class="m-card-model__head">
                    <strong>
                        Classe A
                    </strong>
                    <a href="#">
                        Stampa promozione
                    </a>
                </div>
                <div class="m-card-model__img">
                    <img src="/assets/images/car.png" alt="">
                </div>
            </div>
        </div>

        <div class="col-3">
            <div class="m-card-model">
                <div class="m-card-model__head">
                    <strong>
                        Classe A
                    </strong>
                    <a href="#">
                        Stampa promozione
                    </a>
                </div>
                <div class="m-card-model__img">
                    <img src="/assets/images/car.png" alt="">
                </div>
            </div>
        </div>

        <div class="col-3">
            <div class="m-card-model">
                <div class="m-card-model__head">
                    <strong>
                        Classe A
                    </strong>
                    <a href="#">
                        Stampa promozione
                    </a>
                </div>
                <div class="m-card-model__img">
                    <img src="/assets/images/car.png" alt="">
                </div>
            </div>
        </div>

        <div class="col-3">
            <div class="m-card-model">
                <div class="m-card-model__head">
                    <strong>
                        Classe A
                    </strong>
                    <a href="#">
                        Stampa promozione
                    </a>
                </div>
                <div class="m-card-model__img">
                    <img src="/assets/images/car.png" alt="">
                </div>
            </div>
        </div>

        <div class="col-3">
            <div class="m-card-model">
                <div class="m-card-model__head">
                    <strong>
                        Classe A
                    </strong>
                    <a href="#">
                        Stampa promozione
                    </a>
                </div>
                <div class="m-card-model__img">
                    <img src="/assets/images/car.png" alt="">
                </div>
            </div>
        </div>

        <div class="col-3">
            <div class="m-card-model">
                <div class="m-card-model__head">
                    <strong>
                        Classe A
                    </strong>
                    <a href="#">
                        Stampa promozione
                    </a>
                </div>
                <div class="m-card-model__img">
                    <img src="/assets/images/car.png" alt="">
                </div>
            </div>
        </div>

    </div>
</div>
<br>
<div class="l-main-wrapper  l-margin-top--normal">
    <div class="m-footer-controls">

        <div class="m-footer-controls__child">

            <div class="a-button  a-button--transparent">
                Esci
            </div>

        </div>

    </div>
</div>
-->


<!-- <div class="l-main-wrapper  l-margin-top--normal">
  <div class="a-info-auto">
      <div>

          <span class="a-info-auto__data-1">{{ 'A_CLASS' | translate }}</span>

      </div>

  </div>

</div> -->

<div class="l-main-wrapper  l-margin-top--normal">
  <div class="ty-primary">
    {{ 'SELECT_MODEL' | translate }}
  </div>
</div>

<div class="l-main-wrapper  l-margin-top--normal">
  <div class="m-underline-nav" *ngIf="hideTabs()">

    <a class="m-underline-nav__child" *ngIf="completeModelsList.Vetture.length>0" (click)="setNavClicked(modelType.car)"
    [ngClass]="{'m-underline-nav__child--active' : selectedType == modelType.car}">
      {{ 'CARS' | translate }}
    </a>

    <a class="m-underline-nav__child" *ngIf="completeModelsList.Van.length>0" (click)="setNavClicked(modelType.van)"
    [ngClass]="{'m-underline-nav__child--active' : selectedType == modelType.van}">
      {{ 'VAN' | translate }}
    </a>

    <a class="m-underline-nav__child" *ngIf="completeModelsList.Truck.length>0" (click)="setNavClicked(modelType.truck)"
    [ngClass]="{'m-underline-nav__child--active' : selectedType == modelType.truck}">
      {{ 'TRUCK' | translate}}
    </a>

    <a class="m-underline-nav__child" *ngIf="completeModelsList.Smart.length>0" (click)="setNavClicked(modelType.smart)"
    [ngClass]="{'m-underline-nav__child--active' : selectedType == modelType.smart}">
      {{ 'SMART' | translate }}
    </a>

    <a class="m-underline-nav__child" *ngIf="completeModelsList.Altri.length>0" (click)="setNavClicked(modelType.other)"
    [ngClass]="{'m-underline-nav__child--active' : selectedType == modelType.other}">
      {{ 'OTHER' | translate}}
    </a>

  </div>
</div>

<div class="l-main-wrapper  l-margin-top--small" *ngIf="!showEmpty2View(selectedType)">
  <div class="row">
    <div class="col-3" *ngFor="let model of modelsList">
      <div class="m-card-model link" (mouseover)="model.hovered = true" (click)="selectModel(model)"
      (mouseleave)="model.hovered = false" [ngClass]="{'m-card-model--selected' : model.hovered}">
        <div class="m-card-model__head">
          <strong>
            {{ model.assetTypeDesc}}
          </strong>
          <a href="{{model.linkPromotion}}" [hidden]="!model.linkPromotion">
            {{ 'PRINT_PROMOTION' | translate }}
          </a>
        </div>
        <div class="m-card-model__img">
          <img src="{{getImgPathWithBaseUrl(model.imagePath)}}" alt="" (error)="showPlaceholderImg($event, model)">
        </div>
      </div>
    </div>
  </div>
</div>

<app-empty-list [emptyList]="showEmpty2View(selectedType)"></app-empty-list>
<!--
<div class="l-main-wrapper  l-margin-top&#45;&#45;small" [hidden]="selectedType != 2">
    Lista Van
</div>
<div class="l-main-wrapper  l-margin-top&#45;&#45;small" [hidden]="selectedType != 3">
    Lista Truck
</div>
<div class="l-main-wrapper  l-margin-top&#45;&#45;small" [hidden]="selectedType != 4">
    Lista Smart
</div>
<div class="l-main-wrapper  l-margin-top&#45;&#45;small" [hidden]="selectedType != 5">
    Lista altro
</div>-->
<!--

<div class="l-main-wrapper  l-margin-top&#45;&#45;normal">
  <div class="m-footer-controls">

    <div class="m-footer-controls__child">

      <div class="a-button  a-button&#45;&#45;transparent" (click)="goPrev()">
        {{ 'GO_OUT' | translate }}
      </div>

    </div>

  </div>
</div>
-->
