<div id="dynamic-table-scrollable" class="mCustomScrollbar">
    <div class="modal-header">
        {{'PAYMENT_DETAIL'|translate}} {{paymentMonth.month|translate}} {{paymentMonth.year}}
    </div>
    <form [formGroup]="dataForm">
        <div class="modal-body row pt-2 p-5">
            <div class="col-3 text-center pr-5">
            </div>
            <div class="col-6 pf-5">
                <app-currency-input [label]="'ASSET'"
                                    formControlName="asset"  #pdAsset>
                </app-currency-input>
            </div>
            <div class="col-3 text-center pr-5">
            </div>
            <!--
            <div class="col-6 text-center pr-5">
                    <app-currency-input [label]="'SERVICES'"
                                        [inputCss]="'text-center'"
                                        [labelCss]="'a-input__label a-digit-box defSize'"
                                        [containerCss]="'a-input a-input&#45;&#45;text scaledToView'"
                                        [containerId]="'pd-ci-services'"
                                        formControlName="service" id="pd-services">
                    </app-currency-input>
            </div>
-->
        </div>
        <div class="l-middle row-details-title-underline" style="margin-bottom: 1rem">
            <div class="m-table-list__row">
                <table style="width: 100%">
                    <tbody>
                    <tr>
                        <td style="align-content: center">
                            <div class="m-accordion-row__child-title" style="text-align: center">{{ 'SERVICES' | translate }} {{ 'INSURANCE' | translate }}</div>
                        </td>
                        <td style="align-content: center">
                            <div class="m-accordion-row__child-title" style="text-align: center"> {{ 'SERVICES_OF' | translate }}{{ 'ASSISTANCE_AGREEMENT' | translate }}</div>
                        </td>
                        <td style="align-content: center">
                            <div class="m-accordion-row__child-title" style="text-align: center">{{"MANAGEMENT_FEES" | translate}}</div>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: center">
                            <span style="font-size: 1.7rem"> {{insuranceAmmount|currency:'EUR'|currencyFormatter}}</span>
                        </td>
                        <td style="text-align: center">
                            <span style="font-size: 1.7rem"> {{assitanceAmmount|currency:'EUR'|currencyFormatter}}</span>
                        </td>
                        <td style="text-align: center">
                            <span style="font-size: 1.7rem"> {{managmentFees|currency:'EUR'|currencyFormatter}}</span>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>
            <!-- <div class=" m-table-list__row col-12 ">
                 <div class="row l-margin-top&#45;&#45;small">
                     <div class=" col-4">
                         <span class="m-accordion-row__child-title">{{ 'SERVICES' | translate }}{{ 'INSURANCE' | translate }}</span>
                         <span style="font-size: 1.7rem">: {{insuranceAmmount|currency:'EUR'|currencyFormatter}}</span>
                     </div>
                     <div class=" col-4">
                         <span class="m-accordion-row__child-title"> {{ 'SERVICES_OF' | translate }}{{ 'ASSISTANCE_AGREEMENT' | translate }}</span>
                         <span style="font-size: 1.7rem">: {{assitanceAmmount|currency:'EUR'|currencyFormatter}}</span>
                     </div>
                     <div class="col-4">
                         <span class="m-accordion-row__child-title">{{"MANAGEMENT_FEES" | translate}}</span>
                         <span style="font-size: 1.7rem">: {{assitanceAmmount|currency:'EUR'|currencyFormatter}}</span>
                     </div>
                 </div>
             </div>-->
        </div>


        <!--        <div class="modal-body row pt-2 p-5">
                    <div class="col-4 text-center pr-5">
                        <app-currency-input [label]="'SERVICES'"
                                            [inputCss]="'text-center'"
                                            [labelCss]="'a-input__label a-digit-box defSize'"
                                            [containerCss]="'a-input a-input&#45;&#45;text scaledToView'"
                                            [containerId]="'pd-ci-services'"
                                            formControlName="service" id="pd-services">
                        </app-currency-input>
                    </div>
                    <div class="col-4 text-center pf-5">
                        <app-currency-input [label]="'ASSET'"
                                            [inputCss]="'text-center'"
                                            [labelCss]="'a-input__label a-digit-box defSize'"
                                            [containerCss]="'a-input a-input&#45;&#45;text scaledToView'"
                                            [containerId]="'pd-ci-asset'"
                                            formControlName="assistance" id="pdAsset1" #pdAsset>
                        </app-currency-input>
                    </div>
                    <div class="col-4 text-center pr-5">
                        <app-currency-input [label]="'SERVICES'"
                                            [inputCss]="'text-center'"
                                            [labelCss]="'a-input__label a-digit-box defSize'"
                                            [containerCss]="'a-input a-input&#45;&#45;text scaledToView'"
                                            [containerId]="'pd-ci-services'"
                                            formControlName="managementFees" id="pd-services1">
                        </app-currency-input>
                    </div>
                </div>-->
    </form>
    <!-- bottone per modale -->
    <div class="modal-footer">
        <button class="a-button" (click)="closeModal()"> <span style="color:black">{{"CLOSE" | translate}}</span> </button>
        <button class="a-button a-button--azure" (click)="save()"> <span style="color:white">{{"SAVE" | translate}}</span>
        </button>
    </div>
</div>


