<app-consultation-header></app-consultation-header>


<div class="l-main-wrapper  l-spacing--v-margin-small-auto">
    <div class="row" id="viewContainers">
        <div class="col-6 l-padding-right--small" id="leftView">
            <app-header-tabs [headerKey]="'left'" (tabLeftKeyChange)="onTabLeftKeyChange($event)"
                             (headerLeftChange)="onHeaderLeftChange($event)"></app-header-tabs>
            <app-consultation-left-section [(selectedTabKey)]="leftTab"
                                           [allLeftTabs]="leftHeaderTabs"
                                           [isEditing]="isEditing"
                                           [subjectsList]="consultationSubjects">
            </app-consultation-left-section>

        </div>
        <div class="col-6" id="rightView">
            <app-header-tabs [headerKey]="'right'" (tabRightKeyChange)="onTabRightKeyChange($event)"
                             (headerRightChange)="onHeaderRightChange($event)"></app-header-tabs>
            <app-consultation-right-section [selectedTabKey]="rightTab" [allRightTabs]="rightHeaderTabs"></app-consultation-right-section>
        </div>
    </div>
</div>
<div class="l-main-wrapper l-spacing--v-margin-normal-auto m-accordion-row__controls">
    <div class="m-footer-controls">
        <div class="m-footer-controls__child">
            <div class="a-button">
                {{'RESET' | translate}}
            </div>
            <div class="a-button">
                {{'GO_OUT' | translate}}
            </div>
            <div class="a-button  a-button--transparent">
                {{'DENY' | translate}}
            </div>
            <div class="a-button  a-button--transparent">
                {{'CANCEL' | translate}}
            </div>
            <div class="a-button  a-button--azure">
                {{'CHECK_DOCUMENTS' | translate}}
            </div>
        </div>
    </div>
</div>
