<!--<app-filter-bar [list]=proposalsList
                [placeholder]=filterPlaceholder
                [filterKeys]="filterKeys"
                [filterOption]="filterOption"
                [(returningList)]="printList" ></app-filter-bar>-->



<!--<a (click)="testNotification()" style="cursor: pointer"> TEST </a>-->



<app-proposal-filter-bar *ngIf="isAuthorizedToSearch()" [(versionFilter)]="filterParams" 
    (doResearch)="resetPagination(); getProposalsList();" (tabKeyChange)="onTabKeyChange($event)">
</app-proposal-filter-bar>

<!--Spazio per tab selezionata, "Tutte" di default, "WIP" per le tab non ancora sviluppate-->
<ng-container [ngSwitch]="activeTab">
    <!--ALL-->
    <ng-container *ngSwitchCase="ListTabs.ALL">
        <app-accordion-list *ngIf="printList.length>0"
                            [proposalsList]=printList [id]="'proposals-accordion-list'"
                            [wrapperHeight]="'400px'" [__widths]=__widths
                            (scrollEvent)="getNextProposalsList()" (sortEvent)="onSort($event)">
        </app-accordion-list>
        <!--componente riempitivo per lista vuota-->
        <app-empty-list [emptyList]="printList.length==0"></app-empty-list>
    </ng-container>
    <!--MBCPOS-->
    <app-tab-mbcpos *ngSwitchCase="ListTabs.MBCPOS"></app-tab-mbcpos>
    <!---->
    <app-tab-vdz *ngSwitchCase="ListTabs.VDZ"></app-tab-vdz>


    <app-work-in-progress *ngIf="showWIP" style="margin-top: 5%"></app-work-in-progress>

</ng-container>
<!--Fine spazio per tab selezionata-->


<!-- bottone newProposals -->
<!--
<div class="col-1">
    <button class="a-button&#45;&#45;azure" style="height: 40px;width: 40px; border-radius:50%; border-width: 0"
        [ngStyle]="{'position': 'fixed', 'top': newProposalButtonPosition, 'right': spaceFromBar}"
        (click)="goToNewProposal()">
        <span style="font-size: 20px; font-weight: bold; color: white"> + </span>
    </button>
</div>
-->

<!--<button class="btn" (click)="goToTest()"> Test </button>-->
<!--
<div class="l-main-wrapper  l-margin-top&#45;&#45;normal">
    <div class="m-footer-controls">

        <div class="m-footer-controls__child">

            <div class="a-button  a-button&#45;&#45;transparent">
                {{ 'GO_OUT'| translate }}
            </div>

        </div>

    </div>
</div>-->