<div class="a-service-card-small mb-4" id="{{id}}"
     [ngClass]="{'a-service-card--active' : id==elemIdActive}"
     (click)="loadInsuranceInput()">
    <div class="a-service-card-small__name" [ngClass]="{'text-azure' : isSelected && id!=elemIdActive}">
        {{insuranceElem?.supplyElementDesc | titlecase | void}}
    </div>



    <div class="a-service-card-small__price" >
        <div class="" *ngIf="insuranceElem?.flagMandatory == true ">
            MUST
        </div>
    </div>
</div>

