<div class="row  l-margin-top--small">
    <div class="col-12">
        <div class="m-accordion-trigger" [ngClass]="{'m-accordion-trigger--active': showContent}">
            <div class="m-accordion-trigger__label">
                {{'EXPOSURES_OUTSTANDINGS' | translate}}
            </div>
            <div class="m-accordion-trigger__icons" (click)="showContent = !showContent">
                <app-svg-icon [icon]="'arrow-down'"></app-svg-icon>
            </div>
        </div>
    </div>
</div>

<div class="l-white-container" [hidden]="!showContent">
    <div class="l-main-wrapper">
        <div class="row">
            <div class="col-10"></div>
            <div class="col-2 l-end">
                <a class="a-link color-label_active">
                    {{'DETAILS' | translate}}
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="a-input  a-input--text  ">
                    <div class="a-input__label">
                        Esposizione Merfina
                    </div>
                    <input type="text" value="0,0 €" [disabled]="!isEditing">
                </div>
            </div>
            <div class="col-6">
                <div class="a-input  a-input--text  ">
                    <div class="a-input__label">
                        Esposizione NLT
                    </div>
                    <input type="text" value="0,0 €" [disabled]="!isEditing">
                </div>
            </div>
        </div>

        <div class="row l-margin-top--small">
            <div class="col-6">
                <div class="a-input  a-input--text  ">
                    <div class="a-input__label">
                        Esposizione Merfina richiedente
                    </div>
                    <input type="text" value="0,0 €" [disabled]="!isEditing">
                </div>
            </div>
            <div class="col-6">
                <div class="a-input  a-input--text  ">
                    <div class="a-input__label">
                        Esposizione NLT richiedente
                    </div>
                    <input type="text" value="0,0 €" [disabled]="!isEditing">
                </div>
            </div>
        </div>

        <div class="row l-margin-top--small">
            <div class="col-6">
                <div class="a-input  a-input--text  ">
                    <div class="a-input__label">
                        Insoluto Merfina
                    </div>
                    <input type="text" value="0,0 €" [disabled]="!isEditing">
                </div>
            </div>
            <div class="col-6">
                <div class="a-input  a-input--text  ">
                    <div class="a-input__label">
                        Insoluto NLT
                    </div>
                    <input type="text" value="0,0 €" [disabled]="!isEditing">
                </div>
            </div>
        </div>

        <div class="row l-margin-top--small">
            <div class="col-6">
                <div class="a-input  a-input--text  ">
                    <div class="a-input__label">
                        Insoluto Merfina richiedente
                    </div>
                    <input type="text" value="0,0 €" [disabled]="!isEditing">
                </div>
            </div>

            <div class="col-6">
                <div class="a-input  a-input--text  ">
                    <div class="a-input__label">
                        Insoluto NLT richiedente
                    </div>
                    <input type="text" value="0,0 €" [disabled]="!isEditing">
                </div>
            </div>
        </div>

        <div class="row l-margin-top--small">
            <div class="col-12">
                <div class="a-input  a-input--text  ">
                    <div class="a-input__label">
                        Esposizione consolidata totale
                    </div>
                    <input type="text" value=" 50.462,67 €" [disabled]="!isEditing">
                </div>
            </div>
        </div>

        <div class="row l-margin-top--small">
            <div class="col-6">
                <div class="a-input  a-input--text  ">
                    <div class="a-input__label">
                        {{'SELLER' | translate }}
                    </div>
                    <input type="text" value="ND" [disabled]="!isEditing">
                </div>
            </div>

            <div class="col-6">
                <div class="a-input  a-input--text  ">
                    <div class="a-input__label">
                        {{'DISCOUNT' | translate}}
                    </div>
                    <input type="text" value="ND" [disabled]="!isEditing">
                </div>
            </div>

        </div>
    </div>
</div>  