<div class="a-input  a-input--text">
    <div class="a-input__label">
        {{ label | translate }}
    </div>
    <input #target type="text" style="text-align: right" class="input-currency" placeholder="0 %" maxlength="7" [(ngModel)]="stringValue"
           (blur)="updateOutput()" currencyInput>
</div>

