// per le tabelle ordinabili con icona "arrow-down"  
.sorting-arrow{
    height: 17px;
	width: 17px;
	&--up {
		transform: rotate(180deg);
    }
    vertical-align: middle;
}

// nasconde l'icona
.hidden {
    display: none;
    overflow: hidden;
}

//dimensioni
.icon {
  &XSmall {
    height: 15px;
    width: 15px;
  }
  &Small {
    height: 20px;
    width: 20px;
  }
  &Medium {
    height: 25px;
    width: 25px;
  }
  &Large {
    height: 40px;
    width: 40px;
  }
}



//dimensioni dell'icona per creare una nuova proposta


.svg-rotated{
  svg{
    transform: rotate(180deg);
  }
}

.iconInfo {
  height: 9px;
  width: 9px;
  fill: #00adef;
  //svg{
    //vertical-align: middle;
  //}
}

.impersonate_user {
  fill: #F31616!important;
  width: 3rem;
  height: 3rem;
  margin-left: 2rem;
}

.stop {
  fill: #F31616!important;
}

.grey {
  fill: grey!important;
}

.iconPremium {
  height: 3rem;
  width: 3rem;
  fill: #00adef;
}