<form (ngSubmit)="search()">
    <div class="l-main-wrapper  l-spacing--v-margin-xs">
        <div class="row  l-between">
            <div class="col-9">
                <div class="a-input  a-input--search  ">
                    <div class="a-input__label">

                    </div>
                    <input type="text" [(ngModel)]="searchObj.field" [ngModelOptions]="{standalone: true}"
                           placeholder={{placeholder}}>
                    <div class="a-input__icon">
                        <app-svg-icon [icon]="'search'"></app-svg-icon>
                    </div>
                </div>
            </div>

            <div class="col-3 l-end l-bottom">
                <div class="row ty-body">
                    {{ 'FILTER_BY' | translate}}:
                </div>
                <div class="row">
                    <label class="l-start a-radio">
                        <input type="radio" [checked]="selectedId === 0" (click)="selectField(0)">
                        <span></span>
                        {{filterOption.possibleChoices[0].label}}
                    </label>
<!--
                    &nbsp;
                    &nbsp;
                    &nbsp;
-->
                    <label class="l-end a-radio" style="margin-left: 10px">
                        <input type="radio" [checked]="selectedId === 1" (click)="selectField(1)">
                        <span></span>
                        {{filterOption.possibleChoices[1].label}}
                    </label>
                </div>

                <!--<label class="a-radio">
                    <div class="m-filter-container__child col-6" *ngFor="let pc of filterOption.possibleChoices">
                        &lt;!&ndash;                        <input type="radio" name="radiogroup" [(ngModel)]="pc.selected">&ndash;&gt;
                        <input type="radio"  id={{pc.value}}
                               [checked]="pc.selected"
                               (click)="selectField(pc.value)">

                        &lt;!&ndash;[value]="pc.value"&ndash;&gt;

                        <span></span>
                        <div class="ty-body">
                            {{pc.label}}
                        </div>
                    </div>
                </label>-->
                <!--<label class="a-radio">
                    <input type="radio" ng-model="field" value="no">
                    <span></span>
                    No
                </label>-->
                <!--
                <input type="radio" ng-model="myVar" value="cars">Cars-->
                <!--<label class="a-radio">
                    <div class="m-filter-container__child col-6" *ngFor="let pc of filterOption.possibleChoices">
                        <label class="a-checkbox" >
                            <input type="radio" name="selected" [(ngModel)]="pc.selected" (click)="selectField(pc.value)">
                            <span></span>
                            <div class="ty-body">
                                {{pc.label}}
                            </div>
                        </label>
                    </div>
                </label>-->
                <!--
                                <label class="a-radio">
                                    <input type="radio" id="asdf" [ngModel]="!searchOnProductCode">
                                    <span></span>
                                    Versione
                                </label>
                -->


                <!--
                                <a (click)="show = !show " class="a-link">
                                    <app-svg-icon [icon]="'filter'"></app-svg-icon>
                                    Filtra per
                                </a>
                -->
            </div>
        </div>
    </div>
    <!-- QUESTO BOTTONE ANCHE SE NASCOSTO E' NECESSARIO PER IL FUNZIONAMENTO DELLA SUBMIT TRAMITE PULSANTE INVIO -->
    <button type="submit" style="display:none"></button>
</form>

<!--  BOX CON I POSSIBILI VALORI  -->
<!--
<div class="l-main-wrapper  l-spacing&#45;&#45;v-margin-xs" *ngIf="show">
    <div class="m-filter-container m-filter-container&#45;&#45;active">
        <div class="m-filter-container__wrapper">
            <div class="m-filter-container__child" *ngFor="let pc of filterOption.possibleChoices">
                <label class="a-checkbox" for={{pc.value}}>
                    <input type="checkbox" [(ngModel)]="pc.selected" id={{pc.value}}>
                    <span></span>
                    <div class="ty-body">
                        {{pc.label}}
                    </div>
                </label>
            </div>
        </div>
    </div>
</div>-->

<!--   FILTRI SELEZIONATI (BADGE)  -->
<!--
<div class="l-main-wrapper  l-spacing&#45;&#45;v-margin-xs  l-end" *ngIf=" !show && !!filterOption">
      <span *ngFor="let pc of filterOption.possibleChoices">
        <div class="a-tag" *ngIf=pc.selected>
          <span>
		    {{pc.label}}
          </span>
            <span (click)="pc.selected = false">
              <app-svg-icon [icon]="'close'"></app-svg-icon>
          </span>
        </div>
      </span>
</div>
-->
