<div class="row l-margin-top--small">
  <div class="col-12">
    <div class="m-accordion-trigger" [ngClass]="{'m-accordion-trigger--active': showContent}">
      <div class="m-accordion-trigger__label">
        Note
      </div>
      <div class="m-accordion-trigger__icons" (click)="showContent = !showContent">
        <div class="m-accordion-trigger__sublabel"></div>
        <app-svg-icon [icon]="'arrow-down'"></app-svg-icon>
      </div>
    </div>
    <div class="l-white-container"  [hidden]="!showContent" >

    </div>
  </div>
</div>

