.a-hp-card {
    display: block;
    padding-right: rem(24);
    position: relative;
    &--small {
        padding-right: 0;
        height: 100%;
    }
    &__wrapper {
        height: 100%;
        img {
            display: block;
            width: 100%;
        }
    }
    &__bg {
        background-size: cover;
        width: 100%;
        padding-bottom: percentage(310/464);
        .a-hp-card--small & {
            height: 100%;
            padding-bottom: 0;
        }
    }
    &__footer {
        position: absolute;
        bottom: 0;
        left: 0;
        top: initial;
        display: flex;
        align-items: baseline;
        padding: rem(24);
        svg {
            display: inline-block;
            height: rem(30);
            width: rem(25);
            fill: color(white);
            align-self: flex-end;
        }
    }
    &__text {
        position: absolute;
        top: 0;
        left: 0;
        padding: rem(24);
        color: color(white);
        font-family: DaimlerCAC-Regular;
        font-weight: 400;
        font-size: rem(26);
        line-height: rem(39);
        .a-hp-card__footer & {
            padding: rem(0);
            position: relative;
            top: initial;
            font-size: rem(26);
            line-height: rem(29);
            max-width: calc(100% - 18px);
        }
    }
}