<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img alt class="user-avatar" src="assets/images/logo.png" width="150px" />
            <h1>Mercedes BDWeb</h1>
            <form role="form">
                <div class="form-content">
                    <div class="form-group">
                        <input type="text" class="form-control input-underline input-lg" placeholder="{{ 'FULL_NAME' | translate }}">
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control input-underline input-lg" placeholder="{{ 'EMAIL' | translate }}">
                    </div>

                    <div class="form-group">
                        <input type="password" class="form-control input-underline input-lg" placeholder="{{ 'PASSWORD' | translate }}">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control input-underline input-lg" placeholder="{{ 'REPEAT_PASSWORD' | translate }}">
                    </div>
                </div>
                <a class="btn rounded-btn" [routerLink]="['/dashboard']">{{ 'REGISTER' | translate }}</a>&nbsp;
                <a class="btn rounded-btn" [routerLink]="['/login']">{{ 'LOG_IN' | translate }}</a>
            </form>
        </div>
    </div>
</div>
