<div class="row l-margin-top--small">
    <div class="col-12">
        <div class="m-accordion-trigger" [ngClass]="{'m-accordion-trigger--active': showContent}">
            <div class="m-accordion-trigger__label">
                {{'SUMMARY_DETAILS_RISK' | translate}}
            </div>
            <div class="m-accordion-trigger__icons" (click)="showContent = !showContent" >
                <app-svg-icon [icon]="'arrow-down'"></app-svg-icon>
            </div>
        </div>
    </div>
</div>

<div class="l-white-container" [hidden]="!showContent">
    <div class="l-main-wrapper">
        <div class="row l-margin-top--small">
            <div class="col-8 pl-0">
                <div class="a-input  a-input--text">
                    <div class="a-input__label">
                        {{'IDENTIFICATION' | translate}}
                    </div>
                    <input type="text" value="" [disabled]="true">
                </div>
            </div>
        </div>

        <div class="row l-margin-top--small">
            <div style="font-weight: bold">
                {{'SUMMARY_SINGLE_PHENOMEN' | translate}}
            </div>
        </div>


        <div class="row l-margin-top--small">
            <div class="col-4">
                <div class="a-input  a-input--text">
                    <div class="a-input__label">
                        {{'CAG_CODE' | translate}}
                    </div>
                    <input type="text" value="" [disabled]="true">
                </div>
            </div>
            <div class="col-8">
                <div class="a-input  a-input--text">
                    <div class="a-input__label">
                        {{'PHENOMEN' | translate}}
                    </div>
                    <input type="text" value="" [disabled]="true">
                </div>
            </div>
        </div>
        <div class="row l-margin-top--small">
            <div class="col-4">
                <div class="a-input  a-input--text">
                    <div class="a-input__label">
                        {{'ORIGINAL_DURATION' | translate}}
                    </div>
                    <input type="text" value="" [disabled]="true">
                </div>
            </div>
            <div class="col-8">
                <div class="a-input  a-input--text">
                    <div class="a-input__label">
                        {{'RESIDUE_DURATION' | translate}}
                    </div>
                    <input type="text" value="" [disabled]="true">
                </div>
            </div>
        </div>
        <div class="row l-margin-top--small">
            <div class="col-4">
                <div class="a-input  a-input--text">
                    <div class="a-input__label">
                        {{'CONNECTED_CODE' | translate}}
                    </div>
                    <input type="text" value="" [disabled]="true">
                </div>
            </div>
            <div class="col-8">
                <div class="a-input  a-input--text">
                    <div class="a-input__label">
                        {{'STATE' | translate}}
                    </div>
                    <input type="text" value="" [disabled]="true">
                </div>
            </div>
        </div>
        <div class="row l-margin-top--small">
            <div class="col-4">
                <div class="a-input  a-input--text">
                    <div class="a-input__label">
                        {{'IMPORT/EXPORT' | translate}}
                    </div>
                    <input type="text" value="" [disabled]="true">
                </div>
            </div>
            <div class="col-8">
                <div class="a-input  a-input--text">
                    <div class="a-input__label">
                        {{'UNIFORM' | translate}}
                    </div>
                    <input type="text" value="" [disabled]="true">
                </div>
            </div>
        </div>
        <div class="row l-margin-top--small">
            <div class="col-12 pl-0">
                <div class="a-input  a-input--text">
                    <div class="a-input__label">
                        {{'ACTIVITY_TYPE' | translate}}
                    </div>
                    <input type="text" value="" [disabled]="true">
                </div>
            </div>
        </div>
        <div class="row l-margin-top--small">
            <div class="col-12 pl-0">
                <div class="a-input  a-input--text">
                    <div class="a-input__label">
                        {{'WARRANTY_TYPE' | translate}}
                    </div>
                    <input type="text" value="" [disabled]="true">
                </div>
            </div>
        </div>
        <div class="row l-margin-top--small">
            <div class="col-12 pl-0">
                <div class="a-input  a-input--text">
                    <div class="a-input__label">
                        {{'ROLE' | translate}}
                    </div>
                    <input type="text" value="" [disabled]="true">
                </div>
            </div>
        </div>
    </div>
</div>
