.a-radio {
    display: inline-flex;
    position: relative;
    line-height: rem(20);
    font-size: rem(12);
    cursor: pointer;
    flex-direction: row-reverse;
    @extend .ff-DaimlerCS-Bold;
    input {
        display: none;
        appearance: none;
        &:checked {
            &~span {
                &:after {
                    transform: translate(-50%,-50%) scale(.6);
                    opacity: 1;
                }
            }
        }
    }
    span {
        position: relative;
        display: block;
        border: 1px solid #999;
        appearance: none;
        width: rem(22);
        height: rem(22);
        background: white;
        margin-left: rem(10);
        border-radius: 100%;
        &:after {
            content:"";
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            border-radius: 100%;
            background: color(azure);
            transform: translate(-50%,-50%) scale(.2);
            opacity: 0;
            transition: all .1s linear;
        }
    }
}