<div class="l-main-wrapper  l-margin-top--normal">
    <table class="m-table-list  m-table-list--row-hover">

        <thead class="m-table-list__header">
        <tr class="m-table-list__row">
            <td class="m-table-list__col  m-table-list__col--label">
                {{ 'CODE' | translate}}
            </td>
            <td class="m-table-list__col  m-table-list__col--label">
                {{ 'DESCRIPTION' | translate}}
            </td>
            <td class="m-table-list__col  m-table-list__col--label">
                {{ 'AMOUNT_IVA' | translate}}
            </td>
            <td class="m-table-list__col  m-table-list__col--label">
                {{ 'AMOUNT' | translate}}
            </td>
        </tr>
        </thead>

        <tbody class="m-table-list__data" *ngFor='let opt of optionalList'>
        <tr class="m-table-list__row" (click)="addOptional(opt)">
            <td class="m-table-list__col  m-table-list__col--label">
                <div class="h-ellipsis" title={{opt.code}}>
                    {{opt.code}}
                </div>
            </td>
            <td class="m-table-list__col  m-table-list__col--label">
                <div class="h-ellipsis" title={{opt.description}}>
                    {{opt.description}}
                </div>
            </td>
            <td class="m-table-list__col  m-table-list__col--label">
                <div class="h-ellipsis" title={{opt.price}}>
                    {{opt.price | currency:'EUR' | currencyFormatter }}
                </div>

            </td>
            <td class="m-table-list__col  m-table-list__col--label">
                <div class="h-ellipsis" title={{opt.priceWithIVA}} style="align: right">
                    {{opt.priceWithIVA | currency:'EUR' | currencyFormatter}}
                </div>

            </td>
        </tr>
        </tbody>

    </table>
</div>
