<div class="l-main-wrapper  l-margin-top--normal">
  <div class="m-accordion-trigger">
    <div class="m-accordion-trigger__label">
      Label
    </div>
    <svg class="icon icon--arrow-down">
      <use xlink:href="../../assets/icons.svg#arrow-down" />
    </svg>

  </div>
</div>

<div class="l-main-wrapper  l-margin-top--small">
  <div class="m-accordion-trigger m-accordion-trigger--active">
    <div class="m-accordion-trigger__label">
      Label
    </div>
    <div class="a-tag">
      <span>
        2
      </span>
    </div>
    <svg class="icon icon--arrow-down">
      <use xlink:href="../../assets/icons.svg#arrow-down" />
    </svg>

  </div>
</div>
<div class="l-main-wrapper">
  <div class="l-white-container">

    <div class="l-main-wrapper  l-margin-top--small">
      <div class="ty-body">
        {{ 'SELECTED_CAMPAIGN_SERVICES' | translate}}
      </div>
    </div>

    <div class="l-main-wrapper  l-margin-top--normal">
      <div class="row">
        <div class="col-4">
          <div class="a-service-card">
            <div class="a-service-card__name">
              <svg class="icon icon--file">
                <use xlink:href="../../assets/icons.svg#file" />
              </svg> feel care AXA
            </div>

            <div class="a-service-card__price">
              <svg class="icon icon--file">
                <use xlink:href="../../assets/icons.svg#file" />
              </svg>

            </div>
          </div>
          <div class="a-service-card  a-service-card--active">
            <div class="a-service-card__name">
              <svg class="icon icon--file">
                <use xlink:href="../../assets/icons.svg#file" />
              </svg> feel care AXA
            </div>

            <div class="a-service-card__price">
              <svg class="icon icon--alert">
                <use xlink:href="../../assets/icons.svg#alert" />
              </svg>

              <svg class="icon icon--file">
                <use xlink:href="../../assets/icons.svg#file" />
              </svg>

            </div>
          </div>
          <div class="a-service-card  a-service-card--close">
            <div class="a-service-card__name">
              feel care AXA
            </div>

            <div class="a-service-card__price">
              <span>
                120,00 €
              </span>
              <svg class="icon icon--file">
                <use xlink:href="../../assets/icons.svg#file" />
              </svg>

              <svg class="icon icon--close">
                <use xlink:href="../../assets/icons.svg#close" />
              </svg>

            </div>
          </div>
          <div class="a-service-card">
            <div class="a-service-card__name">
              <svg class="icon icon--file">
                <use xlink:href="../../assets/icons.svg#file" />
              </svg> feel care AXA
            </div>

            <div class="a-service-card__price">
              <svg class="icon icon--file">
                <use xlink:href="../../assets/icons.svg#file" />
              </svg>

            </div>
          </div>
          <div class="a-service-card">
            <div class="a-service-card__name">
              <svg class="icon icon--file">
                <use xlink:href="../../assets/icons.svg#file" />
              </svg> feel care AXA
            </div>

            <div class="a-service-card__price">
              <svg class="icon icon--file">
                <use xlink:href="../../assets/icons.svg#file" />
              </svg>

            </div>
          </div>
        </div>

        <div class="col-4">
          <div class="ty-body">
            {{ 'FIRE_AND_THEFT_INSURANCE' | translate }}
          </div>
          <div class="a-service-card-small">
            <div class="a-service-card-small__name">
              Premium Nord Est
            </div>

            <div class="a-service-card-small__price">
              150,00 - 170,00 €
            </div>
          </div>
          <div class="a-service-card-small">
            <div class="a-service-card-small__name">
              Premium Nord Est
            </div>

            <div class="a-service-card-small__price">
              150,00 - 170,00 €
            </div>
          </div>
          <div class="a-service-card-small">
            <div class="a-service-card-small__name">
              Premium Nord Est
            </div>

            <div class="a-service-card-small__price">
              150,00 - 170,00 €
            </div>
          </div>
          <div class="a-service-card-small">
            <div class="a-service-card-small__name">
              Premium Nord Est
            </div>

            <div class="a-service-card-small__price">
              150,00 - 170,00 €
            </div>
          </div>
          <div class="a-service-card-small  a-service-card-small--active">
            <div class="a-service-card-small__name">
              Premium Nord Est
            </div>

            <div class="a-service-card-small__price">
              <svg class="icon icon--alert">
                <use xlink:href="../../assets/icons.svg#alert" />
              </svg>

              <svg class="icon icon--close">
                <use xlink:href="../../assets/icons.svg#close" />
              </svg>

            </div>
          </div>
          <div class="a-service-card-small">
            <div class="a-service-card-small__name">
              Premium Nord Est
            </div>

            <div class="a-service-card-small__price">
              150,00 - 170,00 €
            </div>
          </div>
        </div>

        <div class="col-4">
          <div class="l-margin-top--small">
            <div class="a-input  a-input--select  ">
              <div class="a-input__label">
                Label
              </div>
              <select name="" id="">

                <option value="IVA 22% vendite"> IVA 22% vendite</option>

                <option value="IVA 10% vendite"> IVA 10% vendite</option>

              </select>

              <svg class="icon icon--arrow-down">
                <use xlink:href="../../assets/icons.svg#arrow-down" />
              </svg>

            </div>
          </div>
          <div class="l-margin-top--small">
            <div class="a-input  a-input--select  ">
              <div class="a-input__label">
                Label
              </div>
              <select name="" id="">

                <option value="IVA 22% vendite"> IVA 22% vendite</option>

                <option value="IVA 10% vendite"> IVA 10% vendite</option>

              </select>

              <svg class="icon icon--arrow-down">
                <use xlink:href="../../assets/icons.svg#arrow-down" />
              </svg>

            </div>
          </div>
          <div class="l-margin-top--small">
            <div class="a-input  a-input--select  ">
              <div class="a-input__label">
                Label
              </div>
              <select name="" id="">

                <option value="IVA 22% vendite"> IVA 22% vendite</option>

                <option value="IVA 10% vendite"> IVA 10% vendite</option>

              </select>

              <svg class="icon icon--arrow-down">
                <use xlink:href="../../assets/icons.svg#arrow-down" />
              </svg>

            </div>
          </div>

          <div class="l-margin-top--big">

            <label class="a-checkbox" for="field-id-8119">
              <input type="checkbox" id="field-id-8119">
              <span></span>

              <div class="ty-body">
                label
              </div>

            </label>
          </div>
          <div class="l-margin-top--small">

            <label class="a-checkbox" for="field-id-5606">
              <input type="checkbox" id="field-id-5606">
              <span></span>

              <div class="ty-body">
                label
              </div>

            </label>
          </div>
          <div class="l-margin-top--small">

            <label class="a-checkbox" for="field-id-4219">
              <input type="checkbox" id="field-id-4219">
              <span></span>

              <div class="ty-body">
                label
              </div>

            </label>
          </div>
        </div>
      </div>
    </div>

    <div class="l-main-wrapper  l-margin-top--normal">
      <div class="m-footer-controls">

        <div class="m-footer-controls__child">

        </div>

        <div class="m-footer-controls__child">

          <div class="a-button">
            Indietro
          </div>

          <div class="a-button  a-button--azure">
            Avanti
          </div>

        </div>

      </div>
    </div>
  </div>
</div>

<div class="l-main-wrapper  l-margin-top--normal">
  <div class="row">
    <div class="col-4">
      <div class="l-margin-top--small">
        <div class="a-input  a-input--select  ">
          <div class="a-input__label">
            Label
          </div>
          <select name="" id="">

            <option value="IVA 22% vendite"> IVA 22% vendite</option>

            <option value="IVA 10% vendite"> IVA 10% vendite</option>

          </select>

          <svg class="icon icon--arrow-down">
            <use xlink:href="../../assets/icons.svg#arrow-down" />
          </svg>

        </div>
      </div>
      <div class="l-margin-top--small">
        <div class="a-input  a-input--select  ">
          <div class="a-input__label">
            Label
          </div>
          <select name="" id="">

            <option value="IVA 22% vendite"> IVA 22% vendite</option>

            <option value="IVA 10% vendite"> IVA 10% vendite</option>

          </select>

          <svg class="icon icon--arrow-down">
            <use xlink:href="../../assets/icons.svg#arrow-down" />
          </svg>

        </div>
      </div>
      <div class="l-margin-top--small">
        <div class="a-input  a-input--select  ">
          <div class="a-input__label">
            Label
          </div>
          <select name="" id="">

            <option value="IVA 22% vendite"> IVA 22% vendite</option>

            <option value="IVA 10% vendite"> IVA 10% vendite</option>

          </select>

          <svg class="icon icon--arrow-down">
            <use xlink:href="../../assets/icons.svg#arrow-down" />
          </svg>

        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="l-margin-top--small">
        <div class="a-input  a-input--select  ">
          <div class="a-input__label">
            Label
          </div>
          <select name="" id="">

            <option value="IVA 22% vendite"> IVA 22% vendite</option>

            <option value="IVA 10% vendite"> IVA 10% vendite</option>

          </select>

          <svg class="icon icon--arrow-down">
            <use xlink:href="../../assets/icons.svg#arrow-down" />
          </svg>

        </div>
      </div>
      <div class="l-margin-top--small">
        <div class="a-input  a-input--select  ">
          <div class="a-input__label">
            Label
          </div>
          <select name="" id="">

            <option value="IVA 22% vendite"> IVA 22% vendite</option>

            <option value="IVA 10% vendite"> IVA 10% vendite</option>

          </select>

          <svg class="icon icon--arrow-down">
            <use xlink:href="../../assets/icons.svg#arrow-down" />
          </svg>

        </div>
      </div>
      <div class="l-margin-top--small">
        <div class="a-input  a-input--select  ">
          <div class="a-input__label">
            Label
          </div>
          <select name="" id="">

            <option value="IVA 22% vendite"> IVA 22% vendite</option>

            <option value="IVA 10% vendite"> IVA 10% vendite</option>

          </select>

          <svg class="icon icon--arrow-down">
            <use xlink:href="../../assets/icons.svg#arrow-down" />
          </svg>

        </div>
      </div>
    </div>

    <div class="col-4">
      <div>
        <div class="a-digit-box  a-digit-box--big">

          <div class="a-digit-box__main">
            550,00 €
          </div>

          <div class="a-digit-box__secondary">
            Importo totale <span>(IVA inclusa)</span>
          </div>

        </div>

      </div>
      <div class="l-margin-top--small">
        <div class="a-digit-box  a-digit-box--big">

          <div class="a-digit-box__main">
            550,00 €
          </div>

          <div class="a-digit-box__secondary">
            Importo totale <span>(IVA inclusa)</span>
          </div>

        </div>

      </div>
      <div class="l-margin-top--small">
        <div class="row">
          <div class="col-6">
            <div class="a-digit-box">
              <div class="a-digit-box__main">
                550,00 €
              </div>
              <div class="a-digit-box__secondary">
                Importo totale <span>(IVA inclusa)</span>
              </div>
            </div>

          </div>
          <div class="col-6">
            <div class="a-digit-box">
              <div class="a-digit-box__main">
                550,00 €
              </div>
              <div class="a-digit-box__secondary">
                {{ 'TOTAL_AMOUNT' | translate}} <span>{{ 'IVA_INCLUSED' | translate}}</span>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="l-main-wrapper  l-margin-top--normal">
  <div class="l-white-container">
    <div class="l-main-wrapper">
      <table class="m-financing-table">
        <thead>
          <tr>
            <th></th>
            <th>{{ 'PERCENTAGE' | translate }}<br>{{ 'FINANCING' | translate }}</th>
            <th>{{ 'AMOUNT' | translate }}<br>{{ 'FUNDED' | translate }}</th>
            <th>{{ 'SERVICES' | translate }}<br>{{ 'INSURANCE' | translate }}</th>
            <th>{{ 'SERVICES_OF' | translate }}<br>{{ 'ASSISTANCE_AGREEMENT' | translate }}</th>
            <th>{{ 'AMOUNT' | translate }} <br>{{ 'TOTAL' | translate }}</th>
          </tr>
        </thead>
        <tbody>

          <tr>
            <td>
              <div class="a-onoffswitch">
                <div class="a-onoffswitch__element">
                  <input type="checkbox" name="idswitch" class="a-onoffswitch__checkbox" id="idswitch" checked>
                  <label class="a-onoffswitch__circle" for="idswitch"></label>
                </div>

                <div class="a-onoffswitch__label">
                  label
                </div>

              </div>
            </td>
            <td>
              <div class="a-input  a-input--text  ">
                <div class="a-input__label">

                </div>
                <input type="text" value="3,90 %">
              </div>
            </td>
            <td>
              <div class="a-input  a-input--text  ">
                <div class="a-input__label">

                </div>
                <input type="text" value="6442,00 €">
              </div>
            </td>
            <td></td>
            <td></td>
            <td>
              <div class="a-digit-box  a-digit-box--big">

                <div class="a-digit-box__main">
                  100,00 €
                </div>

              </div>

            </td>
          </tr>
          <tr>
            <td>
              <div class="a-onoffswitch">
                <div class="a-onoffswitch__element">
                  <input type="checkbox" name="idswitch" class="a-onoffswitch__checkbox" id="idswitch" checked>
                  <label class="a-onoffswitch__circle" for="idswitch"></label>
                </div>

                <div class="a-onoffswitch__label">
                  label
                </div>

              </div>
            </td>
            <td>
              <div class="a-input  a-input--text  a-input--disabled">
                <div class="a-input__label">

                </div>
                <input type="text" value="3,90 %" disabled>
              </div>
            </td>
            <td>
              <div class="a-input  a-input--text  a-input--disabled">
                <div class="a-input__label">

                </div>
                <input type="text" value="6442,00 €" disabled>
              </div>
            </td>
            <td>
              41,03 €
            </td>
            <td>
              41,03 €
            </td>
            <td>
              <div class="a-digit-box  a-digit-box--big">

                <div class="a-digit-box__main">
                  100,00 €
                </div>

              </div>

            </td>
          </tr>
          <tr>
            <td>
              <div class="a-onoffswitch">
                <div class="a-onoffswitch__element">
                  <input type="checkbox" name="idswitch" class="a-onoffswitch__checkbox" id="idswitch" checked>
                  <label class="a-onoffswitch__circle" for="idswitch"></label>
                </div>

                <div class="a-onoffswitch__label">
                  label
                </div>

              </div>
            </td>
            <td>
              <div class="a-input  a-input--text  a-input--disabled">
                <div class="a-input__label">

                </div>
                <input type="text" value="3,90 %" disabled>
              </div>
            </td>
            <td>
              <div class="a-input  a-input--text  a-input--disabled">
                <div class="a-input__label">

                </div>
                <input type="text" value="6442,00 €" disabled>
              </div>
            </td>
            <td>
              41,03 €
            </td>
            <td>
              41,03 €
            </td>
            <td>
              <div class="a-digit-box  a-digit-box--big">

                <div class="a-digit-box__main">
                  100,00 €
                </div>

              </div>

            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="l-main-wrapper  l-margin-top--normal">
  <div class="row l-middle">
    <div class="col-4">
      <div class="row l-middle">
        <div class="col-6">
          <div class="a-onoffswitch">
            <div class="a-onoffswitch__element">
              <input type="checkbox" name="idswitch" class="a-onoffswitch__checkbox" id="idswitch" checked>
              <label class="a-onoffswitch__circle" for="idswitch"></label>
            </div>

            <div class="a-onoffswitch__label">
              label
            </div>

          </div>
        </div>
        <div class="col-6">
          <div class="a-input  a-input--text  a-input--disabled">
            <div class="a-input__label">

            </div>
            <input type="text" value="3,90 %" disabled>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="row l-middle">
        <div class="col-6">
          <div class="a-digit-box">
            <div class="a-digit-box__main">
              4,74 %
            </div>
            <div class="a-digit-box__secondary">
              TAEG
            </div>
          </div>

        </div>
        <div class="col-6">
          <div class="a-input  a-input--text  ">
            <div class="a-input__label">
              Label
            </div>
            <input type="text" value="" placeholder="Label Placeholder">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="l-main-wrapper  l-margin-top--normal">
  <div class="m-accordion-trigger m-accordion-trigger--active">
    <div class="m-accordion-trigger__label">
      Label
    </div>
    <div class="a-tag">
      <span>
        2
      </span>
    </div>
    <svg class="icon icon--arrow-down">
      <use xlink:href="../../assets/icons.svg#arrow-down" />
    </svg>

  </div>
</div>
<div class="l-main-wrapper">
  <div class="l-white-container">

    <div class="l-main-wrapper  l-margin-top--small">
      <div class="row">
        <div class="col">
          <div class="ty-body">
            Ogni rata comprende il costo base dell’asset e tutti i servizi.
          </div>
        </div>
        <div class="col l-end">
          <div class="a-onoffswitch">
            <div class="a-onoffswitch__element">
              <input type="checkbox" name="idswitch" class="a-onoffswitch__checkbox" id="idswitch" checked>
              <label class="a-onoffswitch__circle" for="idswitch"></label>
            </div>

            <div class="a-onoffswitch__label">
              label
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="l-main-wrapper  l-margin-top--normal">
      <div class="m-calendar">

        <div class="m-calendar__years">
          <div class="m-calendar__year">

          </div>
          <div class="m-calendar__year">
            2019
          </div>
          <div class="m-calendar__year">
            2020
          </div>
          <div class="m-calendar__year">
            2021
          </div>
          <div class="m-calendar__year">
            2022
          </div>
        </div>

        <div class="m-calendar__data">
          <div class="m-calendar__months">
            <div class="m-calendar__month">
              GEN
            </div>
            <div class="m-calendar__month">
              FEB
            </div>
            <div class="m-calendar__month">
              MAR
            </div>
            <div class="m-calendar__month">
              APR
            </div>
            <div class="m-calendar__month">
              MAG
            </div>
            <div class="m-calendar__month">
              GIU
            </div>
            <div class="m-calendar__month">
              LUG
            </div>
            <div class="m-calendar__month">
              AGO
            </div>
            <div class="m-calendar__month">
              SET
            </div>
            <div class="m-calendar__month">
              OTT
            </div>
            <div class="m-calendar__month">
              NOV
            </div>
            <div class="m-calendar__month">
              DIC
            </div>
          </div>

          <div class="m-calendar__rates">

            <div class="m-calendar__rate">

            </div>

            <div class="m-calendar__rate">

            </div>

            <div class="m-calendar__rate">

            </div>

            <div class="m-calendar__rate">

            </div>

            <div class="m-calendar__rate">
              100,5 €
            </div>

            <div class="m-calendar__rate">
              100,5 €
            </div>

            <div class="m-calendar__rate">
              100,5 €
            </div>

            <div class="m-calendar__rate">
              100,5 €
            </div>

            <div class="m-calendar__rate">
              100,5 €
            </div>

            <div class="m-calendar__rate">
              100,5 €
            </div>

            <div class="m-calendar__rate">
              100,5 €
            </div>

            <div class="m-calendar__rate">
              100,5 €
            </div>

            <div class="m-calendar__rate">
              100,5 €
            </div>

            <div class="m-calendar__rate">
              100,5 €
            </div>

            <div class="m-calendar__rate">
              100,5 €
            </div>

            <div class="m-calendar__rate">
              100,5 €
            </div>

            <div class="m-calendar__rate">
              100,5 €
            </div>

            <div class="m-calendar__rate">
              100,5 €
            </div>

            <div class="m-calendar__rate">
              100,5 €
            </div>

            <div class="m-calendar__rate">
              100,5 €
            </div>

            <div class="m-calendar__rate">
              100,5 €
            </div>

            <div class="m-calendar__rate">
              100,5 €
            </div>

            <div class="m-calendar__rate">
              100,5 €
            </div>

            <div class="m-calendar__rate">
              100,5 €
            </div>

            <div class="m-calendar__rate">
              100,5 €
            </div>

            <div class="m-calendar__rate">
              100,5 €
            </div>

            <div class="m-calendar__rate">
              100,5 €
            </div>

            <div class="m-calendar__rate">
              100,5 €
            </div>

            <div class="m-calendar__rate">
              100,5 €
            </div>

            <div class="m-calendar__rate">
              100,5 €
            </div>

            <div class="m-calendar__rate">
              100,5 €
            </div>

            <div class="m-calendar__rate">
              100,5 €
            </div>

            <div class="m-calendar__rate">
              100,5 €
            </div>

            <div class="m-calendar__rate">
              100,5 €
            </div>

            <div class="m-calendar__rate">
              100,5 €
            </div>

            <div class="m-calendar__rate">
              100,5 €
            </div>

            <div class="m-calendar__rate">
              100,5 €
            </div>

            <div class="m-calendar__rate">
              100,5 €
            </div>

            <div class="m-calendar__rate">
              100,5 €
            </div>

            <div class="m-calendar__rate">
              100,5 €
            </div>

            <div class="m-calendar__rate">
              100,5 €
            </div>

            <div class="m-calendar__rate">
              100,5 €
            </div>

            <div class="m-calendar__rate">
              100,5 €
            </div>

            <div class="m-calendar__rate">
              100,5 €
            </div>

            <div class="m-calendar__rate">
              100,5 €
            </div>

            <div class="m-calendar__rate">
              100,5 €
            </div>

            <div class="m-calendar__rate">
              100,5 €
            </div>

            <div class="m-calendar__rate">
              100,5 €
            </div>

          </div>

        </div>

      </div>
    </div>

    <div class="l-main-wrapper  l-margin-top--normal">
      <div class="row l-between">

        <label class="a-checkbox" for="field-id-9301">
          <input type="checkbox" id="field-id-9301">
          <span></span>

          <div class="ty-body">
            label
          </div>

        </label>

        <div class="a-button  a-button--azure">
          Button
        </div>
      </div>
    </div>
  </div>
</div>

<div class="l-main-wrapper  l-margin-top--small">
  <div class="m-accordion-trigger">
    <div class="m-accordion-trigger__label">
      Label
    </div>
    <svg class="icon icon--arrow-down">
      <use xlink:href="../../assets/icons.svg#arrow-down" />
    </svg>

  </div>
</div>

<div class="l-main-wrapper  l-margin-top--normal">
  <div class="m-footer-controls">

    <div class="m-footer-controls__child">

      <div class="a-button  a-button--transparent">
        {{ 'GO_OUT' | translate }}
      </div>

    </div>

    <div class="m-footer-controls__child">

      <div class="a-button">
        {{ 'BACK' | translate }}
      </div>

      <div class="a-button  a-button--azure">
        {{ 'GO_AHEAD' | translate }}
      </div>

    </div>

  </div>
</div>