.a-service-card {
	background: #fff;
	padding: rem(18);
	font-size: rem(14);
	color: color(black);
	display: flex;
	justify-content: space-between;
	margin-top: rem(15);
	box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.06);
	&:first-of-type {
		margin-top: 0;
	}
	&:last-of-type {
		margin-bottom: rem(15);
	}
	@extend .ff-DaimlerCS-Bold;

	&--close {
		color: color(azure);
	}
	&__name {
		display: flex;
		align-items: center;
		svg {
			display: none;
			fill: color(azure);
			width: rem(22);
			height: rem(22);
			margin-right: rem(5);
		}
	}

	&__default {
		display: flex;
		align-items: center;
		svg {
			fill: color(azure);
			width: rem(22);
			height: rem(22);
			margin-right: rem(5);
		}
	}

	&--active {
		.a-service-card__name {
			svg {
				display: block;
			}
		}
		.a-service-card__default {
			svg {
				display: inline;
			}
		}
		color: #fff;
		background: color(blue);
		svg {
			fill: #fff !important;
		}
	}


	&__price {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		svg {
			fill: color(azure);
			display: block;
			width: rem(22);
			height: rem(22);
			margin: 0 rem(5);
		}
	}

	&__star {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		svg {
			fill: color(azure);
			display: block;
			width: rem(32);
			height: rem(32);
			margin: 0 rem(5);
		}
	}

}
