<form [formGroup]="commonForm">
    <div class="l-main-wrapper  l-margin-top--small">
        <div class="ty-body">
            {{ 'SELECTED_CAMPAIGN_SERVICES' | translate}}
        </div>
    </div>
    <div class="row l-margin-top--normal mx-0 l-margin-bottom--normal" >
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10 pb-4" id="noleggioOtaxi" (click)="removeError('noleggioOtaxi')" >
                    <!-- Noleggio o Taxi -->
                    <div class="row " (change)="handleChange($event)">
                        <div class="col-md-12 a-input__label "> {{"TYPE_OF_USE" | translate | required }}</div>
                        <div class="col-md-4 text-center  a-input__label">
                            <div class="l-margin-top--xsmall">
                                <label class="a-radio" for="field-id-5101">
                                    <input type="radio" name="noleggioOtaxi" value="true" id="field-id-5101"
                                           formControlName="noleggioOtaxi" class="form-control a-input--radio-circle" >
                                    <div class="ty-body d-table my-auto ml-2 my-auto">
                                        {{"YES" | translate}}
                                    </div>
                                    <span></span>
                                </label>
                            </div>
                        </div>
                        <div class="col-md-4 text-center  a-input__label">
                            <div class="l-margin-top--xsmall">
                                <label class="a-radio" for="field-id-5102">
                                    <input type="radio" name="noleggioOtaxi" value="false" id="field-id-5102"
                                           formControlName="noleggioOtaxi" class="form-control" >
                                    <div class="ty-body d-table my-auto ml-2 my-auto">
                                        {{"NO" | translate}}
                                    </div>
                                    <span></span>
                                </label>
                            </div>

                        </div>
                    </div>
                    <!--In caso di form in errore-->
                    <span class="a-input__alert d-none">
                        {{'EMPTY' | translate}}
                    </span>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>

        <div class="col-md-3" *ngIf="!flagIsTaxi">
            <!-- VALORE ASSICURATO -->
            <app-currency-input formControlName="valoreAssicurativo" [label]="'INSURANCE_VALUE'"
                                (focusEvent)="removeError('valoreAssicurativo')"></app-currency-input>
        </div>

        <div class="col-md-3 my-auto" *ngIf="!flagIsTaxi">
            <!-- RECUPERO IVA -->
            <div class="d-table m-auto " id="recuperoIva">
                <label class="a-checkbox  a-input__label" for="field-id-5606">
                    <input type="checkbox" name="recuperoIva" id="field-id-5606" formControlName="recuperoIva"
                           class="form-control" (change)="toggleVatFromTotal()">
                    <span></span>
                    <div class="ty-body">
                        {{"VAT_RECOVERY" | translate}}
                    </div>
                </label>
            </div>
        </div>

        <div class="col-md-3 my-auto" *ngIf="!flagIsTaxi">
            <div class="d-table m-auto " id="deroga">
                <label class="a-checkbox  a-input__label" for="field-id-5607">
                    <input type="checkbox" name="deroga" id="field-id-5607" formControlName="deroga"
                           class="form-control">
                    <span></span>
                    <div class="ty-body">
                        {{"DEROGATION_OF_INSURANCE_SERVICES" | translate}}
                    </div>
                </label>
            </div>
        </div>
    </div>
</form>


