<div class="m-calendar" *ngIf="!paymentYear">
  <div class="m-calendar__years">
    <div class="m-calendar__year">

    </div>
  </div>
  <div class="m-calendar__data">
    <div class="m-calendar__months">
      <div class="m-calendar__month" *ngFor="let month of months; let i = index"  style="cursor: pointer" (click)="massiveChangeByMonth(i)">
        {{month}}
      </div>
    </div>
  </div>
</div>

<div class="m-calendar" *ngIf="!!paymentYear">
  <div class="m-calendar__years">
    <div class="m-calendar__year" style="cursor: pointer">  <!--(click)="massiveChangeByYear()"-->
      {{paymentYear.year}}
    </div>
  </div>
  <div class="m-calendar__data">
    <div class="m-calendar__rates">
      <div class="m-calendar__rate" *ngFor="let month of paymentYear.paymentMonths; let i= index">
        <app-payment-month [(paymentMonth)]="paymentYear.paymentMonths[i]" [enableEditing]="enableEditing"
                           (changeTrigger)="propagateChanging($event)"></app-payment-month>
      </div>
    </div>
  </div>
</div>
<!--
<div class="row col-12" *ngIf="!paymentYear">
    <div class="col-1 m-calendar__year">
    </div>
    <div class=" row col-11">
        <div class="col-1 m-calendar__month" *ngFor="let month of months">
            {{month}}
        </div>
    </div>
</div>

<div class="row col-12" *ngIf="!!paymentYear">
    <div class="col-1 m-calendar__year">
        {{paymentYear.year}}
    </div>
    <div class=" row col-11">
        <div class="col-1" *ngFor="let month of paymentYear.paymentMonths">
            <app-payment-month [paymentMonth]="month"></app-payment-month>
        </div>
    </div>
</div>-->
