<div class="row l-margin-top--small">
    <div class="col-12">
        <div class="m-accordion-trigger" [ngClass]="{'m-accordion-trigger--active': showContent}">
            <div class="m-accordion-trigger__label">
                {{'CONFIGURATION_FINANCIAL' | translate }}
            </div>
            <div class="m-accordion-trigger__icons" (click)="showContent = !showContent">
                <app-svg-icon [icon]="'arrow-down'"></app-svg-icon>
            </div>
        </div>
    </div>
</div>

<!--STRICT-->
<div class="l-white-container " style="display: block" id="strictFinanzialConf" [hidden]="!showContent">

    <div class="row l-main-wrapper l-margin-top--normal">

        <!--colonna 1-->
        <div class="col-4">
            <div class="l-margin-top--small">
                <div class="a-input  a-input--text  ">
                    <div class="a-input__label">
                        {{'FINANCIAL_PRODUCT'|translate}}
                    </div>
                    <input type="text" name="prodottoFinanziario" id="finanziario" [disabled]="!isEditing"
                           [(ngModel)]="financialQueue.prodottoFinanziario"/>
                </div>
            </div>

            <div class="l-margin-top--small">
                <div class="a-input  a-input--select  ">
                    <div class="a-input__label">
                        {{'FREQUENCY'|translate}}
                    </div>
                    <select id="financial-frequency-select" (change)="setEffectiveDateList(true)"
                            [disabled]="!isEditing">
                        <option *ngFor="let opt of returnList('FREQUENCY')" [value]="opt.key">
                            {{opt.value}}
                        </option>
                    </select>
                    <app-svg-icon [icon]="'arrow-down'"></app-svg-icon>
                </div>
            </div>
            <div class="l-margin-top--small">
                <div class="a-input  a-input--select"
                     [hidden]="!financialQueue.used">
                    <div class="a-input__label">
                        {{'ACTUAL_KM'|translate}} <!--kilometraggio-->
                    </div>
                    <select id="financial-mileage-select" (change)="updateSelectForm()"
                            [(ngModel)]="financialQueue.frequency" [disabled]="!isEditing">
                        <option *ngFor="let opt of returnList('KILOMETERS')" [value]="opt.key">
                            {{opt.value}}
                        </option>
                    </select>
                    <app-svg-icon [icon]="'arrow-down'"></app-svg-icon>
                </div>
            </div>

        </div>

        <!--colonna 2-->
        <div class="col-4">
            <div class="l-margin-top--small">
                <div class="a-input  a-input--select  ">
                    <div class="a-input__label">
                        {{'DURATION'|translate}}
                    </div>
                    <select id="financial-duration-select" (change)="updateSelectForm(true)"
                            [(ngModel)]="financialQueue.contractLength" [disabled]="!isEditing">
                        <option *ngFor="let opt of returnList('RANGE_DURATION')" [value]="opt.key">
                            {{opt.value}}
                        </option>
                    </select>
                    <app-svg-icon [icon]="'arrow-down'"></app-svg-icon>
                </div>
            </div>
            <div class="l-margin-top--small">
                <div class="a-input  a-input--select  ">
                    <div class="a-input__label">
                        {{'EFFECT'|translate}}
                    </div>
                    <select id="financial-effect-select" (change)="setEffectiveDateList(true)"
                            [(ngModel)]="financialQueue.distance" [disabled]="!isEditing">
                       <option *ngFor="let opt of effectiveDateList" [value]="opt.key">
                            {{opt.value}}
                        </option>
                    </select>
                    <app-svg-icon [icon]="'arrow-down'"></app-svg-icon>
                </div>
            </div>
            <div class="l-margin-top--small">
                <div class="a-input  a-input--select  ">
                    <div class="a-input__label">
                        {{'TYPE_OF_INTEREST'|translate}}
                    </div>
                    <select id="financial-interest-type-select" (change)="updateSelectForm()" [disabled]="!isEditing"
                            [(ngModel)]="financialQueue.tipoInteresse">
                        <option *ngFor="let opt of returnList('INTEREST')" [value]="opt.key">
                            {{opt.value}}
                        </option>
                    </select>
                    <app-svg-icon [icon]="'arrow-down'"></app-svg-icon>

                </div>
            </div>
        </div>

        <!--colonna 3: TOTALI-->
        <div class="col-4">
            <div class="row">
                <div class="a-digit-box  a-digit-box--big">

                    <div class="a-digit-box__main">
                        {{financialQueue.netCost | currency:'EUR'| currencyFormatter}}
                    </div>

                    <div class="a-digit-box__secondary" *ngIf="!financialQueue.used">
                        {{'FINAL_PRICE'|translate}} <span> {{'IVA_INCLUDED'|translate}} </span>
                    </div>

                    <div class="a-digit-box__secondary" *ngIf="financialQueue.used">
                        {{'TOTAL_AMOUNT'|translate}} <span> {{'IVA_EXCLUDED'|translate}} </span>
                    </div>

                </div>

            </div>
            <div class="row l-margin-top--small">
                <div class="a-digit-box  a-digit-box--big">

                    <div class="a-digit-box__main">
                        {{financialQueue.financedAmount | currency:'EUR'| currencyFormatter}}
                    </div>

                    <div class="a-digit-box__secondary" *ngIf="!financialQueue.used">
                        {{'AMOUNT_FINANCED'|translate}} <span>{{'IVA_INCLUDED'|translate}} </span>
                    </div>


                    <div class="a-digit-box__secondary" *ngIf="financialQueue.used">
                        {{'IMPORT_OPTIONAL'|translate}} <span>{{'IVA_EXCLUDED'|translate}} </span>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <div class="l-main-wrapper l-margin-top--small">
        <form>
            <table class="m-financing-table">
                <thead>
                <tr>
                    <th></th>
                    <th>{{ 'PERCENTAGE' | translate }}</th>
                    <th>{{ 'AMOUNT' | translate }}<br></th>
                    <th>{{ 'TOTAL_AMOUNT' | translate }}<br>{{ 'ADDITIONAL_CHARGE_AND_SERVICE' | translate }}</th>
                    <th>{{ totalLabel[0] | translate }} <br>{{ totalLabel[1]| translate }}</th>
                    <th *ngIf="financialQueue.used">
                        {{ totalWithIaLabel[0] | translate }} <br>{{ totalWithIaLabel[1] | translate}}
                    </th>
                </tr>
                </thead>
                <tbody>

                <tr>
                    <td>
                        <div class="a-onoffswitch">
                            <div class="a-onoffswitch__element">
                                <input type="checkbox" name="idswitch" class="a-onoffswitch__checkbox"
                                       (change)="updetateOutInfo()"
                                       id="advanceCheckbox">
                                <label class="a-onoffswitch__circle" for="advanceCheckbox"></label>
                            </div>

                            <div class="a-onoffswitch__label">
                                {{ 'ADVANCE' | translate }}
                                <div>
                                    <div class="a-text__label">
                                        <span>
                                            0-100%
                                            <!-- {{rangeDownpayment.min}}-{{rangeDownpayment.max}}%-->
                                        </span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </td>
                    <td><!--!blockedFields.anticipo-->
                        <app-percentage-input (blurEvent)="updateValueFromPercentage()"></app-percentage-input>
                    </td>
                    <td>
                        <app-currency-input (blurEvent)="updetateOutInfo()"></app-currency-input>
                    </td>
                    <td>
                        <div class="a-digit-box__secondary" *ngIf="financialQueue.used">
                            {{additionalCharges | currency:'EUR'| currencyFormatter }}
                        </div>
                    </td>

                    <td nowrap>
                        <div class="a-digit-box  a-digit-box--big">

                            <div class="a-digit-box__main">
                                {{totalAmountAdvance| currency:'EUR'| currencyFormatter}}
                            </div>

                        </div>
                    </td>
                    <td nowrap *ngIf="financialQueue.used">
                        <div class="a-digit-box  a-digit-box--big">
                            <div class="a-digit-box__main">
                                {{totalAmountAdvanceWithiIva| currency:'EUR'| currencyFormatter}}
                            </div>
                        </div>
                    </td>
                </tr>
                <tr *ngIf="!blockedFields.matriceRate">
                    <td>
                        <div class="a-onoffswitch">
                            <div class="a-onoffswitch__element">
                                <input type="checkbox" name="idswitch" class="a-onoffswitch__checkbox"
                                       id="rateCheckbox" (change)="updetateOutInfo()">
                                <label class="a-onoffswitch__circle" for="rateCheckbox"></label>
                            </div>

                            <div class="a-onoffswitch__label">
                                {{ rateLabel | translate }}
                            </div>

                        </div>
                    </td>
                    <td><!--!blockedFields.rata-->
                        <app-percentage-input (blurEvent)="updateValueFromPercentage()"></app-percentage-input>
                    </td>
                    <td>
                        <app-currency-input (blurEvent)="updetateOutInfo()"></app-currency-input>
                    </td>
                    <td>
                        <div class="a-digit-box__secondary">
                            {{additionalCharges| currency:'EUR'| currencyFormatter}}
                        </div>
                    </td>
                    <td nowrap>
                        <div class="a-digit-box  a-digit-box--big">

                            <div class="a-digit-box__main">
                                {{totalAmountRate| currency:'EUR'| currencyFormatter}}
                            </div>

                        </div>

                    </td>
                    <td nowrap *ngIf="financialQueue.used">
                        <div class="a-digit-box  a-digit-box--big">

                            <div class="a-digit-box__main">
                                {{totalAmountRateWithiIva| currency:'EUR'| currencyFormatter}}
                            </div>

                        </div>

                    </td>
                </tr>
                <tr *ngIf="showBaloon">
                    <td>
                        <div class="a-onoffswitch">
                            <div class="a-onoffswitch__element">
                                <input type="checkbox" name="idswitch" class="a-onoffswitch__checkbox"
                                       id="balloonCheckbox" (change)="updetateOutInfo()">
                                <label class="a-onoffswitch__circle" for="balloonCheckbox"></label>
                            </div>

                            <div class="a-onoffswitch__label">
                                {{ balloonLabel | translate }}
                                <div>
                                    <div class="a-text__label">
                                        <span>
                                            0-100%
                                            <!-- {{rangeBalloon.min}}-{{rangeBalloon.max}}% -->
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td><!--!blockedFields.importoRataBalloon-->
                        <app-percentage-input (blurEvent)="updateValueFromPercentage()"></app-percentage-input>
                    </td>
                    <td>
                        <app-currency-input (blurEvent)="updetateOutInfo()"></app-currency-input>
                    </td>
                    <td>
                        <div class="a-digit-box__secondary" *ngIf="!financialQueue.used">
                            {{additionalCharges | currency:'EUR'| currencyFormatter }}
                        </div>
                    </td>
                    <td nowrap>
                        <div class="a-digit-box  a-digit-box--big">

                            <div class="a-digit-box__main">
                                {{totalAmountBalloon | currency:'EUR'| currencyFormatter }}
                            </div>
                        </div>
                    </td>
                    <td nowrap *ngIf="financialQueue.used">
                        <div class="a-digit-box  a-digit-box--big">

                            <div class="a-digit-box__main">
                                {{totalAmountBalloonWithiIva | currency:'EUR'| currencyFormatter }}
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
    <div class="a-digit-box">
        <div class="l-main-wrapper">
            <div class="l-middle row-details-title-underline">
                <div class="a-digit-box__inside">
                    {{ 'ADDITIONAL_CHARGE_DETAIL' | translate}}
                </div>
                <div class="m-table-list__row">
                    <table class="m-financing-table financial-detail-table">
                        <tbody>
                        <tr>
                            <td>
                                <span class="m-accordion-row__child-title">{{ 'SERVICES' | translate }} {{ 'INSURANCE' | translate }}</span>
                                <span style="font-size: 1.7rem">:
                                    {{insuranceAmmount|currency:'EUR'|currencyFormatter}}
                            </span>
                            </td>
                            <td>
                                <span class="m-accordion-row__child-title"> {{ 'SERVICES_OF' | translate }}{{ 'ASSISTANCE_AGREEMENT' | translate }}</span>
                                <span style="font-size: 1.7rem">:
                                    {{assitanceAmmount|currency:'EUR'|currencyFormatter}}
                            </span>
                            </td>
                            <td>
                                <span class="m-accordion-row__child-title">{{"MANAGEMENT_FEES" | translate}}</span>
                                <span style="font-size: 1.7rem">:
                                    {{managmentFees|currency:'EUR'|currencyFormatter}}
                            </span>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="l-main-wrapper  l-margin-top--normal">
            <form>
                <div class="row l-middle">
                    <div class="col-6">
                        <div class="row l-middle">
                            <div class="col-3">
                                <div class="a-onoffswitch">
                                    <div class="a-onoffswitch__element">
                                        <input type="checkbox" name="idswitch" class="a-onoffswitch__checkbox"
                                               id="tanCheckbox" (change)="updetateOutInfo()">
                                        <label class="a-onoffswitch__circle" for="tanCheckbox"></label>
                                    </div>
                                    <div class="a-onoffswitch__label">
                                        {{ 'TAN' | translate }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="b-text  a-text--disabled">
                                    <div class="a-text__label">

                                    </div>
                                    <app-percentage-input [decimalDigit]="3"
                                                          (blurEvent)="updateValueFromPercentage()"></app-percentage-input>
                                    <!-- [disabled]="!blockedFields.tan" -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row l-middle">
                            <div class="col-6">
                                <div class="a-digit-box">
                                    <div class="a-digit-box__main">
                                        0%
                                    </div>
                                    <div class="a-digit-box__secondary">
                                        {{ 'TAEG' | translate }}
                                    </div>
                                </div>

                            </div>
                            <div class="col-6">
                                <div class="b-text  ">
                                    <div class="a-text__label">
                                        {{ 'EXPERTISE_EXPENSES' | translate }}
                                    </div>
                                    <app-currency-input (blurEvent)="updetateOutInfo()"></app-currency-input>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
