.order-none {
  //nasconde tutti gli span
  span.hidden {
    display: none;
    overflow: hidden;
  }
}
// nasconde gli span .down
.order-asc {
  span.down{
    display: none;
    overflow: hidden;
  }
}
// nasconde gli span .up
.order-desc {
  span.up{
    display: none;
    overflow: hidden;
  }
}

span {
  color: black;
}

.hoverable{
  cursor:pointer;
}