<!--fixed header-->
<table class="m-table-list  m-table-list--row-hover">
    <thead class="m-table-list__header">
    <th *ngFor="let key of LIST_LABELS; let i=index" id="{{'h'+i}}" [ngStyle]="{'width': _widths[i]}" class="m-table-list__col  m-table-list__col--label order-none">
        <a class='hoverable' (click)="sortByField('h'+i);"> {{ key | translate }}
            <!-- freccia ordinamento discendente-->
            <span class = "hidden down">
                        <app-svg-icon [icon]="'arrow-down'" class="sorting-arrow ">
                        </app-svg-icon>
                    </span>
            <!-- freccia ordinamento ascendente -->
            <span class="hidden up">
                        <app-svg-icon [icon]="'arrow-down'" class="sorting-arrow sorting-arrow--up">
                        </app-svg-icon>
                    </span>
        </a>
    </th>
    </thead>
</table>
<!--scrollable body-->
<div [id]="id" class="mCustomScrollbar scrollable__element">
  <table class="m-table-list  m-table-list--row-hover">
    <tbody class="m-table-list__data">
    <tr class="m-table-list__row" *ngFor='let v of inputList' (click)="onClick(v)">
      <td [ngStyle]="{'width': _widths[0]}" *ngIf="v" class="m-table-list__col  m-table-list__col--label">
        <div class="h-ellipsis" title={{v.productCode}}>
          {{v.productCode | void}}
        </div>

      </td>

      <td [ngStyle]="{'width': _widths[1]}" *ngIf="v" class="m-table-list__col  m-table-list__col--label">

        <div class="h-ellipsis" title={{v.version}}>
          {{v.version | void}}
        </div>

      </td>

      <td [ngStyle]="{'width': _widths[2]}" *ngIf="v" class="m-table-list__col  m-table-list__col--label">

        <div class="h-ellipsis" title={{v.fuel}}>
          {{v.fuel | void}}
        </div>

      </td>

      <td [ngStyle]="{'width': _widths[3]}" *ngIf="v" class="m-table-list__col  m-table-list__col--label">

        <div class="h-ellipsis" title={{v.catalog}}>
          {{v.catalog | void: defalutValueDate}}
        </div>

      </td>

      <td [ngStyle]="{'width': _widths[4]}" *ngIf="v" class="m-table-list__col  m-table-list__col--label">

        <div class="h-ellipsis" title={{v.price}}>
          {{v.price | currency: 'EUR' | currencyFormatter | void}}
        </div>

      </td>

    </tr>

    </tbody>

  </table>
</div>