<div class="l-main-wrapper  l-spacing--v-margin-small-auto">
    <div class="m-filter-container m-filter-container--active">

        <ng-container [ngSwitch]="activeTab">

            <ng-container *ngSwitchCase="activeTab == tabs.ALL ||
            activeTab == tabs.PROPWORKQUEUE ? activeTab : false">
                <app-consult-filter-work-queue
                        (cdsValue)="saveAdvancedFilter($event)" (derogaValue)="saveAdvancedFilter($event)"
                        (documentazioneValue)="saveAdvancedFilter($event)" (lineaProdottoValue)="saveAdvancedFilter($event)"
                        (retailValue)="saveAdvancedFilter($event)" (soggettoValue)="saveAdvancedFilter($event)"

                        [cdsFilters]="cdsFilters" [derogaFilters]="derogaFilters"
                        [documentazioneFilters]="documentazioneFilters" [lineaProdottoFilters]="lineaProdottoFilters"
                        [retailFilters]="retailFilters" [soggettoFilters]="soggettoFilters"></app-consult-filter-work-queue>
            </ng-container>

            <ng-container *ngSwitchCase="
            activeTab == tabs.TARGATELAIO || activeTab == tabs.NUMCONTRATTO ||
            activeTab == tabs.CFPIVA || activeTab == tabs.NUMPROP ? activeTab : false">
                <app-consult-filter-text [firstLabel]="childFirstTextLabel" [secondLabel]="childSecondTextLabel" (firstValue)="saveAdvancedFilter($event)" (secondValue)="saveAdvancedFilter($event)"></app-consult-filter-text>
            </ng-container>

            <ng-container *ngSwitchCase="activeTab == tabs.NOLEGGIOMBCHW ||
            activeTab == tabs.NOLEGGIOMBR || activeTab == tabs.DATAMODELLO ||
            activeTab == tabs.OPDIRETTE || activeTab == tabs.SUBENTRI || activeTab == tabs.DATASTATO ||
            activeTab == tabs.DATAVENDITORE || activeTab == tabs.PROPESITATEFINAL || activeTab == tabs.DATAWQSOSPESECONCESSIONARIO ? activeTab : false ">
                <app-consult-filter-date-select [filterList]="filterList" [listLabel]="childSelectLabel" (dateValue)="saveAdvancedFilter($event)" (selectValues)="saveAdvancedFilter($event)"></app-consult-filter-date-select>
            </ng-container>

            <ng-container *ngSwitchCase="activeTab == tabs.DATA ||activeTab == tabs.DATACLIENTE  ? activeTab : false ">
                <app-consult-filter-date-text (dateValue)="saveAdvancedFilter($event)" [textLabel]="childFirstTextLabel" (textValue)="saveAdvancedFilter($event)"></app-consult-filter-date-text>
            </ng-container>



        </ng-container>
        <div class="m-filter-container__controls">
            <div class="m-footer-controls">
                <div class="m-footer-controls__child">
                    <div class="a-button" (click)="clearForm()">
                        {{ 'CLEAR' | translate }}
                    </div>
                    <div class="a-button  a-button--azure" (click)="saveAdvancedFilter()">
                        {{ 'CONFIRM' | translate }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
