<!-- TODO: Rimuovere WIP -->

<div class="row l-margin-top--small">
    <div class="col-12">
        <div class="m-accordion-trigger" [ngClass]="{'m-accordion-trigger--active': showContent}">
            <div class="m-accordion-trigger__label">
                Diego Bertolini
            </div>
            <!-- <div class="m-accordion-trigger__icons" (click)="showContent = !showContent"> -->
            <div class="m-accordion-trigger__icons" (click)="showWIP()">
                <div class="m-accordion-trigger__sublabel">Titolare effettivo, GarantE</div>
                <app-svg-icon [icon]="'arrow-down'"></app-svg-icon>
            </div>
        </div>
        <div class="l-white-container" [hidden]="!showContent">
            <div class="">
                <div class="row">
                    <div class="col-12">
                        <table class="m-table-list  m-table-list--row-hover">
                            <thead class="m-table-list__header">
                            <tr class="m-table-list__row">
                                <td class="m-table-list__col  m-table-list__col--label">
                                    {{'SERVICE' | translate}}
                                </td>
                                <td class="m-table-list__col  m-table-list__col--label">
                                    {{'DATA_BANK' | translate}}
                                </td>
                                <td class="m-table-list__col  m-table-list__col--label">
                                    {{'DATA' | translate}}
                                </td>
                                <td class="m-table-list__col  m-table-list__col--label">
                                </td>
                            </tr>
                            </thead>
                            <tbody class="m-table-list__data">
                            <tr class="m-table-list__row">
                                <td class="m-table-list__col  m-table-list__col--label ">
                                    <div class="h-ellipsis m-table-list__alert" title="Eurisc">
                                        <div class="m-table-list__alerticon">
                                        </div>
                                        <div class="m-table-list__alerttd">
                                            Eurisc
                                        </div>
                                    </div>
                                </td>
                                <td class="m-table-list__col  m-table-list__col--label ">
                                    <div class="h-ellipsis m-table-list__alert" title="CRIF">
                                        <div class="m-table-list__alerticon">
                                        </div>
                                        <div class="m-table-list__alerttd">
                                            CRIF
                                        </div>
                                    </div>
                                </td>
                                <td class="m-table-list__col  m-table-list__col--label ">
                                    <div class="h-ellipsis m-table-list__alert" title="22/09/2017 10:52:43">
                                        <div class="m-table-list__alerticon">
                                        </div>
                                        <div class="m-table-list__alerttd">
                                            22/09/2017 10:52:43
                                        </div>
                                    </div>
                                </td>
                                <td class="m-table-list__col  m-table-list__col--actions-mono ">
                                    <div class="m-action-controls">
                                        <div class="m-action-controls__child">
                                            <app-svg-icon [icon]="'arrow-down'"></app-svg-icon>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr class="m-table-list__row">
                                <td class="m-table-list__col  m-table-list__col--label ">
                                    <div class="h-ellipsis m-table-list__alert" title="Fraud Analyzer Compliance">
                                        <div class="m-table-list__alerticon">
                                        </div>
                                        <div class="m-table-list__alerttd">
                                            Fraud Analyzer Compliance
                                        </div>
                                    </div>
                                </td>
                                <td class="m-table-list__col  m-table-list__col--label ">
                                    <div class="h-ellipsis m-table-list__alert" title="CRIF">
                                        <div class="m-table-list__alerticon">
                                        </div>
                                        <div class="m-table-list__alerttd">
                                            CRIF
                                        </div>
                                    </div>
                                </td>
                                <td class="m-table-list__col  m-table-list__col--label ">
                                    <div class="h-ellipsis m-table-list__alert" title="22/09/2017 17:23:09">
                                        <div class="m-table-list__alerticon">
                                        </div>
                                        <div class="m-table-list__alerttd">
                                            22/09/2017 17:23:09
                                        </div>
                                    </div>
                                </td>
                                <td class="m-table-list__col  m-table-list__col--actions-mono ">
                                    <div class="m-action-controls">
                                    </div>
                                </td>
                            </tr>
                            <tr class="m-table-list__row">
                                <td class="m-table-list__col  m-table-list__col--label ">
                                    <div class="h-ellipsis m-table-list__alert" title="Protesti/pregiudizievoli">
                                        <div class="m-table-list__alerticon">
                                            <app-svg-icon [icon]="'error'"></app-svg-icon>
                                        </div>
                                        <div class="m-table-list__alerttd">
                                            Protesti/pregiudizievoli
                                            <small>Moroso</small>
                                        </div>
                                    </div>
                                </td>
                                <td class="m-table-list__col  m-table-list__col--label ">
                                    <div class="h-ellipsis m-table-list__alert" title="EXPERIAN">
                                        <div class="m-table-list__alerticon">
                                        </div>
                                        <div class="m-table-list__alerttd">
                                            EXPERIAN
                                        </div>
                                    </div>
                                </td>
                                <td class="m-table-list__col  m-table-list__col--label ">
                                    <div class="h-ellipsis m-table-list__alert" title="22/09/2017 17:23:09">
                                        <div class="m-table-list__alerticon">
                                        </div>
                                        <div class="m-table-list__alerttd">
                                            22/09/2017 17:23:09
                                        </div>
                                    </div>
                                </td>
                                <td class="m-table-list__col  m-table-list__col--actions-mono ">
                                    <div class="m-action-controls">
                                    </div>
                                </td>
                            </tr>
                            <tr class="m-table-list__row">
                                <td class="m-table-list__col  m-table-list__col--label ">
                                    <div class="h-ellipsis m-table-list__alert" title="Eurisc">
                                        <div class="m-table-list__alerticon">
                                        </div>
                                        <div class="m-table-list__alerttd">
                                            Eurisc
                                        </div>
                                    </div>
                                </td>
                                <td class="m-table-list__col  m-table-list__col--label ">
                                    <div class="h-ellipsis m-table-list__alert" title="CRIF">
                                        <div class="m-table-list__alerticon">
                                        </div>
                                        <div class="m-table-list__alerttd">
                                            CRIF
                                        </div>
                                    </div>
                                </td>
                                <td class="m-table-list__col  m-table-list__col--label ">
                                    <div class="h-ellipsis m-table-list__alert" title="22/09/2017 17:23:09">
                                        <div class="m-table-list__alerticon">
                                        </div>
                                        <div class="m-table-list__alerttd">
                                            22/09/2017 17:23:09
                                        </div>
                                    </div>
                                </td>
                                <td class="m-table-list__col  m-table-list__col--actions-mono ">
                                    <div class="m-action-controls">
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row l-margin-top--small">
    <div class="col-12">
        <div class="m-accordion-trigger" [ngClass]="{'m-accordion-trigger--active': showContent1}">
            <div class="m-accordion-trigger__label">
                Francesca Romana
            </div>
            <div class="m-accordion-trigger__icons" (click)="showWIP()">
            <!-- <div class="m-accordion-trigger__icons" (click)="showContent1 = !showContent1"> -->
                <div class="m-accordion-trigger__sublabel">Titolare effettivo, GarantE</div>
                <app-svg-icon [icon]="'arrow-down'"></app-svg-icon>
            </div>
        </div>
        <div class="l-white-container" [hidden]="!showContent1">
            <div class="">
                <div class="row">
                    <div class="col-12">
                        <table class="m-table-list  m-table-list--row-hover">
                            <thead class="m-table-list__header">
                            <tr class="m-table-list__row">
                                <td class="m-table-list__col  m-table-list__col--label">
                                    {{'SERVICE' | translate}}
                                </td>
                                <td class="m-table-list__col  m-table-list__col--label">
                                    {{'DATA_BANK' | translate}}
                                </td>
                                <td class="m-table-list__col  m-table-list__col--label">
                                    {{'DATA' | translate}}
                                </td>
                                <td class="m-table-list__col  m-table-list__col--label">
                                </td>
                            </tr>
                            </thead>
                            <tbody class="m-table-list__data">
                            <tr class="m-table-list__row">
                                <td class="m-table-list__col  m-table-list__col--label ">
                                    <div class="h-ellipsis m-table-list__alert" title="Eurisc">
                                        <div class="m-table-list__alerticon">
                                        </div>
                                        <div class="m-table-list__alerttd">
                                            Eurisc
                                        </div>
                                    </div>
                                </td>
                                <td class="m-table-list__col  m-table-list__col--label ">
                                    <div class="h-ellipsis m-table-list__alert" title="CRIF">
                                        <div class="m-table-list__alerticon">
                                        </div>
                                        <div class="m-table-list__alerttd">
                                            CRIF
                                        </div>
                                    </div>
                                </td>
                                <td class="m-table-list__col  m-table-list__col--label ">
                                    <div class="h-ellipsis m-table-list__alert" title="22/09/2017 10:52:43">
                                        <div class="m-table-list__alerticon">
                                        </div>
                                        <div class="m-table-list__alerttd">
                                            22/09/2017 10:52:43
                                        </div>
                                    </div>
                                </td>
                                <td class="m-table-list__col  m-table-list__col--actions-mono ">
                                    <div class="m-action-controls">
                                        <div class="m-action-controls__child">
                                            <app-svg-icon [icon]="'arrow-down'"></app-svg-icon>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr class="m-table-list__row">
                                <td class="m-table-list__col  m-table-list__col--label ">
                                    <div class="h-ellipsis m-table-list__alert" title="Fraud Analyzer Compliance">
                                        <div class="m-table-list__alerticon">
                                        </div>
                                        <div class="m-table-list__alerttd">
                                            Fraud Analyzer Compliance
                                        </div>
                                    </div>
                                </td>
                                <td class="m-table-list__col  m-table-list__col--label ">
                                    <div class="h-ellipsis m-table-list__alert" title="CRIF">
                                        <div class="m-table-list__alerticon">
                                        </div>
                                        <div class="m-table-list__alerttd">
                                            CRIF
                                        </div>
                                    </div>
                                </td>
                                <td class="m-table-list__col  m-table-list__col--label ">
                                    <div class="h-ellipsis m-table-list__alert" title="22/09/2017 17:23:09">
                                        <div class="m-table-list__alerticon">
                                        </div>
                                        <div class="m-table-list__alerttd">
                                            22/09/2017 17:23:09
                                        </div>
                                    </div>
                                </td>
                                <td class="m-table-list__col  m-table-list__col--actions-mono ">
                                    <div class="m-action-controls">
                                    </div>
                                </td>
                            </tr>
                            <tr class="m-table-list__row">
                                <td class="m-table-list__col  m-table-list__col--label ">
                                    <div class="h-ellipsis m-table-list__alert" title="Protesti/pregiudizievoli">
                                        <div class="m-table-list__alerticon">
                                            <app-svg-icon [icon]="'error'"></app-svg-icon>
                                        </div>
                                        <div class="m-table-list__alerttd">
                                            Protesti/pregiudizievoli
                                            <small>Moroso</small>
                                        </div>
                                    </div>
                                </td>
                                <td class="m-table-list__col  m-table-list__col--label ">
                                    <div class="h-ellipsis m-table-list__alert" title="EXPERIAN">
                                        <div class="m-table-list__alerticon">
                                        </div>
                                        <div class="m-table-list__alerttd">
                                            EXPERIAN
                                        </div>
                                    </div>
                                </td>
                                <td class="m-table-list__col  m-table-list__col--label ">
                                    <div class="h-ellipsis m-table-list__alert" title="22/09/2017 17:23:09">
                                        <div class="m-table-list__alerticon">
                                        </div>
                                        <div class="m-table-list__alerttd">
                                            22/09/2017 17:23:09
                                        </div>
                                    </div>
                                </td>
                                <td class="m-table-list__col  m-table-list__col--actions-mono ">
                                    <div class="m-action-controls">
                                    </div>
                                </td>
                            </tr>
                            <tr class="m-table-list__row">
                                <td class="m-table-list__col  m-table-list__col--label ">
                                    <div class="h-ellipsis m-table-list__alert" title="Eurisc">
                                        <div class="m-table-list__alerticon">
                                        </div>
                                        <div class="m-table-list__alerttd">
                                            Eurisc
                                        </div>
                                    </div>
                                </td>
                                <td class="m-table-list__col  m-table-list__col--label ">
                                    <div class="h-ellipsis m-table-list__alert" title="CRIF">
                                        <div class="m-table-list__alerticon">
                                        </div>
                                        <div class="m-table-list__alerttd">
                                            CRIF
                                        </div>
                                    </div>
                                </td>
                                <td class="m-table-list__col  m-table-list__col--label ">
                                    <div class="h-ellipsis m-table-list__alert" title="22/09/2017 17:23:09">
                                        <div class="m-table-list__alerticon">
                                        </div>
                                        <div class="m-table-list__alerttd">
                                            22/09/2017 17:23:09
                                        </div>
                                    </div>
                                </td>
                                <td class="m-table-list__col  m-table-list__col--actions-mono ">
                                    <div class="m-action-controls">
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

