<!--<div id="mbz-notify-inject__id">
    <div class="l-main-wrapper  l-margin-top&#45;&#45;normal" *ngIf="activeState">
        <div class="a-info-auto">
            <div>
                <span class="a-info-auto__data-1">{{productSummary.model}}</span>
                <span class="a-info-auto__data-2">{{productSummary.version}}</span>
            </div>
            <div>
            <span class="a-info-auto__data-3">
                Codice Prodotto: {{productSummary.productCode}}
            </span>
            </div>
        </div>
    </div>
</div>-->

<div class="l-main-wrapper" id="mbz-notify-inject__id">
    <div class="m-recap-header" *ngIf="showSummary()">
        <div class="m-recap-header__info">
            <div class="a-info-auto">
                <div>

                    <span class="a-info-auto__data-1">{{productSummary.model}} </span>

                    <span *ngIf="showVersionAndProductCode()"
                          class="a-info-auto__data-2">{{productSummary.version}}</span>

                </div>

                <div>
                    <span class="a-info-auto__data-3" *ngIf="showVersionAndProductCode()">
                        {{ 'PRODUCT_CODE' | translate}}: {{productSummary.productCode}}
                    </span>
                </div>


            </div>

        </div>

        <!--TODO: leave comment to the following lines when the next states will be available-->
        <!-- <div class="m-recap-header__data">

            <div>
                <strong>
                    finanziamento balloon
                </strong>
                <span>
                    {{productSummary.financial}}
                </span>
            </div>

            <div>
                <strong>
                    Anagrafica
                </strong>
          <span class="a-info-auto__data-4">
            {{productSummary.registry.accountHolder}} {{productSummary.registry.type}}
          </span>
            </div>

            <div>
                <strong>
                    Istruttoria
                </strong>
                <span>
           {{productSummary.preliminary}}
        </span>
            </div>

            <div>
                <strong>
                    Contratto
                </strong>
                <span>
           {{productSummary.contract}}
        </span>
            </div>

        </div> -->
    </div>

</div>