.wip_img_dim {
  height: 15%;
  width: 15%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: 5%;
}

.wip_title {
  font-size: x-large;
  font-weight: bold;
  text-align: center;
}

.wip_message {
  font-size: large;
  text-align: center;
  padding-bottom: 1.5rem;
}