<div style="margin-top: inherit">
  <h3 class="wip_title">
    {{title}}
  </h3>
  <div>
    <img alt src="{{imgpath}}" class="wip_img_dim">
    <div class="wip_message">
      <!--<span> {{message}}</span>-->
    </div>
  </div>
</div>