<div class="l-main-wrapper  l-margin-top--normal ">
  <!-- header fisso -->
  <table class="m-table-list  m-table-list--row-hover">
    <thead class="m-table-list__header">
      <tr class="m-table-list__row">
        <th *ngFor="let key of headers; let i=index" id="{{'h'+i}}"
          class="m-table-list__col  m-table-list__col--label order-none">
          <a class='hoverable' (click)="sortByField('h'+i);">
            {{ key | uppercase | translate }}
          </a>
          <!--"i" per info stati proposta-->
          <!--<a *ngIf="i==3" class='hoverable' (click)="openStatePopup()">-->
          <!--<app-svg-icon [icon]="'info'" class="iconInfo"></app-svg-icon>-->
          <!--</a>-->
          <!--freccia ordinamento-->
          <a class='hoverable' (click)="sortByField('h'+i);">
            <!--discendente-->
            <span class="down">
              <app-svg-icon [icon]="'arrow-down'" class="sorting-arrow ">
              </app-svg-icon>
            </span>
            <!--ascendente -->
            <span class="up">
              <app-svg-icon [icon]="'arrow-down'" class="sorting-arrow sorting-arrow--up">
              </app-svg-icon>
            </span>
          </a>
        </th>
      </tr>
    </thead>
  </table>
  <!-- body scrollabile -->
  <div malihu-scrollbar id="{{id}}" class="mCustomScrollbar scrollable__element" [style.maxHeight]="__wrapperHeight">
    <table class="m-table-list  m-table-list--row-hover">
      <tbody class="m-table-list__data" *ngFor='let v of proposalsList; let i = index'>
        <tr id="row{{i}}" class="m-table-list__row">
          <!--NEW-->
          <td *ngFor="let key of objectKeys; let j=index" class="m-table-list__col  m-table-list__col--label">
            <ng-container [ngSwitch]="key">
              <div *ngSwitchCase="'contract'" class="h-ellipsis" title={{v[key]}}>
                {{v[key] | contractCodeFormatter | void}}
              </div>
              <div *ngSwitchDefault class="h-ellipsis" title={{v[key]}}>
                {{v[key] | void}}
              </div>
              <div *ngSwitchCase="'campagna'" class="h-ellipsis" data-placement="top" data-toggle="tooltip" title={{v.descrizioneCampagna}}>
                {{v[key] | void}}
              </div>
            </ng-container>
          </td>
          <td style="padding-top: 19px; padding-bottom: 19px">
            <div style="margin: auto; display: table;">
              <div class="m-action-controls">
                <div class="m-action-controls__child" [hidden]="v.numBlocchi <= 0">
                  <app-svg-icon style="padding-right: 5px" class="icon iconMedium" [icon]="'loked'">
                  </app-svg-icon>
                  <div class="m-action-controls__child__notification">
                    <div class="a-notification">
                      {{v.numBlocchi}}
                    </div>
                  </div>
                </div>
                <div class="m-action-controls__child" [hidden]="v.numDocMancanti <= 0">
                  <app-svg-icon style="padding-right: 5px" class="icon iconMedium" [icon]="'notification'"
                    (click)="openUnavailableContent()">
                  </app-svg-icon>
                  <div class="m-action-controls__child__notification">
                    <div class="a-notification">
                      {{v.numDocMancanti}}
                    </div>
                  </div>
                </div>
                <app-svg-icon id="trigger{{i}}" class="icon iconMedium" [icon]="'arrow-down'"
                  (click)="openAccordion(i); checkContent()">
                </app-svg-icon>
              </div>
            </div>
          </td>
        </tr>

        <!-- accordion content-->
        <tr id="accordion{{i}}" class="m-table-list__row hidden">
            <td colspan="11" class="m-table-list__col  m-table-list__col-- bg-white">
                <div class="m-accordion-row__wrapper">
                    <div class="m-accordion-row__col">
                        <div class="m-accordion-row__child">
                            <div class="m-action-controls">
                                <div class="m-action-controls__child" [hidden]="v.numBlocchi < 0">
                                    <app-svg-icon style="padding-right: 5px" class="icon iconMedium"
                                                  [icon]="'loked'">
                                    </app-svg-icon>
                                    <div class="m-action-controls__child__notification">
                                        <div class="a-notification">
                                            {{v.numBlocchi}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="m-accordion-row__child m-accordion-row__child-title">
                            Blocchi
                        </div>
                        <div class="m-accordion-row__child c-darkGray">
                            <p>Controllo proposta</p>
                            <p>PEP</p>
                            <p>Blocco numero {{v.numBlocchi}}</p>
                        </div>
                    </div>
                    <div class="m-accordion-row__col">
                        <div class="m-accordion-row__child">
                            <div class="m-action-controls">
                                <div class="m-action-controls__child">
                                    <app-svg-icon style="padding-right: 5px" class="icon iconMedium"
                                                  [icon]="'note'">
                                    </app-svg-icon>
                                </div>
                            </div>
                        </div>
                        <div class="m-accordion-row__child m-accordion-row__child-title">
                            Note
                        </div>
                        <div class="m-accordion-row__child">
                            <p>{{v.richiedente}}</p>
                            <p class="c-darkGray">{{v.lastNote}}</p>
                        </div>
                    </div>
                    <div class="m-accordion-row__col">
                    </div>
                    <div class="m-accordion-row__col">
                        <div class="m-accordion-row__child">
                          <p>Stato</p>
                          <p class="c-darkGray">{{v.propStatus}}</p>
                        </div>
                        <div class="m-accordion-row__child">
                          <p>Data ultimo documento</p>
                          <p class="c-darkGray">20-11-16</p>
                        </div>
                        <div class="m-accordion-row__child">
                            <p>Asset</p>
                            <p class="c-darkGray">{{v.asset | void}}</p>
                        </div>
                      </div>
                    <div class="m-accordion-row__col">
                        <div class="m-accordion-row__child">
                            <p>Causale sospensione</p>
                            <p class="c-darkGray">{{v.causaleSospensione | void}}</p>
                        </div>
                        <div class="m-accordion-row__child">
                            <p>Sospeso da</p>
                            <p class="c-darkGray">{{v.sospesoDa | void}}</p>
                        </div>
                        <div class="m-accordion-row__child">
                          <p>Campagna</p>
                          <p class="c-darkGray">{{v.campagna | void}}</p>
                        </div>
                    </div>
                </div>
                <div class="m-accordion-row__controls">
                  <div class="m-footer-controls">
                    <div class="m-footer-controls__child">
                      <div class="a-button  a-button--azure mr-3" (click)="goToConsultation(v.proposta, v.processInstanceId)">
                        Consulta proposta
                      </div>
                    </div>
                  </div>
                </div>
            </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>