<!--<<<<<<< HEAD-->
<!--<div class="container mt-1 mb-1" style="min-height: 200px;">-->
<!--=======-->
<div class="container mt-1 mb-1" style="min-height: 200px;" >
    <div class="m-table-list__header">
        <div class="row m-table-list__row m-0">
            <div class="col-md-4 py-3 px-0">
                name
            </div>
            <div class="col-md-3 py-3 px-0">

            </div>
        </div>
    </div>

    <div class="row my-3" *ngFor="let elem of attachments">
        <div class="col-md-4 m-auto">
            <div class="">
                {{elem.name}}
            </div>
        </div>
        <div class="col-md-3 m-auto">
            <div class="">
            </div>
        </div>

        <div class="col-md-1"></div>

        <div class="col-md-4">
            <button class="a-button  a-button--file p-1" (click)="getDocument(elem)">
                <div class="a-button--name text-primary">
                    <app-svg-icon [icon]="'pdf'"></app-svg-icon>
                    Scarica Documento
                </div>
            </button>
        </div>
    </div>
</div>

<!-- bottone per modale -->
<div class="button-right">
    <button class="a-button a-button--azure" (click)="closeModal()"> <span style="color:white">Chiudi</span>  </button>
</div>