.m-underline-nav {
	position: relative;
	display: flex;
	&__child {
		font-size: rem(15);
		color: #999;
		padding: rem(3) rem(20) rem(11) rem(5);
		border-bottom: 3px solid #ececec;
		min-width: rem(100);
		margin-right: rem(10);
		&:hover {
			color: color(azure);
			border-bottom: 3px solid color(azure);
		}

		&--active {
			color: color(azure);
			border-bottom: 3px solid color(azure);
			@extend .ff-DaimlerCS-Bold;
		}
	}
}