<!--class="main-container"-->


    <app-notification></app-notification>
    <!-- <app-stepper></app-stepper>
    <app-product-summary></app-product-summary> -->
    <router-outlet></router-outlet>
    <app-proposal-footer></app-proposal-footer>
    <!--TODO: BUTTON GO TOP TO INCLUDE INSIDE FOOTER COMPONENT WITH OTHER BUTTONS-->
    <!--  <button class="a-button&#45;&#45;azure"
                            style="float: right; height: 40px;width: 40px; border-radius:50%;  border-width: 0; background-color: white;
                transform: rotate(180deg)" (click)="goToTop()">
        <a class="a-link">
            <app-svg-icon [icon]="'arrow-down'" ></app-svg-icon>
        </a>
    </button>-->
<div class="a-shadow-layer" *ngIf="showEffect"></div>
