.a-tag {
    display: inline-flex;
    background: color(white);
    color: color(azure);
    padding: rem(10) rem(15);
    font-size: rem(14);
    border-radius: 20px;
    cursor: pointer;
    align-items: center;
    margin: 0 10px 10px 0;
    @extend .ff-DaimlerCS-Demi;
    svg {
        width: rem(15);
        height: rem(15);
        fill: color(azure);
        display: block;
        margin-left: rem(30);
    }
}