.a-filter-button {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;  
  padding-left: rem(11);
  padding-right: rem(11);
  padding-bottom: rem(11);
  border-bottom: rem(3) solid color(lightGray);
  text-decoration: none !important;
  color: color(darkGray);
  margin-right: rem(5);
  @extend .ff-DaimlerCS-Demi;

  &--label {
    min-width: rem(70);
    font-size: rem(16);    
  }

  &--extra {
    font-size: rem(12);
    min-width: rem(60);
    display: inline-flex;
    align-items: center;
    padding-left: rem(20);
    position: relative;
    svg {
        margin-left: rem(5);
        display: inline-block;
        width: rem(20);
        height: rem(20);        
      }
  }

  &--icon {
    svg {
        margin-left: rem(0);
        display: flex;
        width: rem(25);
        height: rem(25);
      }
      
  }
  &__notification {    
    position: absolute;    
    right: rem(-12);
    top: rem(-8);    
  }
  svg {
    fill: color(darkGray);
  }
  &:hover {
    color: color(azure);
    text-decoration: underline;
    border-color: color(azure);

    svg {
      fill: color(azure);
    }
  }

}
