<div id="main-notifify-wrapper__id" class="justify-content-center" [hidden]="!show">
    <div ngClass="{{styleType}}">
        <div class="m-notification__icon">
            <!--      <svg class="icon icon&#45;&#45;alert">
                    <use xlink:href="../../assets/icons.svg#alert" />
                  </svg>-->
            <app-svg-icon [icon]="icon"></app-svg-icon>

        </div>
        <div class="m-notification__text">
            {{mainMessage}}
        </div>
        <div class="m-notification__cta" (click)="showMore = !showMore" *ngIf="!showMore && messages.length>1">
            <!--<a class="a-link">
                <app-svg-icon [icon]="'arrow-down'" ></app-svg-icon>
            </a>-->
            {{ 'SHOW' | translate}}
            <!--{{ 'CLOSE' | translate}}-->
        </div>
        <div class="m-notification__cta" (click)="showMore = !showMore" *ngIf="showMore">
            <!--<a class="a-link">
                <app-svg-icon [icon]="'arrow-down'" ></app-svg-icon>
            </a>-->
            {{ 'HIDE' | translate}}
            <!--{{ 'CLOSE' | translate}}-->
        </div>
        &nbsp;&nbsp;&nbsp;
        <div class="m-notification__cta" (click)="cleanAll()" style="float: right!important;">
            {{ 'CLOSE' | translate}}
        </div>
    </div>
    <!--    <div ngClass="c-box" *ngFor="let m of showedMessages, let i = index" >
            <div class="c-box__text" >
                {{m}}
            </div>
            <div class="c-box__cta" (click)="showMore()" *ngIf="i+1 == maxMsg">
                <a class="a-link">
                    <app-svg-icon [icon]="'arrow-down'" ></app-svg-icon>
                </a>
                &lt;!&ndash;{{ 'CLOSE' | translate}}&ndash;&gt;
            </div>

        </div>-->
    <div class="c-box-external" *ngIf="showMore">
        <div ngClass="{{styleType}} c-box" *ngFor="let m of messages">
            <div class="m-notification__text col-11">
                {{m}}
            </div>
        </div>

    </div>
</div>