.a-shadow-layer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    background: rgba(#000,.5);
}


.m-user-profile {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 10;
	height: 100%;
	//padding-top: rem(50);
	width: rem(464);
	display: flex;
	flex-direction: column;
	&__list {
		font-size: rem(16);
		@extend .ff-DaimlerCS-Demi;
		li {
			span {
				display: flex;
				align-items: center;
			}
			color: #757575;
			//display: flex;
			margin-top: rem(3);
			align-items: center;
			justify-content: space-between;
			&.-is-active {
				color: #000;
				@extend .ff-DaimlerCS-Bold;
				.icon {
					opacity: 1;
				}
			}
		}
		.icon {
			opacity: 0;
			width: rem(30);
			height: rem(30);
			fill: color(azure);
			margin-right: rem(10);
		}
	}
	&__info {
		flex-grow: 1;
	}
	&__ctas {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		justify-content: space-between;
		.a-link {
			line-height: 1;
		}
		.icon {
			margin-right: - rem(10);
			width: rem(40);
			height: rem(40);
		}
	}
	&__name {
		font-size: rem(32);
		margin-bottom: rem(20);
		@extend .ff-DaimlerCAC-Bold;
	}
	&__role {
		font-size: rem(16);
		@extend .ff-DaimlerCAC-Regular;
	}
	&__header {
		display: flex;
        overflow: auto;
	}
	&__header, &__content {
		padding: rem(45);
		overflow-y: auto;
	}
	&__cta {
		padding: rem(15) rem(45);
		background: color(white);
		display: flex;
		justify-content: space-between;
		align-items: center;
		&__label {
			color: color(azure);
			font-size: rem(18);
			@extend .ff-DaimlerCS-Demi;
		}
		.icon {
			width: rem(40);
			height: rem(40);
			fill: color(azure);
			transform: rotate(-90deg);
		}
	}
	&__header {
		background: color(white);
		overflow-y: auto;
		max-height: 19vw;
	}
	&__content {
		flex-grow: 1;
		background: #f8f8f8;
		.ty-medium {
			@extend .ff-DaimlerCS-Regular;
			color: color(black);
			font-size: rem(26);
			margin-bottom: rem(40);
		}
	}
}