.m-header {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	height: rem(97);
	background-image: linear-gradient(to left, rgba(#000,.6), rgba(#000,.6) 42%, #000 59%, #000);
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: rem(25) rem(40);

	&--small {
		position: relative;
		height: rem(62);
		.m-header__logo {
			a, img {
				height: rem(36);
			}
		}
	}

	&__logo {
		a, img {
			display: block;
			height: rem(46);
		}
	}
	&__nav {

	}

	&__links {
		display: flex;
	    align-items: center;
	}

	&__link {
		position: relative;
		font-size: rem(15);
		line-height: rem(16);
		color: color(white)!important;
		margin-right: rem(30);
		&:hover {
			color: color(azure)!important;
		}
		&:last-of-type {
			margin-right: 0;
		}
		&--active {
			color: color(azure)!important;
			@extend .ff-DaimlerCS-Bold;
		}
		svg {
			width: rem(34);
			height: rem(34);
			display: block;
			fill: color(white);
		}
		.a-notification {
			pointer-events: none;
			position: absolute;
			top: 0;
			right: 0;
			transform: translate(30%,-30%);
		}
	}
}