.m-calendar {
	position: relative;
	display: flex;
	&__years {
		width: rem(80);
		min-width: rem(80);
	}
	&__year, &__month, &__rate {
		padding: rem(15) rem(5);
		text-align: center;
		font-size: rem(14);
		flex-grow: 1;
		color: color(black);
		height: rem(50);
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__year, &__month {
		color: #999;
		@extend .ff-DaimlerCS-Bold;
	}
	&__months {
		display: flex;
		justify-content: space-between;
	}
	&__data {
		flex-grow: 1;
	}
	&__rates {
		display: flex;
		flex-wrap: wrap;
	}
	&__rate {
		@extend .ff-DaimlerCS-Demi;
		width: 8.33%;
	}
}