<div class="l-main-wrapper  l-margin-top--normal">
  <div class="row">
    <div class="m-underline-nav l-start col-11">
      <a class="m-underline-nav__child tab__link" [ngClass]="{
  'm-underline-nav__child--active':tab.key == tabKey}" *ngFor="let tab of tabs" (click)="setTab(tab.key)">
        <span [ngClass]="{'color-label' :tab.key == tabKey}">{{tab.label}}</span>
        <a class="a-link tab__link" *ngIf="tab.key == tabKey" style="margin-left: 1rem"
          (click)="onFilterClick()">
          <app-svg-icon [icon]="'filter'" [hidden]="addingTab"></app-svg-icon>
          <app-svg-icon [icon]="'filter'" [hidden]="!addingTab" class="grey"></app-svg-icon>
        </a>
      </a>
      <a class="m-underline-nav__child m-underline-nav__child--active tab__link a-link" (click)="onTabSelectorClick()">
        <app-svg-icon class="iconXSmall" style="margin-left: 20%;" [icon]="'pencil'"></app-svg-icon>
      </a>

    </div>
  </div>
</div>

<div class="l-main-wrapper  l-spacing--v-margin-small-auto" *ngIf="showCorporateFilter">
  <div class="m-filter-container m-filter-container--active">
    <form [formGroup]="advancedFilters">
      <div class="m-filter-container__wrapper">
        <div class="m-filter-container__col">
          <div class="m-filter-container__child m-filter-container__child-title">
            {{'PETITIONER' | translate}}
          </div>
          <div class="m-filter-container__child">
            <div class="a-input  a-input--text">
                <div class="a-input__label">
                    &nbsp;
                </div>
                <input type="text" value="" maxlength="60"  formControlName='subjectName' placeholder="{{'NAME' | translate}}">
            </div>
          </div>
          <div class="m-filter-container__child">
            <!--<div class="a-input a-input&#45;&#45;select">
              <div class="a-input__label">
                {{'TYPE' | translate}}
              </div>
              <select name="" id="" required formControlName='subjectType'>
                <option value="" disabled selected [ngValue]="null">{{'SELECT' | translate}}</option>
                <option *ngFor="let subjType of subjectTypes" [ngValue]="subjType.key">{{subjType.value}}</option>
              </select>
              <app-svg-icon [icon]="'arrow-down'"></app-svg-icon>
            </div>-->
            <app-multi-select [listItems]="subjectTypes" [multiple]="true" [label]="'TYPE'" [placeholder]="'Seleziona...'" (_itemSelected)="getSelectedSubjectType($event)" [reset]="resetSubjectTypes"></app-multi-select>
          </div>
        </div>
        <div class="m-filter-container__col">
          <div class="m-filter-container__child m-filter-container__child-title">
            {{'PROPOSAL_NATURE' | translate}}
          </div>
          
          <div class="m-filter-container__child">
            <div class="a-input  a-input--select  ">
              <div class="a-input__label">
                {{'TIPOLOGY' | translate}}
              </div>
              <select name="" id="" required formControlName='proposalType'>
                <option [ngValue]="null">{{'SELECT' | translate}}</option>
                <option *ngFor="let propType of proposalTypes" [ngValue]="propType.key">{{propType.value}}</option>
              </select>
              <app-svg-icon [icon]="'arrow-down'"></app-svg-icon>
            </div>  
          </div>
          <div class="m-filter-container__child">
            <!--<div class="a-input a-input&#45;&#45;select">
              <div class="a-input__label">
                {{'DEROGATION' | translate}}
              </div>
              <select name="" id="" required formControlName="proposalDerogation">
                <option value="" disabled selected [ngValue]="null">{{'SELECT' | translate}}</option>
                <option *ngFor="let propDerogation of proposalDerogations" [ngValue]="propDerogation.key">
                  {{propDerogation.value}}</option>
              </select>
              <app-svg-icon [icon]="'arrow-down'"></app-svg-icon>
            </div>-->
            <app-multi-select id="test" [listItems]="proposalDerogations" [multiple]="true" [label]="'DEROGATION'" [placeholder]="'Seleziona...'" (_itemSelected)="getSelectedDerogation($event)" [reset]="resetDerogation"></app-multi-select>
          </div>
        </div>
        <!-- <div class="m-filter-container__col">
          <div class="m-filter-container__child m-filter-container__child-title">
            {{'DATA_BANKS' | translate}}
          </div>
          <div class="m-filter-container__child">
            <div class="a-input a-input--select">
              <div class="a-input__label">
                {{'SCORE' | translate}}
              </div>
              <select name="" id="" required formControlName="cds">
                <option value="" disabled selected [ngValue]="null">{{'SELECT' | translate}}</option>
                <option *ngFor="let c of cds" [ngValue]="c.key">{{c.value}}</option>
              </select>
              <app-svg-icon [icon]="'arrow-down'"></app-svg-icon>
            </div>
          </div>  
          <div class="m-filter-container__child">
            <label class="a-checkbox" for="bankError">
              <input type="checkbox" id="bankError" formControlName="dataBankInError">
              <span></span>
              <div class="ty-body">
                  {{'DATA_BANK_IN_ERROR' | translate}}
              </div>
            </label>
          </div>
        </div> -->
      </div>
    </form>
    <div class="m-filter-container__controls">
      <div class="m-footer-controls">
        <div class="m-footer-controls__child">
          <div class="a-button" (click)="clearForm()">
            {{ 'CLEAR' | translate }}
          </div>
          <div class="a-button  a-button--azure" (click)="saveAdvancedFilter()">
            {{ 'CONFIRM' | translate }}
          </div>
        </div>  
      </div>  
    </div>
  </div>
</div>

<div class="l-main-wrapper  l-spacing--v-margin-small-auto" *ngIf="addingTab">
  <div class="m-filter-container m-filter-container--active">
    {{numberOfTabs}}/{{maxNumberOfTabs }}
    <div class="m-filter-container__wrapper">
      <div class="m-filter-container__child" *ngFor="let pt of possibleTabs">
        <label class="a-checkbox" for={{pt.label}}>
          <input type="checkbox" [(ngModel)]="pt.selected" id={{pt.label}}
            *ngIf="numberOfTabs<maxNumberOfTabs || pt.selected">
          <input type="checkbox" [(ngModel)]="pt.selected" disabled
            *ngIf="numberOfTabs>=maxNumberOfTabs && !pt.selected">
          <span></span>
          <div class="ty-body">
            {{pt.label}}
          </div>
        </label>
      </div>
    </div>
    <div class="aligned_right">
      <div (click)="setTabs()" class="a-button  a-button--azure">
        {{ 'CONFIRM' | translate }}
      </div>
    </div>
  </div>
</div>


<!--Spazio per tab selezionata, "Tutte" di default, "WIP" per le tab non ancora sviluppate-->
<!-- <ng-container [ngSwitch]="activeTab"> -->
<!--ALL-->
<!-- <ng-container *ngSwitchCase="ListTabs.ALL"> -->


<app-corporate-list-all *ngIf="printList.length>0" [id]="'proposals-accordion-list-corporate-all'" [proposalsList]="printList"
                        (scrollEvent)="getNextPage()" (sortEvent)="onSort($event)">
</app-corporate-list-all>


<!--componente riempitivo per lista vuota-->
<app-empty-list [emptyList]="printList.length==0"></app-empty-list>
<!-- </ng-container> -->

<!--  &lt;!&ndash;MBCPOS&ndash;&gt;
  <ng-container *ngSwitchCase="ListTabs.MBCPOS">
    <app-tab-mbcpos *ngIf="mbcpostPrintList.length>0"
                    [id]="'proposals-accordion-list-mbcpos'"
                    [proposalsList]="mbcpostPrintList"
                    (scrollEvent)="getNextPage()" (sortEvent)="onSort($event)">
    </app-tab-mbcpos>
    &lt;!&ndash;componente riempitivo per lista vuota&ndash;&gt;
    <app-empty-list [emptyList]="mbcpostPrintList.length==0"></app-empty-list>
  </ng-container>

  &lt;!&ndash;VDZ i.e. OnlineSales&ndash;&gt;
  <ng-container *ngSwitchCase="ListTabs.VDZ">
    <app-tab-vdz *ngIf="vdzPrintList.length>0"
                 [id]="'proposals-accordion-list-vdz'"
                 [proposalsList]="vdzPrintList"
                 (scrollEvent)="getNextPage()" (sortEvent)="onSort($event)">
    </app-tab-vdz>
    &lt;!&ndash;componente riempitivo per lista vuota&ndash;&gt;
    <app-empty-list [emptyList]="vdzPrintList.length==0"></app-empty-list>
  </ng-container>

  &lt;!&ndash;Simulations&ndash;&gt;
  <ng-container *ngSwitchCase="ListTabs.SIMULATIONS">
    <app-tab-simulations *ngIf="simulationsPrintList.length>0"
                         [id]="'proposals-accordion-list-simulations'"
                         [proposalsList]="simulationsPrintList"
                         (scrollEvent)="getNextPage()" (sortEvent)="onSort($event)">
    </app-tab-simulations>
    &lt;!&ndash;componente riempitivo per lista vuota&ndash;&gt;
    <app-empty-list [emptyList]="simulationsPrintList.length==0"></app-empty-list>
  </ng-container>-->

<!--WIP-->
<!-- <app-work-in-progress *ngIf="showWIP" style="margin-top: 5%"></app-work-in-progress>
</ng-container> -->
<!--Fine spazio per tab selezionata-->