.a-input {
	@extend .ff-DaimlerCS-Demi;
	border-bottom: 1px solid color(border);
	margin-right: rem(15);
	width: 100%;
	position: relative;
	&__icon {
		position: absolute;
		bottom: 13%;
		width: rem(25);
		height: rem(25);
		right: rem(5);
		pointer-events: none;
		svg {
			display: block;
			width: 100%;
			height: 100%;
		}
	}
	&__label {
		font-size: rem(12);
		color: #999;
	}
	&__alert {
		transform: translateY(180%);
		color: color(error);
		font-size: rem(10);
		letter-spacing: 1px;
		display: inline-block;
		position: absolute;
		bottom: 0;
		left: 0;
	}
	&--search {
		input {
			padding-left: rem(35) !important;
		}
		.a-input__icon {
			left: rem(5);
			right: auto;
			fill: color(azure);
		}
	}
	&--error {
		border-bottom: 1px solid color(error);
	}
	&--select  {
		position: relative;
		svg {
			width: rem(25);
			height: rem(25);
			position: absolute;
			bottom: 14%;
			right: rem(0);
			pointer-events: none;
		}
	}

	&--calendar  {
		position: relative;
		cursor: pointer;
		svg {
			width: rem(25);
			height: rem(25);
			position: absolute;
			bottom: 14%;
			right: rem(0);
			pointer-events: none;
		}
	}
	
	&--radio-circle {
		border-bottom: 0 !important;
			input {
				position: absolute;
				z-index: -1;
				opacity: 0;
				&:checked {
					~span span {
						background: color(azure);
					}
				}
		}
		font-size: rem(16);
	
			span {
				display: flex;
				align-items: center;
				justify-content: center;
			margin-top: 1.8rem;
			margin-right: rem(14);
				cursor: pointer;
				background: color(white);
				width: rem(20);
				height: rem(20);
	
				border-radius: rem(10);
				border: 1px solid color(darkGray);
	
				span {
					width: rem(10);
			height: rem(10);
			border:none;
			margin: 0;
				}
		}
		
		.a-input--radio-tab {
			position: relative;
			display: inline-flex;
			align-items: flex-end;
			margin-left: rem(30);
			}
		.a-input--radio-tab:first-of-type {
		margin-left: rem(0);
		}
	
	}

	&--radio {
		border-bottom: 0;
		input {
            position: absolute;
            z-index: -1;
            opacity: 0;
            &:checked {
                ~ span {
                    color: color(azure);
                    background: #d9d9d9;
                }
            }
        }
        span {
        	margin-top: rem(5);
            cursor: pointer;
            background: #ececec;
            display: block;
            width: rem(75);
            height: rem(35);
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: rem(14);
            color: #4d4d4d;
        }
	}

	&--radio-tab {
		position: relative;
		display: inline-block;
	}

	&--disabled {
    color: #999;
    svg {
      fill: #999999 !important;
    }
    input:checked~span span {
      background: #999;
    }

	}
	
	input {
		padding-right: rem(30);
		display: block;
		width: 100%;
		appearance: none;
		display: block;
		border-radius: 0;
		color: color(black);
		&:disabled {
			color: #999;
		}
		&[type="text"] {
			width: 100%;
			padding: rem(11);
			font-size: rem(16);
			background: transparent;
			border: 0;
			outline: none;
			letter-spacing: .2px;
		}
		&::placeholder {
			color: #999;
		}
	}
	select {
		border-radius: 0;
		appearance: none;
		border: 0;
		width: 100%;
		padding: rem(11);
		font-size: rem(16);
		background: transparent;
		border: 0;
		outline: none;
		padding-right: rem(30);
		letter-spacing: .2px;
	}
}