.m-financing-table {
    width: 100%;
    thead, tbody {
        width: 100%;
    }
    th {
        padding-bottom: rem(15);
        text-align: left;
        color: #999;
        font-size: rem(14);
        line-height: rem(15);
        @extend .ff-DaimlerCS-Demi;
    }
    th, td {
        padding-top: rem(10);
        padding-right: rem(30);
    }
}