<form [formGroup]="serviceExcellentForm">

    <!-- Km Totali -->
    <div class="l-margin-top--normal">
        <div class="a-input  a-input--select " id="annualDistance" (click)="removeError('annualDistance')">
            <div class="a-input__label">
                {{ "TOTAL_KM" | translate | required}}
            </div>

            <select formControlName="annualDistance" class="form-control" [ngModel]="annualDistance"
                    *ngIf="service?.distances.length > 0">
                <option value="default" disabled>{{'SELECT_BRAND' | translate }}</option>
                <option *ngFor="let elem of service?.distances" [ngValue]="elem?.annualDistance">
                    {{elem?.annualDistance}} Km
                </option>
            </select>


            <app-svg-icon [icon]="'arrow-down'" class="iconSmall"></app-svg-icon>
        </div>
    </div>


</form>

