<div style="float: right">
  <div>
    <button class="a-button--azure" style="height: 40px;width: 40px; border-radius:50%; border-width: 0" [ngStyle]="{'position': 'fixed', 'top': newProposalButtonPosition, 'right': spaceFromBar}" *ngIf="isNewProposalPresent()" (click)="goToNewProposal()">
      <span style="font-size: 20px; font-weight: bold; color: white"> + </span>
    </button>
  </div>
  <div>
    <button class="a-button--azure"
            style="height: 40px;width: 40px; border-radius:50%;  border-width: 0; background-color: white;
            transform: rotate(180deg)" (click)="goToTop()">
       <a class="a-link">
         <app-svg-icon [icon]="'arrow-down'" ></app-svg-icon>
       </a>
    </button>
  </div>
</div>