.m-modal-window {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    &__close {
        cursor: pointer;
        position: absolute;
        top: rem(30);
        right: rem(30);
        width: rem(30);
        height: rem(30);
        z-index: 999999;
        svg {
            display: block;
            width: 100%;
            height: 100%;
        }
    }
    &__background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 99999;
        background: rgba(#000, .5);
    }
    &__body {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: rem(460);
        z-index: 999999;
        background: color(white);
        padding: rem(60);
    }
    &--full {
        .m-modal-window__background {
            background: #fff;
        }
        .m-modal-window__body {
            width: rem(540);
        }
    }

    &__img {
        img {
            display: block;
            width: 100%;
        }
    }

    &__footer {
        .a-button {
            width: 100%;
            text-align: center;
        }
    }
}

