.m-action-button {
  display: flex;
  align-items: flex-start;

  .m-action-button__menu {
    display: none;
    margin-left: rem(10);
    max-width: calc(100% - 50px);
    min-height: rem(40);
    flex-wrap: wrap;

    &-items {
      padding: 0 rem(22);
      display: flex;
    }
  }


  &--active {

    .m-action-button__menu {
      display: flex;
    }
  }




}
