<div class="m-user-profile " *ngIf="show" [ngStyle]="{'margin-top' : HeaderDimension+'px' }">
    <div class="m-user-profile__header">
        <div class="m-user-profile__info">
            <div class="m-user-profile__name">
                {{userInfo?.firstName}} {{userInfo?.surname}}
            </div>
            <div class="m-user-profile__role">
                {{userInfo?.email}}
            </div>
            <div class="m-user-profile__role">
                {{userInfo?.phone}}
            </div>
            <div class="m-user-profile__role">
                {{jobRole}}
            </div>
        </div>
        <div>
            <app-svg-icon [icon]="'close'" class='iconPremium' (click)="_headerService.changeUserPanel()"
                          [style.cursor]="'pointer'">
            </app-svg-icon>
        </div>

    </div>
    <div class="m-user-profile__content">
        <div *ngIf="showDebugProfileInfo">
            <div>APP: {{debugProfileInfo?.app}}</div>
            <div>Code: {{debugProfileInfo?.code}}</div>
            <div>Description: {{debugProfileInfo?.description}}</div>
            <div *ngFor="let function of debugProfileInfo?.functions"> Elenco funzionalità
                <div>Function code: {{function.code}}</div>
                <div>Function desc: {{function.description}}</div>
                <div *ngFor="let attr of function.attributes">
                    <div>Attribute: {{attr.code}} = {{attr.value}}</div>
                </div>
            </div>
        </div>
    </div>



    <div [ngStyle]="{'margin-bottom' : HeaderDimension+'px' }">
        <a class="m-user-profile__cta text-underline-hidden" href={{logoutPath}}>
            <div class="a-button a-button--azure mbutton_confirm" (click)="logout()">
                {{ 'LOGOUT' | translate }}
            </div>
        </a>
    </div>


</div>
