.scroll{
//  height: 250px;
//  height: rem(20);
//  height: rem(10);
/*  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;*/
}

.user-body{
  height: 200px;
  overflow-y: scroll;
}

.color{
  color: black;
  font-size: 2rem;
}
.margin{
  margin-right: 20px;
}

.user-title{
  position: static;
  margin-bottom: rem(20)!important;
}


.mbutton_confirm {
  margin-top: 5%;
  margin-bottom: 5%;
}

.mbutton_container {
  justify-content: right;
  padding-left: 74%;
}

.text-underline-hidden,
.text-underline-hidden:hover{
  text-decoration: none;
}