.a-digit-box {
	color: color(black);
	@extend .ff-DaimlerCS-Bold;
	&__main {
		font-size: rem(27);
		letter-spacing: .2px;
	}
	&__secondary {
		margin-top: rem(10);
		font-size: rem(14);
		letter-spacing: .3px;
		span {
			color: #999;
		}
	}
	&__inside {
		font-size: rem(15);
		letter-spacing: .2px;
		margin-bottom: rem(20);
		margin-top: rem(20);
	}
	&--small {
		.a-digit-box__main {
			font-size: rem(20);
		}
	}
	&--big {
		.a-digit-box__main {
			font-size: rem(40);
		}
	}
}