<div class="m-proposal-header" *ngIf="headerQueue">

    <div class="m-proposal-header__data">

        <div class="align-center">
            <div class="a-indicator  danger ">
                F.S.
            </div>
            <span>  PD: 2 </span>
        </div>

        <!-- Numero proposta e asset -->
        <div>
            <strong>
                {{'PROPOSAL' | translate}} {{headerQueue.proposta}} <a href="#" class="a-link"> (5) </a>
            </strong>
            <small>
                {{headerQueue.asset}}
            </small>
        </div>

        <!-- Nome e Tipo soggetto -->
        <div >
            <strong>
                {{headerQueue.soggetto}}
            </strong>
            <small>
                {{headerQueue.tipoSoggetto}}
            </small>
        </div>

        <!-- Icone lucchetto -->
        <div class="align-center">
            <div class="m-action-controls">
                <div class="m-action-controls__child">
                    <app-svg-icon style="padding-right: 5px" class="icon iconMedium" [icon]="'loked'"></app-svg-icon>
                    <div class="m-action-controls__child__notification">
                        <div class="a-notification">
                            3
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Finanziamento  -->
        <div>
            <strong>
                {{headerQueue.financialProductDescription}}
            </strong>
            <small>
                {{ 'FINANCING' | translate }}
            </small>
        </div>

        <!-- MAXI RATA -->
        <div>
            <strong>
                {{headerQueue.balloon | currencyFormatter}}
            </strong>
            <small>
                {{'MAX_FEE' | translate}}
            </small>
        </div>

        <!-- ANTICIPO -->
        <div>
            <strong>
                {{headerQueue.anticipo | currencyFormatter}}
            </strong>
            <small>
                {{'ADVANCE' | translate}}
            </small>
        </div>

        <!-- RATA MEDIA -->
        <div>
            <strong>
                {{headerQueue.rateAmount | currencyFormatter}}
            </strong>
            <small>
                {{'MEDIUM_FEE' | translate}}
            </small>
        </div>

        <!-- IMPORTO FINANZIATO -->
        <div>
            <strong>
                {{headerQueue.financiedTotalAmount | currencyFormatter}}
            </strong>
            <small>
                {{'AMOUNT_FINANCED' | translate}}
            </small>
        </div>

        <!-- BUTTON ASSEGNA A -->
        <div class="align-right">
            <a href="#" class="a-link">
                <app-svg-icon style="padding-right: 5px" class="icon iconMedium" [icon]="'assegna'"></app-svg-icon>
                {{'ASSIGN' | translate}}
            </a>
            <small>
                {{'ASSIGNED_TO' | translate}} Bonino
            </small>
        </div>

    </div>
</div>