<header class="m-header">
  <a class="m-header__logo" href="#">
    <img src="/assets/images/m-logo.png" alt="">
  </a>

  <div class="m-header__nav">
    <div class="m-header__links">
      <a href="#" class="m-header__link"><svg class="icon icon--user">
        <use xlink:href="../../assets/icons.svg#user" />
      </svg>
      </a>
    </div>
  </div>
</header>

<div class="m-slider-header">

  <div class="m-slider-header__slide">
    <img src="/assets/images/slider-header-bg.jpeg" alt="">
    <div class="l-main-wrapper  l-margin-top--normal">
      <div class="m-slider-header__title  ty-home-primary">
        Classe E Coupé 220d Sport <br> con Leasing myDrivePass.
      </div>
      <div class="m-slider-header__buttons">
        <div class="a-button  a-button--azure">
          Button
        </div>
        <div class="a-button">
          Button
        </div>
      </div>
    </div>
  </div>

</div>

<div class="l-main-wrapper  l-margin-top--big">
  <div class="ty-home-primary">
    Ti diamo il benvenuto in Mercedes-Benz Financial.
  </div>
  <p class="ty-body c-black l-margin-top--small">
    Da qui puoi gestire il tuo lavoro e ricevere aggiornamenti sulle ultime novità.
  </p>
</div>

<div class="l-main-wrapper  l-margin-top--big  l-margin-bottom--big">
  <div class="row">
    <div class="col-4">
      <div class="ty-home-primary">
        Ultimi aggiornamenti.
      </div>
      <p class="ty-body c-black l-margin-top--small">
        Le novità più recenti su acquisto, noleggio e campagne.
      </p>

      <div class="l-margin-top--normal">
        <div class="a-button  a-button--azure">
          Button
        </div>
      </div>
    </div>

    <div class="col-4">
      <div>
        <p class="ty-body">
          30 gennaio 2019 14.35
        </p>
        <br>
        <a href="#" class="a-link">
          Campagna Noleggio “Mercedes Just The Best”, circolare numero 4 MBCW del 14/01/2019.
        </a>
      </div>
      <div class="l-margin-top--normal">
        <p class="ty-body">
          30 gennaio 2019 14.35
        </p>
        <br>
        <a href="#" class="a-link">
          Campagna Noleggio “Mercedes Just The Best”, circolare numero 4 MBCW del 14/01/2019.
        </a>
      </div>
    </div>

    <div class="col-4">
      <div>
        <p class="ty-body">
          30 gennaio 2019 14.35
        </p>
        <br>
        <a href="#" class="a-link">
          Campagna Noleggio “Mercedes Just The Best”, circolare numero 4 MBCW del 14/01/2019.
        </a>
      </div>
      <div class="l-margin-top--normal">
        <p class="ty-body">
          30 gennaio 2019 14.35
        </p>
        <br>
        <a href="#" class="a-link">
          Campagna Noleggio “Mercedes Just The Best”, circolare numero 4 MBCW del 14/01/2019.
        </a>
      </div>
    </div>
  </div>
</div>