<div class="row l-margin-top--small">
    <div class="col-12">
        <div class="a-input  a-input--text  ">
            <div class="a-input__label">
                {{'h_seller' | translate }}
            </div>
            <input type="text" value="Marco Bonino" [disabled]="!isEditing">
        </div>

        <app-petitioner-proposal [isEditing]="isEditing"></app-petitioner-proposal>
        <app-product-proposal [isEditing]="isEditing"></app-product-proposal>
        <app-proposal-commercial [isEditing]="isEditing"></app-proposal-commercial>
        <app-config-prop-services [isEditing]="isEditing"></app-config-prop-services>
        <app-proposal-sale-details [isEditing]="isEditing"></app-proposal-sale-details>
        <app-exposure-outstanding [isEditing]="isEditing"></app-exposure-outstanding>
        <app-risk-sharing [isEditing]="isEditing" ></app-risk-sharing>

    </div>
</div>


