@import './base/_mixins';
@import './base/_presets';
@import './base/_fonts';
@import './base/_config';
@import './base/_typography';
@import './base/_helpers';
@import './base/_animations';

// This is the main stylesheet file

@import './layouts/main-wrapper';
@import './layouts/alignments';
@import './layouts/spacing';
@import './layouts/grid';

@import "./atoms/shadow-layer/style";
@import "./atoms/link/style";
@import "./atoms/checkbox/style";
@import "./atoms/radio/style";
@import "./atoms/buttons/style";
@import "./atoms/info-auto/style";
@import "./atoms/tag/style";
@import "./atoms/input/style";
@import "./atoms/digit-box/style";
@import "./atoms/notification/style";
@import "./atoms/onoffswitch/style";
@import "./atoms/service-card/style";
@import "./atoms/service-card-small/style";
@import "./atoms/finance-card/style";
@import "./atoms/hp-card/style";
@import "./atoms/filter-button/style";
@import "./atoms/button-round/style";
@import "./atoms/indicator/style";

@import "./mercedes/header/style";
@import "./mercedes/sub-header/style";
@import "./mercedes/slider-header/style";
@import "./mercedes/recap-header/style";
@import "./mercedes/table-list/style";
@import "./mercedes/step-line/style";
@import "./mercedes/footer-controls/style";
@import "./mercedes/question-row/style";
@import "./mercedes/filter-container/style";
@import "./mercedes/card-model/style";
@import "./mercedes/underline-nav/style";
@import "./mercedes/notification-banner/style";
@import "./mercedes/accordion-trigger/style";
@import "./mercedes/calendar/style";
@import "./mercedes/financing-table/style";
@import "./mercedes/action-button/style";
@import "./mercedes/document-file/style";
@import "./mercedes/action-controls/style";
@import "./mercedes/filter-controls/style";
@import "./mercedes/accordion-row/style";
@import "./mercedes/proposal-header/style";
@import "./mercedes/modal-window/style";
@import "./mercedes/user-document-details/style";


html {
    box-sizing: border-box;
    font-size: 10px;
    height: 100%;
}

body {
    line-height: 1;
    font-style: normal;
    font-variant: normal;
    font-size: rem(12);
    background: color(bgGray);
    @extend .ff-DaimlerCS-Regular;
}

*, *:before, *:after {
    box-sizing: inherit;
}
